<bmb-theme [showControls]="true" />
<section style="margin: 10rem" bmbVerticalLayout gapSize="xl">
  <bmb-divider bmbVerticalLayoutItem />
  <bmb-step-progress-bar
    [totalSteps]="5"
    [activeStep]="2"
    [labelSteps]="[
      'Orden de compra 1',
      'Orden de compra 2',
      'Orden de compra 3',
      'Orden de compra 4',
      'Orden de compra 5'
    ]"
    (onStepPanelPress)="onStepPanelPress($event)"
    (onStepPress)="onStepPress($event)"
    (onStepClicked)="onStepClicked($event)"
    (onStepPanelClicked)="onStepPanelClicked($event)"
    bmbVerticalLayoutItem
  />

  <bmb-divider bmbVerticalLayoutItem />
  <bmb-step-progress-bar
    type="step-panel"
    [totalSteps]="5"
    [activeStep]="1"
    [labelSteps]="[
      'Orden de compra 1',
      'Orden de compra 2',
      'Orden de compra 3',
      'Orden de compra 4',
      'Orden de compra 5'
    ]"
    labelComplete="Completo"
    labelIncomplete="Pendiente"
    (onStepPanelPress)="onStepPanelPress($event)"
    (onStepPress)="onStepPress($event)"
    (onStepClicked)="onStepClicked($event)"
    (onStepPanelClicked)="onStepPanelClicked($event)"
    bmbVerticalLayoutItem
  />
  <bmb-divider bmbVerticalLayoutItem />
  <bmb-step-progress-bar
    [totalSteps]="5"
    [activeStep]="0"
    size="default"
    [freeze]="true"
    type="horizontal"
    (onStepPanelPress)="onStepPanelPress($event)"
    (onStepPress)="onStepPress($event)"
    (onStepClicked)="onStepClicked($event)"
    (onStepPanelClicked)="onStepPanelClicked($event)"
    bmbVerticalLayoutItem
  />
  <bmb-divider bmbVerticalLayoutItem />
  <bmb-step-progress-bar
    [totalSteps]="5"
    [activeStep]="1"
    size="default"
    type="horizontal"
    (onStepPanelPress)="onStepPanelPress($event)"
    (onStepPress)="onStepPress($event)"
    (onStepClicked)="onStepClicked($event)"
    (onStepPanelClicked)="onStepPanelClicked($event)"
    bmbVerticalLayoutItem
  />
  <bmb-divider bmbVerticalLayoutItem />
  <bmb-step-progress-bar
    [totalSteps]="5"
    [activeStep]="2"
    size="normal"
    type="horizontal"
    (onStepPanelPress)="onStepPanelPress($event)"
    (onStepPress)="onStepPress($event)"
    (onStepClicked)="onStepClicked($event)"
    (onStepPanelClicked)="onStepPanelClicked($event)"
    bmbVerticalLayoutItem
  />
  <bmb-divider bmbVerticalLayoutItem />
  <bmb-step-progress-bar
    [totalSteps]="5"
    [activeStep]="3"
    size="medium"
    type="horizontal"
    (onStepPanelPress)="onStepPanelPress($event)"
    (onStepPress)="onStepPress($event)"
    (onStepClicked)="onStepClicked($event)"
    (onStepPanelClicked)="onStepPanelClicked($event)"
    bmbVerticalLayoutItem
  />
  <bmb-divider bmbVerticalLayoutItem />
  <bmb-step-progress-bar
    [totalSteps]="5"
    [activeStep]="4"
    size="small"
    type="horizontal"
    labelComplete="Completo"
    labelIncomplete="Pendiente"
    (onStepPanelPress)="onStepPanelPress($event)"
    (onStepPress)="onStepPress($event)"
    (onStepClicked)="onStepClicked($event)"
    (onStepPanelClicked)="onStepPanelClicked($event)"
    bmbVerticalLayoutItem
  /><bmb-divider bmbVerticalLayoutItem />
  <bmb-step-progress-bar
    [totalSteps]="5"
    [activeStep]="5"
    size="small"
    type="horizontal"
    (onStepPanelPress)="onStepPanelPress($event)"
    (onStepPress)="onStepPress($event)"
    (onStepClicked)="onStepClicked($event)"
    (onStepPanelClicked)="onStepPanelClicked($event)"
    bmbVerticalLayoutItem
  /><bmb-divider bmbVerticalLayoutItem />
  <bmb-step-progress-bar
    [totalSteps]="5"
    [activeStep]="-1"
    size="small"
    type="horizontal"
    (onStepPanelPress)="onStepPanelPress($event)"
    (onStepPress)="onStepPress($event)"
    (onStepClicked)="onStepClicked($event)"
    (onStepPanelClicked)="onStepPanelClicked($event)"
    bmbVerticalLayoutItem
  />
</section>
