<div style="margin-bottom: 32px">
  <div style="width: 100%; max-width: 50px; margin-bottom: 16px">
    <bmb-dropdown
      [required]="true"
      [showIcon]="true"
      [placeholder]="'Set Fruit'"
      [icon]="'bolt'"
      [options]="[
        { name: 'Apple name', value: '_apple', icon: 'home', id: 'apple_' },
        { name: 'Banana name', value: '_banana', icon: 'bolt', id: 'banana_' },
        { name: 'Orange name', value: '_orange', icon: 'bolt', id: 'orange_' },
        { name: 'Pear name', value: '_pear', icon: 'info', id: 'pear_' },
        { name: 'Grape name', value: '_grape', icon: 'bolt', id: 'grape_' }
      ]"
      [helperText]="'Select a fruit'"
      [errorMessage]="'Error input dropdown'"
      [label]="'Fruit'"
      [name]="'dropdown'"
      [preferredOptions]="['_pear']"
      [isMultiSelect]="false"
      [tooltip]="'Tool tip'"
      [disabled]="false"
      [value]="''"
      [isFilterable]="false"
      [inputId]="'this-value-should-be-unique'"
    ></bmb-dropdown>
  </div>
  <bmb-input-tags />
  <bmb-input-tags
    [enableCustomTags]="false"
    [tagOptions]="[
      'Tacos al pastor',
      'Enchiladas',
      'Tamales',
      'Quesadillas',
      'Chiles en nogada',
      'Mole poblano',
      'Sopes',
      'Gorditas',
      'Pozole',
      'Ceviche',
      'Tortas',
      'Guacamole',
      'Tacos de pescado',
      'Flautas',
      'Chalupas',
      'Huevos rancheros',
      'Elote',
      'Mole verde',
      'Arroz a la mexicana',
      'Burritos'
    ]"
  />
  <bmb-input placeholder="test" [control]="getFormControl('text_field1')" />
</div>
<button bmbButton size="small">Button text</button>
<button bmbButton size="small" appearance="secondary-filled">
  Button text
</button>
<button bmbButton size="small" appearance="secondary-outlined">
  Button text
</button>
<button bmbButton size="small" appearance="destructive">Button text</button>
<bmb-search-input
  name="test"
  [data]="filterOptions"
  (onClearField)="onClearField($event)"
></bmb-search-input>
<br />
<div style="margin-left: 200px; padding-right: 1rem">
  <bmb-text-editor [control]="getFormControl('htmlText')"></bmb-text-editor>
  <p>{{ getFormControl('htmlText').value }}</p>
  <br />
  <bmb-search-card
    [results]="resultList()"
    (triggerSearch)="handleSearchChange($event)"
    [isLoading]="isSearchLoading()"
    (searchItemClick)="handleServiceClick($event)"
    (getBookmarkItemClick)="handleBookmarkClick($event)"
  ></bmb-search-card>
</div>
