<bmb-multi-dot-paginator
  title="Test title"
  subtitle="Test subtitle"
  [selectedIndex]="0"
>
  <!-- <bmb-multi-dot-paginator-item>
    <div bmbVerticalLayout layoutHeight="100%">
      <bmb-home-card
        bmbVerticalLayoutItem
        [disableScroll]="true"
        [rowGrow]="1"
        title="Some title"
        contentPadding="none"
      >
        <bmb-image
          [src]="
            'https://farm2.staticflickr.com/1919/45579541712_f58c1fd0ed_o.jpg'
          "
          [mobileSrc]="
            'https://2.bp.blogspot.com/-YkNDZEbKt_g/TYzcbF2_tkI/AAAAAAAAalk/Vt_MHS60Xv8/s1600/www.JoseLuisAvilaHerrera.BLOGSPOT.com%2B-%2BFunny%2BCats%2B-%2BGatitos%2Bmuy%2Btiernos%2B8.jpg'
          "
          [alt]="'Fruits'"
          [borderRadius]="'m'"
          [loading]="'lazy'"
          width="100%"
          [enableZoom]="false"
          [isBlurredBackdrop]="false"
          [images]="[
            {
              src: 'https://mitecpprd.tec.mx/api/images/mitec/colaboradores/Avisos/2022/mar//Dia_Internacional_Mujer.jpg',
              alt: 'Image 1'
            },
            {
              src: 'https://mitecpprd.tec.mx/api/images/mitec/colaboradores/Avisos/2022/mar//Dia_Internacional_Mujer.jpg',
              alt: 'Image 1'
            }
          ]"
          [animation]="'fade'"
          [minHeight]="{ s: '400px', l: '100%' }"
        ></bmb-image>
      </bmb-home-card>
    </div>
  </bmb-multi-dot-paginator-item>
  <bmb-multi-dot-paginator-item>
    <div bmbVerticalLayout layoutHeight="100%">
      <bmb-home-card
        bmbVerticalLayoutItem
        [disableScroll]="true"
        [rowGrow]="1"
        title="Some title"
        contentPadding="none"
      >
        <bmb-image
          [alt]="'Fruits'"
          [borderRadius]="'m'"
          [loading]="'lazy'"
          width="100%"
          [enableZoom]="false"
          [isBlurredBackdrop]="false"
          [images]="[
            {
              src: 'https://mitecpprd.tec.mx/api/images/mitec/colaboradores/Avisos/2022/mar//Dia_Internacional_Mujer.jpg',
              alt: 'Image 1'
            }
          ]"
          [animation]="'fade'"
          [minHeight]="{ s: '400px', l: '100%' }"
        ></bmb-image>
      </bmb-home-card>
      <bmb-home-card
        bmbVerticalLayoutItem
        [disableScroll]="true"
        [rowGrow]="1"
        title="Some title"
        contentPadding="none"
      >
        <bmb-image
          [src]="
            'https://farm2.staticflickr.com/1919/45579541712_f58c1fd0ed_o.jpg'
          "
          [mobileSrc]="
            'https://2.bp.blogspot.com/-YkNDZEbKt_g/TYzcbF2_tkI/AAAAAAAAalk/Vt_MHS60Xv8/s1600/www.JoseLuisAvilaHerrera.BLOGSPOT.com%2B-%2BFunny%2BCats%2B-%2BGatitos%2Bmuy%2Btiernos%2B8.jpg'
          "
          [alt]="'Fruits'"
          [borderRadius]="'m'"
          [loading]="'lazy'"
          width="100%"
          [enableZoom]="false"
          [isBlurredBackdrop]="false"
          [images]="[
            {
              src: 'https://mitecpprd.tec.mx/api/images/mitec/colaboradores/Avisos/2022/mar//Dia_Internacional_Mujer.jpg',
              alt: 'Image 1'
            },
            {
              src: 'https://mitecpprd.tec.mx/api/images/mitec/colaboradores/Avisos/2022/mar//Dia_Internacional_Mujer.jpg',
              alt: 'Image 1'
            }
          ]"
          [animation]="'fade'"
          [minHeight]="{ s: '400px', l: '100%' }"
        ></bmb-image>
      </bmb-home-card>
    </div>
  </bmb-multi-dot-paginator-item> -->
  <!-- <bmb-multi-dot-paginator-item>
    <bmb-home-card title="Some title">
      <bmb-balance-overview
        [progressCirclePercent]="75"
        [progressCircleValue]="'$100000000000000'"
        [showProgressCircleValue]="true"
        [progressCircleTitle]="['Total a pagar', 'este mes']"
        [labelPrimary]="'Cuota Mensual'"
        [valuePrimary]="'$7,500.00'"
        [labelSecondary]="'Pendiente'"
        [valueSecondary]="',500.00'"
      ></bmb-balance-overview>
    </bmb-home-card>
  </bmb-multi-dot-paginator-item> -->
  <!-- <bmb-multi-dot-paginator-item>Custom component</bmb-multi-dot-paginator-item>
  <bmb-multi-dot-paginator-item>
    <bmb-home-card title="Some title">Custom content</bmb-home-card>
  </bmb-multi-dot-paginator-item> -->
  <bmb-multi-dot-paginator-item>Custom component</bmb-multi-dot-paginator-item>
  <bmb-multi-dot-paginator-item>
    <bmb-home-card title="Some title">Custom content</bmb-home-card>
  </bmb-multi-dot-paginator-item>
</bmb-multi-dot-paginator>
