<button bmbButton size="small">Button text</button>
<button bmbButton size="small" appearance="secondary-filled">
  Button text
</button>
<button bmbButton size="small" appearance="secondary-outlined">
  Button text
</button>
<button bmbButton size="small" appearance="destructive">Button text</button>
<bmb-search-input
  name="test"
  [data]="filterOptions"
  (onClearField)="onClearField($event)"
></bmb-search-input>
<br />
<div style="margin-left: 200px; padding-right: 1rem">
  <bmb-text-editor [control]="getFormControl('htmlText')"></bmb-text-editor>
  <br />
  <bmb-search-card
    [title]="''"
    [inputPlaceholder]="''"
    [results]="resultList()"
    (triggerSearch)="handleSearchChange($event)"
    [isLoading]="isSearchLoading()"
  ></bmb-search-card>
</div>
