<header class="bmb_template-header">
  <h3>Home</h3>
  <h5>Welcome to BambooPress</h5>
</header>
<div
  class="bmb_template-margin-for-sidebar"
  [style]="{ height: 'calc(100% - 9rem)' }"
>
  <section bmbVerticalLayout [style]="{ height: '100%' }">
    <div
      bmbVerticalLayoutItem
      [rowGrow]="1"
      [style]="{ flex: '1 0 0%', overflow: 'auto' }"
    ></div>
    <bmb-chat-bar
      [placeholder]="'Custom placeholder'"
      [botList]="botList"
      [currentBot]="{
        name: 'TecBot',
        label: 'Tecbot Standard',
        icon: 'bot_tecStandar'
      }"
      [isLoading]="false"
      [showEmoji]="true"
      [enableMicInput]="true"
      [actionsList]="actionsList"
      bmbVerticalLayoutItem
    ></bmb-chat-bar>
  </section>
</div>

<!-- (onSendMessage)="onSendMessage($event)"
    (onSendFiles)="onSendFiles($event)"
    (onRecord)="onRecord($event)"
    (onEmoji)="onEmoji($event)" -->
