<header class="bmb_template-header">
  <h3>Flex</h3>
  <h5>Welcome to BambooPress</h5>
</header>
<div class="bmb_template-margin-for-sidebar">
  <div bmbLayout alignItems="center" justify="center" style="height: 500px">
    <div
      style="
        height: 500px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
      "
    >
    <div>
        <bmb-tooltip componentTitle="Tooltip title">
          <section
            style="
              background-color: red;
              width: calc(100dvw - 250px);
              color: white;
            "
          >
            full row
          </section>
        </bmb-tooltip>
      </div>
      <div style="display: flex; justify-content: space-between">
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
      </div>
      <div style="display: flex; justify-content: space-between">
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
      </div>
      <div style="display: flex; justify-content: space-between">
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
      </div>
      <div style="display: flex; justify-content: space-between">
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
      </div>
      <div style="display: flex; justify-content: space-between">
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
      </div>

      <div style="display: flex; justify-content: space-between">
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
        <bmb-interactive-icon
          bmbLayoutItem
          margin="none"
          [colSm]="1"
          [colLg]="2"
          appearanceContrast="default"
          appearance="red"
          icon="face"
          [horizontal]="false"
          target="_blank"
          link="https://www.youtube.com/"
          layout="regular"
          [setButtonTemplate]="false"
          componentTitle="jslijsfnsadkjfn lkasjdnsndakfjnaklsdjnfaksljndfkjasndflkjansldkjfnalksjdnfkjasndfkljnasldkfjnalsdkjnflkjnasfdkljnfakljsndfklsjdnfkjn"
        />
      </div>
    </div>
  </div>
</div>
