<header class="bmb_template-header">
  <h3>Home</h3>
  <h5>Welcome to BambooPress</h5>
</header>
<div
  class="bmb_template-margin-for-sidebar"
  [style]="{ height: 'calc(100% - 9rem)' }"
>
  <section bmbVerticalLayout [style]="{ height: '100%' }">
    <div
      bmbVerticalLayoutItem
      [rowGrow]="1"
      [style]="{ flex: '1 0 0%', overflow: 'auto' }"
    >
      @for (message of messageList(); track $index) {
        <bmb-chat-bubble
          [message]="message.message"
          [gptIcons]="message.gptIcons"
        ></bmb-chat-bubble>
      }
      @if (isThinking()) {
        <bmb-chat-bubble
          [message]="placeholderMessage"
          [isThinking]="true"
        ></bmb-chat-bubble>
      }
    </div>
    <bmb-chat-bar
      [placeholder]="'Custom placeholder'"
      [botList]="botList"
      [currentBot]="{
        name: 'TecBot',
        icon: '/assets/images/bot-icons/bot_tecStandar.svg'
      }"
      [(isLoading)]="isLoading"
      [showEmoji]="true"
      [actionsList]="[]"
      bmbVerticalLayoutItem
      (onSendMessage)="handleSendMessage($event)"
      (onSendFiles)="handleSendFiles($event)"
      (onRecord)="handleRecord($event)"
      (onEmoji)="handleEmoji($event)"
    ></bmb-chat-bar>
  </section>
</div>

<!-- (onSendMessage)="onSendMessage($event)"
    (onSendFiles)="onSendFiles($event)"
    (onRecord)="onRecord($event)"
    (onEmoji)="onEmoji($event)" -->
