:root {
  // To use colors you should use it in this way background-color: RGBA(var(--color-mariner-900));

  // Mariner
  --color-mariner-50: 240, 248, 254;
  // #DDEEFC
  --color-mariner-100: 221, 238, 252;
  // #C3E2FA
  --color-mariner-200: 195, 226, 250;
  --color-mariner-300: 153, 208, 247;
  // #69b7f1
  --color-mariner-400: 105, 183, 241;
  // #4599EC (Mariner 500)
  --color-mariner-500: 69, 153, 236;
  // #2766CB (--Buttons-Primary-Normal)
  --color-mariner-700: 39, 102, 203;
  --color-mariner-800: 38, 84, 167;
  // #244984
  --color-mariner-900: 36, 73, 132;
  // #1a2e51
  --color-mariner-950: 26, 46, 81;

  // Charade
  // #F6F7F9 (Charade 50)
  --color-charade-50: 246, 247, 249;
  // #EBEDF3
  --color-charade-100: 235, 237, 243;
  // #D3D7E4 (Charade 200)
  --color-charade-200: 211, 215, 228;
  // #ADB6CC (Charade 300)
  --color-charade-300: 173, 182, 204;
  // #617196 (Charade 500)
  --color-charade-500: 97, 113, 150;
  --color-charade-600: 77, 89, 124;
  // #3F4965 (Charade 700)
  --color-charade-700: 63, 73, 101;
  // #373F55 (Charade 800)
  --color-charade-800: 55, 63, 85;
  // #313649 (Charade 900)
  --color-charade-900: 49, 54, 73;
  // #1F222E (Charade 950)
  --color-charade-950: 31, 34, 46;

  // Institucional colors
  // #FFFFFF (White Primary)
  --color-white-primary: 255, 255, 255;
  --color-blue-tec: 0, 57, 166;

  // MiTec

  // #00A7F7
  --color-mitec-blue: 0, 167, 247;
  --mitec_blue-light: var(--color-mitec-blue);
  // #00598D
  --mitec_blue-primary: 0, 89, 141;

  // #CDDE20
  --color-mitec-green: 205, 222, 32;
  --mitec_green-light: var(--color-mitec-green);
  // #485116
  --mitec_green-primary: 72, 81, 22;

  // #EC2661
  --color-mitec-red: 236, 38, 97;
  --mitec_red-light: var(--color-mitec-red);
  // #8D0E3F
  --mitec_red-primary: 141, 14, 63;

  // #FF9901
  --color-mitec-orange: 255, 153, 1;
  --mitec_orange-light: var(--color-mitec-orange);
  // #BB4C02
  --mitec_orange-primary: 187, 76, 2;
  // #FFD146
  --mitec_orange-tint: 255, 209, 70;

  // #EF83D6
  --color-mitec-purple: 239, 131, 214;
  --mitec_purple-tint: var(--color-mitec-purple);
  --mitec_purple-primary: var(--color-purple-light);

  // Constrastes principales
  // #000000 Black Primary
  --color-black-primary: 0, 0, 0;
  --color-black-light: RGBA(var(--color-black-primary), 0.75);
  --color-black-tint: RGBA(var(--color-black-primary), 0.5);
  --color-black-min: RGBA(var(--color-black-primary), 0.25);
  --color-white-light: RGBA(var(--color-white-primary), 0.75);
  --color-white-tint: RGBA(var(--color-white-primary), 0.5);
  --color-white-min: RGBA(var(--color-white-primary), 0.25);

  //Colores base
  //This one is not used anymore but I change the value to mariner-700 because is used in several components
  --color-neon-primary: 39, 102, 203;

  --color-blue-primary: 39, 102, 203;
  --color-blue-light: 70, 119, 199;
  --color-blue-tint: 147, 169, 204;

  // #40A213
  --color-green-primary: 64, 162, 19;
  // #43AA8B
  --color-green-light: 67, 170, 139;
  --color-green-tint: 172, 227, 146;

  //#6A27A1
  --color-purple-primary: 106, 39, 161;
  // #A12780
  --color-purple-light: 161, 39, 128;
  // #C87BBD
  --color-purple-tint: 200, 123, 189;

  // #D32F2F
  --color-red-primary: 211, 47, 47;
  // #F05252
  --color-red-light: 240, 82, 82;
  --color-red-tint: 252, 158, 158;

  // #FCBD07
  --color-yellow-primary: 252, 189, 7;
  // #FED662
  --color-yellow-light: 254, 214, 98;
  // #FFE7A3
  --color-yellow-tint: 255, 231, 163;

  --color-teal-primary: 39, 125, 161;
  --color-teal-light: 82, 137, 159;
  --color-teal-tint: 106, 145, 161;

  //Fondos complementarios Dark
  --color-container-home: 37, 46, 53;
  --color-container-secondary: 26, 34, 40;
  --color-container-button: 42, 52, 59;
  --color-background-main: 30, 38, 44;

  //Fondos complementarios Light
  --color-container-home-light: RGBA(var(--color-white-primary));
  --color-container-secondary-light: 229, 233, 237;
  --color-container-button-light: 229, 233, 237;
  --color-background-main-light: 229, 233, 237;

  //Fondos complementarios Tec
  --color-container-home-tec: 0, 36, 105;
  --color-container-secondary-tec: 27, 56, 110;
  --color-container-button-tec: RGBA(var(--color-blue-tec));
  --color-background-main-tec: RGBA(var(--color-blue-tec));

  //Colores para gradients
  --color-blue-pigment: 39, 58, 161;
  --color-japanese-indigo: 39, 64, 82;
  --color-eerie-black: 20, 25, 28;

  // Creative colors
  // #AB8FF6
  --violet-tint: 171, 143, 246;
  // #6929C4
  --violet-primary: 105, 41, 196;

  // #818CF8
  --indigo-tint: 129, 140, 248;
  // #4338CA
  --indigo-primary: 67, 56, 202;

  // #4ADE80
  --emerald-tint: 74, 222, 128;
  // #14532D
  --emerald-primary: 20, 83, 45;

  // #B0878E
  --licorice-tint: 176, 135, 142;
  // #523C45
  --licorice-primary: 82, 60, 69;

  // #9AC5DF
  --dark-teal-tint: 154, 197, 223;
  // #234157
  --dark-teal-primary: 35, 65, 87;

  // #EC7357
  --peach-tint: 236, 115, 87;
  // #B53C20
  --peach-primary: 181, 60, 32;

  // #A89858
  --sepia-tint: 168, 152, 88;
  // #675239
  --sepia-primary: 103, 82, 57;

  // #E28A8E
  --soft-red-tint: 226, 138, 142;
  // #912F40
  --soft-red-primary: 145, 47, 64;

  // #CDB925
  --wattle-tint: 205, 185, 37;
  // #8D6C1B
  --wattle-primary: 141, 108, 27;

  // #6987C9
  --ship-cove-tint: 105, 135, 201;
  // #414E8C
  --ship-cove-primary: 65, 78, 140;

  // #6F9287
  --plantation-tint: 111, 146, 135;
  // #384D48
  --plantation-primary: 56, 77, 72;

  // #BDAAC8
  --rum-tint: 189, 170, 200;
  // #594662
  --rum-primary: 89, 70, 98;

  // #F1D302
  --ripe-lemon-tint: 241, 211, 2;
  // #744B0F
  --ripe-lemon-primary: 116, 75, 15;

  // #E284B5
  --hibiscus-tint: 226, 132, 181;
  // #8B2951
  --hibiscus-primary: 139, 41, 81;

  //Semantic colors
  --success-light: var(--color-green-light);
  // #216453
  --success-primary: 33, 100, 83;

  //info-event
  --purple-tint: var(--color-purple-tint);

  --error-light: var(--color-red-light);
  // #B91C1C
  --error-primary: 185, 28, 28;

  --warning-tint: var(--color-yellow-tint);
  // #7A2D0D
  --warning-primary: 122, 45, 13;

  --branding-tint: var(--color-mariner-400);
  --branding-primary: var(--color-mariner-700);

  /*
    These names have a different structure intentionally
    so that they look more like the names in the Figma documentation,
    apparently the name alert_primary was given due to duplicate names
    used in the status icon.
  */
  // #1A7684
  --alert_primary-alert-primary: 26, 118, 132;
  // #1BC0CB
  --alert_primary-alert-light: 27, 192, 203;

  //GRADIENTS
  // To use this gradient you should use it in this way
  // background-color: linear-gradient(180deg, var(--color-gradient-blue)); or background-color: radial-gradient(circle, var(--color-gradient-blue));
  --color-button-gradient: rgba(var(--color-teal-primary), 1) 0%,
    rgba(var(--color-blue-primary), 1) 100%;
  --color-blue-gradient: rgba(var(--color-teal-primary), 1) 0%,
    rgba(var(--color-blue-pigment), 1) 100%;
  --color-green-gradient: rgba(var(--color-neon-primary), 1) 0%,
    rgba(var(--color-green-light), 1) 100%;
  --color-purple-gradient: rgba(var(--color-purple-primary), 1) 0%,
    rgba(var(--color-purple-light), 1) 100%;
  --color-bg-gradient: rgba(var(--color-japanese-indigo), 1) 0%,
    rgba(var(--color-background-main), 1) 100%;
  --color-bg-wheel: rgba(var(--color-eerie-black), 1) 0%,
    rgba(var(--color-background-main), 1) 100%;
  --color-bg-gradient-light: rgba(var(--color-white-primary), 1) 0%,
    rgba(var(--color-blue-tint), 1) 100%;
  --color-bg-wheel-light: rgba(var(--color-white-primary), 1) 0%,
    rgba(var(--color-blue-tint), 1) 100%;
  --color-bg-gradient-tec: rgba(var(--color-container-home-tec), 1) 0%,
    rgba(var(--color-blue-tec), 1) 100%;
  --color-bg-wheel-tec: rgba(var(--color-container-home-tec), 1) 0%,
    rgba(var(--color-blue-tec), 1) 100%;
  --color-academic-gradient: RGBA(var(--color-mariner-700)) 0%,
    RGBA(var(--color-blue-light)) 100%;
  --color-life-gradient: rgba(var(--color-green-primary), 1) 0%,
    rgba(var(--color-green-light), 1) 100%;
  --color-event-gradient: rgba(var(--color-purple-primary), 1) 0%,
    rgba(var(--color-purple-light), 1) 100%;

  //Named base colors
  --white-primary: RGBA(var(--color-white-primary), 1);
  --purple-primary: RGBA(var(--color-purple-primary), 1);
  --red-primary: RGBA(var(--color-red-primary), 1);
  --black-primary: RGBA(var(--color-white-primary), 1);
  --green-primary: RGBA(var(--color-green-primary), 1);
}
