:root {
  // To use colors you should use it in this way background-color: RGBA(var(--color-mariner-900));

  // Mariner
  --color-mariner-50: 240, 248, 254;
  --color-mariner-100: 221, 238, 252;
  --color-mariner-200: 195, 226, 250;
  --color-mariner-300: 153, 208, 247;
  --color-mariner-400: 105, 183, 241;
  --color-mariner-500: 69, 153, 236;
  --color-mariner-700: 39, 102, 203;
  --color-mariner-800: 38, 84, 167;
  --color-mariner-900: 36, 73, 132;
  --color-mariner-950: 26, 46, 81;

  // Charade
  --color-charade-50: 246, 247, 249; // #F6F7F9
  --color-charade-100: 235, 237, 243; // #EBEDF3
  --color-charade-200: 211, 215, 228; // #D3D7E4
  --color-charade-300: 173, 182, 204;
  --color-charade-500: 97, 113, 150;
  --color-charade-600: 77, 89, 124;
  --color-charade-700: 63, 73, 101;
  --color-charade-800: 55, 63, 85; // #373F55
  --color-charade-900: 49, 54, 73; // #313649
  --color-charade-950: 31, 34, 46; // #1F222E

  // Institucional colors
  --color-white-primary: 255, 255, 255;
  --color-blue-tec: 0, 57, 166;

  // MiTec
  --color-mitec-blue: 0, 167, 247;
  --color-mitec-green: 205, 222, 32;
  --color-mitec-red: 236, 38, 97;
  --color-mitec-orange: 255, 153, 1;

  // Constrastes principales
  --color-black-primary: 0, 0, 0;
  --color-black-light: RGBA(var(--color-black-primary), 0.75);
  --color-black-tint: RGBA(var(--color-black-primary), 0.5);
  --color-black-min: RGBA(var(--color-black-primary), 0.25);
  --color-white-light: RGBA(var(--color-white-primary), 0.75);
  --color-white-tint: RGBA(var(--color-white-primary), 0.5);
  --color-white-min: RGBA(var(--color-white-primary), 0.25);

  //Colores base
  --color-neon-primary: 27, 192, 203;
  --color-neon-light: 114, 239, 226;
  --color-neon-tint: 208, 252, 240;

  --color-blue-primary: 39, 102, 203;
  --color-blue-light: 70, 119, 199;
  --color-blue-tint: 147, 169, 204;

  --color-green-primary: 64, 162, 19;
  --color-green-light: 67, 170, 139;
  --color-green-tint: 172, 227, 146;

  --color-purple-primary: 106, 39, 161;
  --color-purple-light: 161, 39, 128;
  --color-purple-tint: 200, 123, 189;

  --color-red-primary: 211, 47, 47;
  --color-red-light: 240, 82, 82;
  --color-red-tint: 252, 158, 158;

  --color-yellow-primary: 252, 189, 7;
  --color-yellow-light: 254, 214, 98;
  --color-yellow-tint: 255, 231, 163;

  --color-teal-primary: 39, 125, 161;
  --color-teal-light: 82, 137, 159;
  --color-teal-tint: 106, 145, 161;

  //Fondos complementarios Dark
  --color-container-home: 37, 46, 53;
  --color-container-secondary: 26, 34, 40;
  --color-container-button: 42, 52, 59;
  --color-background-main: 30, 38, 44;

  //Fondos complementarios Light
  --color-container-home-light: RGBA(var(--color-white-primary));
  --color-container-secondary-light: 229, 233, 237;
  --color-container-button-light: 229, 233, 237;
  --color-background-main-light: 229, 233, 237;

  //Fondos complementarios Tec
  --color-container-home-tec: 0, 36, 105;
  --color-container-secondary-tec: 27, 56, 110;
  --color-container-button-tec: RGBA(var(--color-blue-tec));
  --color-background-main-tec: RGBA(var(--color-blue-tec));

  //Colores para gradients
  --color-blue-pigment: 39, 58, 161;
  --color-japanese-indigo: 39, 64, 82;
  --color-eerie-black: 20, 25, 28;

  //GRADIENTS
  // To use this gradient you should use it in this way
  // background-color: linear-gradient(180deg, var(--color-gradient-blue)); or background-color: radial-gradient(circle, var(--color-gradient-blue));
  --color-button-gradient: RGBA(var(--color-teal-primary)) 0%,
    RGBA(var(--color-blue-primary)) 100%;
  --color-blue-gradient: RGBA(var(--color-teal-primary)) 0%,
    RGBA(var(--color-blue-pigment)) 100%;
  --color-green-gradient: RGBA(var(--color-neon-primary)) 0%,
    RGBA(var(--color-green-light)) 100%;
  --color-purple-gradient: RGBA(var(--color-purple-primary)) 0%,
    RGBA(var(--color-purple-light)) 100%;
  --color-bg-gradient: RGBA(var(--color-japanese-indigo)) 0%,
    RGBA(var(--color-background-main)) 100%;
  --color-bg-wheel: RGBA(var(--color-eerie-black)) 0%,
    RGBA(var(--color-background-main)) 100%;
  --color-bg-gradient-light: RGBA(var(--color-white-primary)) 0%,
    RGBA(var(--color-blue-tint)) 100%;
  --color-bg-wheel-light: RGBA(var(--color-white-primary)) 0%,
    RGBA(var(--color-blue-tint)) 100%;
  --color-bg-gradient-tec: RGBA(var(--color-container-home-tec)) 0%,
    RGBA(var(--color-blue-tec)) 100%;
  --color-bg-wheel-tec: RGBA(var(--color-container-home-tec)) 0%,
    RGBA(var(--color-blue-tec)) 100%;
  --color-academic-gradient: RGBA(var(--color-mariner-950)) 0%,
    RGBA(var(--color-mariner-900)) 100%;
  --color-life-gradient: RGBA(var(--color-green-primary)) 0%,
    RGBA(var(--color-green-light)) 100%;
  --color-event-gradient: RGBA(var(--color-purple-primary)) 0%,
    RGBA(var(--color-purple-light)) 100%;
}
