:root,
.storybook-light-theme .docs-story {
  --general_contrasts: var(--black-primary);
  --general_contrasts-100: rgb(var(--color-charade-950));
  --general_contrasts-90: rgb(var(--color-charade-500));
  --general_contrasts-75: rgb(var(--color-charade-700));
  --general_contrasts-50: rgb(var(--color-charade-500));
  --general_contrasts-25: rgb(var(--color-charade-200));
  --general_contrasts-20: rgb(var(--color-charade-100));
  --general_contrasts-15: rgb(var(--color-charade-100));
  --general_contrasts-5: rgb(var(--color-charade-50));

  --general_contrasts-main-complimentary: rgb(var(--color-charade-50));
  --general_contrasts-main-selection: rgb(var(--color-mariner-700));
  --general_contrasts-main-selection-alternative: rgb(var(--color-green-light));
  --input-error: rgb(var(--color-red-light));

  --general_contrasts-input-background: rgb(var(--color-charade-50));
  --general_contrasts-input-outline: rgb(var(--color-mariner-700));
  --general_contrasts-container-outline: rgb(var(--color-charade-300));
  --general_contrasts-text-sidebar: rgb(var(--color-black-primary));
  --general_contrasts-container: rgb(var(--color-charade-800));
  --general_contrasts-primary: rgb(var(--color-mariner-700));

  --containers-background: rgb(var(--color-charade-200));
  --containers-main: rgb(var(--color-charade-100));
  --containers-modal: rgb(var(--color-charade-50));
  --containers-container-button: rgb(var(--color-charade-50));
  --containers-background-fade: rgb(var(--color-charade-200));

  --buttons-primary-normal: rgb(var(--color-mariner-700));
  --buttons-primary-hover: rgb(var(--color-mariner-800));
  --buttons-primary-select: rgb(var(--color-mariner-700));
  --buttons-stroke-primary-selected: rgb(var(--color-mariner-900));
  --buttons-destructive: rgb(var(--color-red-primary));
  --buttons-active-normal: rgb(var(--color-charade-50));
  --buttons-alternative-normal: rgb(var(--color-charade-50));
  --buttons-alternative-text: rgb(var(--color-charade-900));
  --buttons-active-switch: rgb(var(--color-mariner-700));
  --buttons-inactive-step: rgb(var(--color-charade-300));
  --buttons-active-switch-box-shadow-hover: rgba(
    var(--color-mariner-700),
    0.15
  );
  --buttons-active-switch-box-shadow-focus: rgba(
    var(--color-mariner-700),
    0.25
  );
  --buttons-inactive-switch-box-shadow-hover: rgba(
    var(--color-charade-500),
    0.15
  );
  --buttons-inactive-switch-box-shadow-focus: rgba(
    var(--color-charade-500),
    0.25
  );

  --alert-successful: rgb(var(--color-green-primary));
  --alert-event: rgb(var(--color-purple-light));
  --alert-event-tint: rgb(var(--color-purple-tint));
  --alert-neutral: rgb(var(--color-charade-300));
  --alert-primary: rgb(var(--color-mariner-700));
  --alert-warning: rgb(var(--color-yellow-primary));
  --alert-error: rgb(var(--color-red-primary));
  --alert-error-blend: rgb(var(--color-red-light));

  --menu_select-surface-activated: rgb(var(--color-mariner-700));
  --menu_select-label-menu-active: rgb(var(--color-charade-50));
  --menu_select-label-menu-inactive: rgb(var(--color-charade-950));
  --menu_select-activated-w-checkbox: rgb(var(--color-mariner-950));
  --menu_select-alternative-focus-label: rgb(var(--color-purple-primary));
  --menu_select-on-surface-hovered-w-checkbox: rgb(var(--color-mariner-100));
  --menu_select-on-surface-hovered: rgb(var(--color-mariner-100));
  --menu_select-on-surface-hovered-border: rgba(var(--color-mariner-700), 0.1);

  --drop_shadow-color-test-shadow: rgba(var(--color-black-primary), 0.2);

  --track-progress-bar: rgb(var(--color-green-primary));
  --vertical-step-active: rgb(var(--color-charade-50));
  --vertical-step-active-color: rgb(var(--color-charade-700));
  --vertical-step-subtitle: rgb(var(--color-charade-700));

  --gris-charade-50: rgb(var(--color-charade-50));
  --gris-charade-100: rgb(var(--color-charade-100));
  --gris-charade-300: rgb(var(--color-charade-300));
  --gris-charade-500: rgb(var(--color-charade-500));
  --gris-charade-700: rgb(var(--color-charade-700));

  --azul-mariner-500: rgb(var(--color-mariner-500));
  --semantic-normal: rgb(var(--color-charade-500));
  --semantic-strong: rgb(var(--color-mariner-200));
  --semantic-success: rgb(var(--success-primary));
  --semantic-info-event: rgb(var(--color-purple-primary));
  --semantic-warning: rgb(var(--warning-primary));
  --semantic-error: rgb(var(--error-primary));
  --semantic-brand: rgb(var(--branding-primary));
  --semantic-alert: rgb(var(--alert_primary-alert-primary));
  --mitec_blue: rgb(var(--mitec_blue-primary));
  --mitec_red: rgb(var(--mitec_red-primary));
  --mitec_green: rgb(var(--mitec_green-primary));
  --mitec_orange: rgb(var(--mitec_orange-primary));
  --mitec_purple: rgb(var(--mitec_purple-primary));
  --creative-use-violet: rgb(var(--violet-primary));
  --creative-use-indigo: rgb(var(--indigo-primary));
  --creative-use-emerald: rgb(var(--emerald-primary));
  --creative-use-licorice: rgb(var(--licorice-primary));
  --creative-use-darkteal: rgb(var(--dark-teal-primary));
  --creative-use-peach: rgb(var(--peach-primary));
  --creative-use-sepia: rgb(var(--sepia-primary));
  --creative-use-softred: rgb(var(--soft-red-primary));
  --creative-use-wattle: rgb(var(--wattle-primary));
  --creative-use-shipcove: rgb(var(--ship-cove-primary));
  --creative-use-plantation: rgb(var(--plantation-primary));
  --creative-use-rum: rgb(var(--rum-primary));
  --creative-use-ripelemon: rgb(var(--ripe-lemon-primary));
  --creative-use-hibiscus: rgb(var(--hibiscus-primary));

  --color-table-900: rgb(var(--color-charade-900));
  --color-table-btn-900: rgb(var(--color-charade-900));
}

[data-theme='dark'],
.storybook-dark-theme,
.storybook-dark-theme .docs-story {
  --general_contrasts: var(--white-primary);
  --general_contrasts-100: rgb(var(--color-charade-50));
  --general_contrasts-90: rgb(var(--color-charade-300));
  --general_contrasts-75: rgb(var(--color-charade-200));
  --general_contrasts-50: rgb(var(--color-charade-500));
  --general_contrasts-25: rgb(var(--color-charade-700));
  --general_contrasts-20: rgb(var(--color-charade-700));
  --general_contrasts-15: rgb(var(--color-charade-800));
  --general_contrasts-5: rgb(var(--color-charade-900));

  --general_contrasts-main-selection: rgb(var(--color-mariner-700));
  --general_contrasts-main-selection-alternative: rgb(var(--color-green-light));

  --general_contrasts-input-background: rgba(var(--color-black-primary), 0.5);
  --general_contrasts-input-outline: rgb(var(--color-charade-50));
  --general_contrasts-container-outline: rgb(var(--color-charade-800));
  --general_contrasts-text-sidebar: rgb(var(--color-white-primary));
  --general_contrasts-container: rgb(var(--color-charade-300));
  --general_contrasts-primary: rgb(var(--color-mariner-400));

  --containers-background: rgb(var(--color-charade-950));
  --containers-main: rgb(var(--color-charade-900));
  --containers-modal: rgb(var(--color-charade-950));
  --containers-container-button: rgb(var(--color-charade-900));
  --containers-background-fade: rgb(var(--color-charade-950));

  --buttons-stroke-primary-selected: rgb(var(--color-mariner-300));
  --buttons-destructive: rgb(var(--color-red-light));
  --buttons-active-switch: rgb(var(--color-green-light));
  --buttons-inactive-step: rgb(var(--color-charade-700));
  --buttons-active-switch-box-shadow-hover: rgba(
    var(--color-green-light),
    0.15
  );
  --buttons-active-switch-box-shadow-focus: rgba(
    var(--color-green-light),
    0.25
  );

  --menu_select-label-menu-inactive: rgb(var(--color-charade-50));
  --menu_select-activated-w-checkbox: rgb(var(--color-mariner-700));
  --menu_select-alternative-focus-label: rgb(var(--color-purple-tint));
  --menu_select-on-surface-hovered-w-checkbox: rgb(var(--color-mariner-950));
  --menu_select-on-surface-hovered: rgb(var(--color-charade-500));
  --menu_select-on-surface-hovered-border: rgba(var(--color-charade-500), 0.1);

  --track-progress-bar: rgb(var(--color-green-light));
  --vertical-step-active: rgb(var(--color-charade-700));
  --vertical-step-active-color: rgb(var(--color-charade-50));
  --vertical-step-subtitle: rgb(var(--color-charade-500));

  //Semantic
  --semantic-normal: rgb(var(--color-charade-500));
  --semantic-strong: rgb(var(--color-mariner-200));
  --semantic-success: rgb(var(--success-light));
  --semantic-info-event: rgb(var(--purple-tint));
  --semantic-warning: rgb(var(--warning-tint));
  --semantic-error: rgb(var(--error-light));
  --semantic-brand: rgb(var(--branding-tint));
  --semantic-alert: rgb(var(--alert_primary-alert-light));
  --mitec_blue: rgb(var(--mitec_blue-light));
  --mitec_red: rgb(var(--mitec_red-light));
  --mitec_green: rgb(var(--mitec_green-light));
  --mitec_orange: rgb(var(--mitec_orange-light));
  --mitec_purple: rgb(var(--mitec_purple-tint));
  --creative-use-violet: rgb(var(--violet-tint));
  --creative-use-indigo: rgb(var(--indigo-tint));
  --creative-use-emerald: rgb(var(--emerald-tint));
  --creative-use-licorice: rgb(var(--licorice-tint));
  --creative-use-darkteal: rgb(var(--dark-teal-tint));
  --creative-use-peach: rgb(var(--peach-tint));
  --creative-use-sepia: rgb(var(--sepia-tint));
  --creative-use-softred: rgb(var(--soft-red-tint));
  --creative-use-wattle: rgb(var(--wattle-tint));
  --creative-use-shipcove: rgb(var(--ship-cove-tint));
  --creative-use-plantation: rgb(var(--plantation-tint));
  --creative-use-rum: rgb(var(--rum-tint));
  --creative-use-ripelemon: rgb(var(--ripe-lemon-tint));
  --creative-use-hibiscus: rgb(var(--hibiscus-tint));
  --drop_shadow-color-test-shadow: rgba(var(--color-black-primary), 0.2);

  --color-table-900: rgb(var(--color-charade-100));
  --color-table-btn-900: rgb(var(--color-charade-50));
}
