:root {
  --general_contrasts-150: RGBA(var(--color-charade-950), 1);
  --general_contrasts-100: RGBA(var(--color-charade-900), 1);
  --general_contrasts-75: RGBA(var(--color-charade-700), 1);
  --general_contrasts-50: RGBA(var(--color-charade-500), 1);
  --general_contrasts-25: RGBA(var(--color-charade-200), 1);
  --general_contrasts-20: RGBA(var(--color-charade-100), 1);
  --general_contrasts-15: RGBA(var(--color-charade-100), 1);
  --general_contrasts-5: RGBA(var(--color-charade-50), 1);

  --general_contrasts-main-complimentary: RGBA(var(--color-charade-50), 1);
  --general_contrasts-main-selection: RGBA(var(--color-mariner-700), 1);
  --general_contrasts-main-selection-alternative: RGBA(
    var(--color-green-light),
    1
  );
  --general_contrasts-input-background: RGBA(var(--color-charade-50), 1);
  --general_contrasts-input-outline: RGBA(var(--color-mariner-700), 1);
  --general_contrasts-container-outline: RGBA(var(--color-charade-300), 1);
  --general_contrasts-text-sidebar: RGBA(var(--color-black-primary), 1);

  --containers-background: RGBA(var(--color-charade-200), 1);
  --containers-main: RGBA(var(--color-charade-100), 1);
  --containers-modal: RGBA(var(--color-charade-50), 1);
  --containers-container-button: RGBA(var(--color-charade-50), 1);
  --containers-background-fade: RGBA(var(--color-charade-200), 1);

  --buttons-primary-normal: RGBA(var(--color-mariner-700), 1);
  --buttons-primary-hover: RGBA(var(--color-mariner-800), 1);
  --buttons-primary-select: RGBA(var(--color-mariner-500), 1);
  --buttons-active-normal: RGBA(var(--color-charade-50), 1);
  --buttons-alternative-normal: RGBA(var(--color-charade-50), 1);
  --buttons-alternative-text: RGBA(var(--color-charade-900), 1);
  --buttons-active-switch: RGBA(var(--color-charade-700), 1);
  --buttons-inactive-step: RGBA(var(--color-charade-300), 1);

  --alert-successful: rgb(var(--color-green-primary));
  --alert-event: RGBA(var(--color-purple-light), 1);
  --alert-event-tint: RGBA(var(--color-purple-tint), 1);
  --alert-neutral: RGBA(var(--color-charade-300), 1);
  --alert-primary: RGBA(var(--color-mariner-700), 1);
  --alert-warning: RGBA(var(--color-yellow-primary), 1);
  --alert-error: RGBA(var(--color-red-primary), 1);
  --alert-error-blend: RGBA(var(--color-red-light), 1);

  --menu_select-surface-activated: RGBA(var(--color-mariner-700), 1);
  --menu_select-label-menu-active: RGBA(var(--color-charade-50), 1);
  --menu_select-label-menu-inactive: RGBA(var(--color-charade-950), 1);
  --menu_select-activated-w-checkbox: RGBA(var(--color-mariner-950), 1);
  --menu_select-alternative-focus-label: RGBA(var(--color-purple-primary), 1);
  --menu_select-on-surface-hovered-w-checkbox: RGBA(
    var(--color-mariner-100),
    1
  );
  --menu_select-on-surface-hovered: RGBA(var(--color-mariner-100), 1);
  --switch-checked: rgba(var(--color-mariner-700));
  --switch-checked-shadow: RGBA(var(--color-mariner-700), 0.2);
  --radio-checked-shadow: RGBA(var(--color-mariner-700), 0.9);

  --drop_shadow-color-test-shadow: 0.5rem 0.5rem 0.5rem 0px
    RGBA(var(--color-charade-950), 0.5);

  --track-progress-bar: RGBA(var(--color-green-primary), 1);

  --gris-charade-50: rgba(var(--color-charade-50), 1);
  --gris-charade-100: rgba(var(--color-charade-100), 1);
  --gris-charade-300: rgba(var(--color-charade-300), 1);
  --gris-charade-500: rgba(var(--color-charade-500), 1);
  --gris-charade-700: rgba(var(--color-charade-700), 1);

  --azul-mariner-500: rgba(var(--color-mariner-500), 1);
  --semantic-normal: rgb(var(--color-charade-500));
  --semantic-strong: rgb(var(--color-mariner-200));
  --semantic-success: rgb(var(--success-primary));
  --semantic-info-event: rgb(var(--color-purple-primary));
  --semantic-warning: rgb(var(--warning-primary));
  --semantic-error: rgb(var(--error-primary));
  --semantic-brand: rgb(var(--branding-primary));
  --semantic-alert: rgb(var(--alert_primary-alert-primary));
  --mitec_blue: rgb(var(--mitec_blue-primary));
  --mitec_red: rgb(var(--mitec_red-primary));
  --mitec_green: rgb(var(--mitec_green-primary));
  --mitec_orange: rgb(var(--mitec_orange-primary));
  --mitec_purple: rgb(var(--mitec_purple-primary));
  --creative-use-violet: rgb(var(--violet-primary));
  --creative-use-indigo: rgb(var(--indigo-primary));
  --creative-use-emerald: rgb(var(--emerald-primary));
  --creative-use-licorice: rgb(var(--licorice-primary));
  --creative-use-darkteal: rgb(var(--dark-teal-primary));
  --creative-use-peach: rgb(var(--peach-primary));
  --creative-use-sepia: rgb(var(--sepia-primary));
  --creative-use-softred: rgb(var(--soft-red-primary));
  --creative-use-wattle: rgb(var(--wattle-primary));
  --creative-use-shipcove: rgb(var(--ship-cove-primary));
  --creative-use-plantation: rgb(var(--plantation-primary));
  --creative-use-rum: rgb(var(--rum-primary));
  --creative-use-ripelemon: rgb(var(--ripe-lemon-primary));
  --creative-use-hibiscus: rgb(var(--hibiscus-primary));
}

[data-theme="dark"],
.storybook-dark-theme {
  --general_contrasts-150: RGBA(var(--color-charade-50), 1);
  --general_contrasts-100: RGBA(var(--color-charade-50), 1);
  --general_contrasts-75: RGBA(var(--color-charade-200), 1);
  --general_contrasts-50: RGBA(var(--color-charade-500), 1);
  --general_contrasts-25: RGBA(var(--color-charade-700), 1);
  --general_contrasts-20: RGBA(var(--color-charade-700), 1);
  --general_contrasts-15: RGBA(var(--color-charade-800), 1);
  --general_contrasts-5: RGBA(var(--color-charade-900), 1);

  --general_contrasts-main-selection: RGBA(var(--color-mariner-700), 1);
  --general_contrasts-main-selection-alternative: RGBA(
    var(--color-green-light),
    1
  );
  --general_contrasts-input-background: RGBA(var(--color-black-primary), 0.5);
  --general_contrasts-input-outline: RGBA(var(--color-charade-50), 1);
  --general_contrasts-container-outline: RGBA(var(--color-charade-800), 1);
  --general_contrasts-text-sidebar: RGBA(var(--color-white-primary), 1);

  --containers-background: RGBA(var(--color-charade-950), 1);
  --containers-main: RGBA(var(--color-charade-900), 1);
  --containers-modal: RGBA(var(--color-charade-950), 1);
  --containers-container-button: RGBA(var(--color-charade-900), 1);
  --containers-background-fade: RGBA(var(--color-charade-950), 1);

  --buttons-active-switch: RGBA(var(--color-green-light), 1);
  --buttons-inactive-step: RGBA(var(--color-charade-700), 1);

  --menu_select-label-menu-inactive: RGBA(var(--color-charade-50), 1);
  --menu_select-activated-w-checkbox: RGBA(var(--color-mariner-700), 1);
  --menu_select-alternative-focus-label: RGBA(var(--color-purple-tint), 1);
  --menu_select-on-surface-hovered-w-checkbox: RGBA(
    var(--color-mariner-950),
    1
  );
  --menu_select-on-surface-hovered: RGBA(var(--color-charade-500), 1);
  --switch-checked: rgb(var(--color-green-light));
  --switch-checked-shadow: RGBA(var(--color-green-light), 0.2);
  --radio-checked-shadow: RGBA(var(--color-green-light), 0.9);

  --drop_shadow-color-test-shadow: 0.5rem 0.5rem 0.5rem 0px
    RGBA(var(--color-black-primary), 0.2);

  --track-progress-bar: RGBA(var(--color-green-light), 1);

  //Semantic
  --semantic-normal: rgb(var(--color-charade-500));
  --semantic-strong: rgb(var(--color-mariner-200));
  --semantic-success: rgb(var(--success-light));
  --semantic-info-event: rgb(var(--purple-tint));
  --semantic-warning: rgb(var(--warning-tint));
  --semantic-error: rgb(var(--error-light));
  --semantic-brand: rgb(var(--branding-tint));
  --semantic-alert: rgb(var(--alert_primary-alert-light));
  --mitec_blue: rgb(var(--mitec_blue-light));
  --mitec_red: rgb(var(--mitec_red-light));
  --mitec_green: rgb(var(--mitec_green-light));
  --mitec_orange: rgb(var(--mitec_orange-light));
  --mitec_purple: rgb(var(--mitec_purple-tint));
  --creative-use-violet: rgb(var(--violet-tint));
  --creative-use-indigo: rgb(var(--indigo-tint));
  --creative-use-emerald: rgb(var(--emerald-tint));
  --creative-use-licorice: rgb(var(--licorice-tint));
  --creative-use-darkteal: rgb(var(--dark-teal-tint));
  --creative-use-peach: rgb(var(--peach-tint));
  --creative-use-sepia: rgb(var(--sepia-tint));
  --creative-use-softred: rgb(var(--soft-red-tint));
  --creative-use-wattle: rgb(var(--wattle-tint));
  --creative-use-shipcove: rgb(var(--ship-cove-tint));
  --creative-use-plantation: rgb(var(--plantation-tint));
  --creative-use-rum: rgb(var(--rum-tint));
  --creative-use-ripelemon: rgb(var(--ripe-lemon-tint));
  --creative-use-hibiscus: rgb(var(--hibiscus-tint));
}
