[data-theme="dark"] {
  body {
    background-color: RGBA(var(--color-charade-950));
    .bmb_progress_circle {
      &-info-value {
        color: RGBA(var(--color-charade-50));
      }
    
      &-info-title {
        color: RGBA(var(--color-charade-50));
      }
    }
  }
}

.storybook-dark-theme {
  .sbdocs {
    background-color: RGBA(var(--color-charade-950));

    &-title {
      color: RGBA(var(--color-white-primary));
    }

    &-content :where(p:not(.sb-anchor, .sb-unstyled, .sb-unstyled p)) {
      color: RGBA(var(--color-white-primary));
    }

    .docs-story {
      background-color: RGBA(var(--color-charade-950));
    }

    .docblock-argstable-head th {
      color: RGBA(var(--color-white-primary));
    }
  }
}

[data-theme="light"] {
  body {
    background-color: RGBA(var(--color-charade-200));
  }
}

.storybook-light-theme {
  .sbdocs {
    background-color: RGBA(var(--color-charade-200));

    &-title {
      color: RGBA(var(--color-black-primary));
    }

    &-content :where(p:not(.sb-anchor, .sb-unstyled, .sb-unstyled p)) {
      color: RGBA(var(--color-black-primary));
    }

    .docs-story {
      background-color: RGBA(var(--color-charade-200));
    }
  }
}
