#storybook-docs {
  --general_contrasts-100: RGBA(var(--color-charade-50), 1);
  --general_contrasts-75: RGBA(var(--color-charade-200), 1);
  --general_contrasts-50: RGBA(var(--color-charade-500), 1);
  --general_contrasts-25: RGBA(var(--color-charade-700), 1);
  --general_contrasts-20: RGBA(var(--color-charade-700), 1);
  --general_contrasts-15: RGBA(var(--color-charade-800), 1);
  --general_contrasts-5: RGBA(var(--color-charade-900), 1);

  --general_contrasts-main-selection: RGBA(var(--color-mariner-700), 1);
  --general_contrasts-main-selection-alternative: RGBA(
    var(--color-green-light),
    1
  );

  --general_contrasts-input-background: RGBA(var(--color-black-primary), 0.5);
  --general_contrasts-input-outline: RGBA(var(--color-charade-50), 1);
  --general_contrasts-container-outline: RGBA(var(--color-charade-800), 1);
  --general_contrasts-text-sidebar: RGBA(var(--color-white-primary), 1);

  --containers-background: RGBA(var(--color-charade-950), 1);
  --containers-main: RGBA(var(--color-charade-900), 1);
  --containers-modal: RGBA(var(--color-charade-950), 1);
  --containers-container-button: RGBA(var(--color-charade-900), 1);
  --containers-background-fade: RGBA(var(--color-charade-950), 1);

  --buttons-active-switch: RGBA(var(--color-green-light), 1);
  --buttons-inactive-step: RGBA(var(--color-charade-700), 1);

  --menu_select-label-menu-inactive: RGBA(var(--color-charade-50), 1);
  --menu_select-activated-w-checkbox: RGBA(var(--color-mariner-700), 1);
  --menu_select-alternative-focus-label: RGBA(var(--color-purple-tint), 1);
  --menu_select-on-surface-hovered-w-checkbox: RGBA(
    var(--color-mariner-950),
    1
  );
  --menu_select-on-surface-hovered: RGBA(var(--color-charade-500), 1);
  --menu_select-on-surface-hovered-border: RGBA(var(--color-charade-500), 0.1);

  --track-progress-bar: RGBA(var(--color-green-light), 1);
  --vertical-step-active: RGBA(var(--color-charade-700), 1);
  --vertical-step-active-color: RGBA(var(--color-charade-50), 1);
  --vertical-step-subtitle: RGBA(var(--color-charade-500), 1);

  //Semantic
  --semantic-normal: rgb(var(--color-charade-500));
  --semantic-strong: rgb(var(--color-mariner-200));
  --semantic-success: rgb(var(--success-light));
  --semantic-info-event: rgb(var(--purple-tint));
  --semantic-warning: rgb(var(--warning-tint));
  --semantic-error: rgb(var(--error-light));
  --semantic-brand: rgb(var(--branding-tint));
  --semantic-alert: rgb(var(--alert_primary-alert-light));
  --mitec_blue: rgb(var(--mitec_blue-light));
  --mitec_red: rgb(var(--mitec_red-light));
  --mitec_green: rgb(var(--mitec_green-light));
  --mitec_orange: rgb(var(--mitec_orange-light));
  --mitec_purple: rgb(var(--mitec_purple-tint));
  --creative-use-violet: rgb(var(--violet-tint));
  --creative-use-indigo: rgb(var(--indigo-tint));
  --creative-use-emerald: rgb(var(--emerald-tint));
  --creative-use-licorice: rgb(var(--licorice-tint));
  --creative-use-darkteal: rgb(var(--dark-teal-tint));
  --creative-use-peach: rgb(var(--peach-tint));
  --creative-use-sepia: rgb(var(--sepia-tint));
  --creative-use-softred: rgb(var(--soft-red-tint));
  --creative-use-wattle: rgb(var(--wattle-tint));
  --creative-use-shipcove: rgb(var(--ship-cove-tint));
  --creative-use-plantation: rgb(var(--plantation-tint));
  --creative-use-rum: rgb(var(--rum-tint));
  --creative-use-ripelemon: rgb(var(--ripe-lemon-tint));
  --creative-use-hibiscus: rgb(var(--hibiscus-tint));
  --drop_shadow-color-test-shadow: RGBA(var(--color-black-primary), 0.2);

  --color-table-900: RGBA(var(--color-charade-100), 1);
  --color-table-btn-900: RGBA(var(--color-charade-50), 1);

  > .sbdocs-wrapper {
    background-color: var(--general_contrasts-25);
    color: var(--general_contrasts-100);
  }

  .sbdocs {
    &-title,
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: var(--general_contrasts-100);
    }

    &-content :where(p:not(.sb-anchor, .sb-unstyled, .sb-unstyled p)),
    &-content :where(li:not(.sb-anchor, .sb-unstyled, .sb-unstyled li)) {
      color: var(--general_contrasts-75);

      code {
        background-color: var(--general_contrasts-75);
        color: var(--general_contrasts-5);
        border: 1px solid var(--general_contrasts-75);
        border-radius: 12px;
      }
    }

    &-preview {
      &.sb-unstyled {
        background: var(--general_contrasts-15);

        .sb-bar {
          background-color: var(--general_contrasts-5);
        }
      }
    }

    li {
      color: var(--general_contrasts-75);
    }

    .css-11xgcgt {
      background-color: transparent;

      button {
        background-color: var(--general_contrasts-50);
        color: var(--general_contrasts-5);

        &:focus,
        &:hover {
          box-shadow: rgb(var(--color-blue-tint)) 0px -3px 0px 0px inset;
        }
      }
    }
  }

  .docblock-source {
    background-color: var(--general_contrasts-5);
    color: var(--general_contrasts-100);

    .token {
      &.property {
        color: RGB(114, 162, 240);
      }

      &.function,
      &.tag {
        color: rgb(var(--color-green-tint));
      }

      &.punctuation,
      &.operator {
        color: var(--general_contrasts-75);
      }

      &.keyword {
        color: rgb(var(--color-blue-tint));
      }

      &.string {
        color: RGB(114, 162, 240);
      }

      &.boolean {
        color: rgb(var(--color-mitec-green));
      }

      &.maybe-class-name {
        color: rgb(var(--color-mitec-red));
      }

      &.comment {
        color: var(--general_contrasts-50);
      }
    }
  }

  .docblock-argstable-head th {
    color: var(--general_contrasts-100);
  }

  .docblock-argstable-body {
    td {
      background-color: var(--general_contrasts-5) !important;
      color: var(--general_contrasts-75);
      border-color: var(--general_contrasts-25);

      &.css-1ikjjm3,
      &.css-79elbk {
        background-color: var(--general_contrasts-15) !important;
      }

      svg path {
        fill: var(--general_contrasts-75);
      }

      .css-o1d7ko,
      .css-18pz2h2 code {
        background-color: var(--general_contrasts-50);
        color: var(--general_contrasts-100);
        border: 1px solid var(--general_contrasts-50);
        border-radius: 12px;
      }

      select,
      input:not([role="switch"]),
      textarea {
        background-color: var(--general_contrasts-20);
        color: var(--general_contrasts-100);
        border: 1px solid var(--general_contrasts-20);

        &::placeholder {
          color: var(--general_contrasts-75);
        }
      }

      .css-177r6r9 {
        background-color: var(--general_contrasts-20);
        border: 1px solid var(--general_contrasts-20);

        input {
          ~ span {
            color: var(--general_contrasts-100);
          }

          &:not(:checked) {
            ~ span:first-of-type {
              background-color: var(--general_contrasts-50);
            }

            ~ span:last-of-type {
              background-color: transparent;
            }
          }

          &:checked {
            ~ span:first-of-type {
              background-color: transparent;
            }

            ~ span:last-of-type {
              background-color: var(--general_contrasts-50);
            }
          }
        }
      }

      button:not(.css-d474as) {
        background-color: var(--general_contrasts-50);
        color: var(--general_contrasts-100);
        border: 1px solid var(--general_contrasts-50);
        border-radius: 4px;
      }

      .rejt-value-node {
        &:hover .rejt-value {
          background-color: var(--general_contrasts-50);
          color: var(--general_contrasts-100);
          border: 1px solid var(--general_contrasts-50);
          border-radius: 4px;
        }
      }

      .rejt-collapsed-text {
        color: var(--general_contrasts-75) !important;
      }

      .rejt-value {
        color: var(--general_contrasts-100);
      }
    }
  }

  .sb-bar {
    background-color: var(--general_contrasts-5);
    color: var(--general_contrasts-100);
  }

  .css-s2td8l {
    background-color: transparent;
  }

  storybook-toast-wrapper {
    ~ .actions {
      display: none;
    }
  }

  .toc-link {
    color: var(--general_contrasts-75);

    &.is-active-link {
      color: var(--general_contrasts-100);
    }
  }
}

.sb-bar {
  .css-w992vf {
    color: var(--general_contrasts-100);
  }
}

.storybook-light-theme .docs-story {
  background-color: var(--general_contrasts-15);
  color: var(--general_contrasts-100);
}

.sb-container {
  margin-bottom: 48px;
}

.sb-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

img {
  object-fit: cover;
}

.sb-section-title {
  margin-bottom: 32px;
}

.sb-section a:not(h1 a, h2 a, h3 a) {
  font-size: 14px;
}

.sb-section-item,
.sb-grid-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sb-section-item-heading {
  padding-top: 20px !important;
  padding-bottom: 5px !important;
  margin: 0 !important;
}
.sb-section-item-paragraph {
  margin: 0;
  padding-bottom: 10px;
}

.sb-chevron {
  margin-left: 5px;
}

.sb-features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px 20px;
}

.sb-socials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sb-socials p {
  margin-bottom: 10px;
}

.sb-explore-image {
  max-height: 32px;
  align-self: flex-start;
}

.sb-addon {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #eef3f8;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #eef3f8;
  height: 180px;
  margin-bottom: 48px;
  overflow: hidden;
}

.sb-addon-text {
  padding-left: 48px;
  max-width: 240px;
}

.sb-addon-text h4 {
  padding-top: 0px;
}

.sb-addon-img {
  position: absolute;
  left: 345px;
  top: 0;
  height: 100%;
  width: 200%;
  overflow: hidden;
}

.sb-addon-img img {
  width: 650px;
  transform: rotate(-15deg);
  margin-left: 40px;
  margin-top: -72px;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0);
  backface-visibility: hidden;
}

@media screen and (max-width: 800px) {
  .sb-addon-img {
    left: 300px;
  }
}

@media screen and (max-width: 600px) {
  .sb-section {
    flex-direction: column;
  }

  .sb-features-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .sb-socials {
    grid-template-columns: repeat(2, 1fr);
  }

  .sb-addon {
    height: 280px;
    align-items: flex-start;
    padding-top: 32px;
    overflow: hidden;
  }

  .sb-addon-text {
    padding-left: 24px;
  }

  .sb-addon-img {
    right: 0;
    left: 0;
    top: 130px;
    bottom: 0;
    overflow: hidden;
    height: auto;
    width: 124%;
  }

  .sb-addon-img img {
    width: 1200px;
    transform: rotate(-12deg);
    margin-left: 0;
    margin-top: 48px;
    margin-bottom: -40px;
    margin-left: -24px;
  }
}
