#storybook-docs {
  // --general_contrasts-75: rgb(var(--color-charade-200));

  .sbdocs-wrapper {
    background-color: rgb(var(--color-charade-700));
    color: var(--white-light);
  }

  .sbdocs {
    &-title:not([class^='bmb']),
    h1:not([class^='bmb']),
    h2:not([class^='bmb']),
    h3:not([class^='bmb']),
    h4:not([class^='bmb']),
    h5:not([class^='bmb']) {
      color: var(--white-light);
    }

    &-content :where(p:not(.sb-anchor, .sb-unstyled, .sb-unstyled p)),
    &-content :where(li:not(.sb-anchor, .sb-unstyled, .sb-unstyled li)) {
      color: rgb(var(--color-charade-200));

      code {
        background-color: var(--general_contrasts-75);
        color: var(--general_contrasts-5);
        border: 1px solid var(--general_contrasts-75);
        border-radius: var(--bmb-radius-3);
      }
    }

    &-preview {
      &.sb-unstyled {
        background: rgb(var(--color-charade-800));

        .sb-bar {
          background-color: rgb(var(--color-charade-900));
        }

        .innerZoomElementWrapper > div > div {
          background-color: var(--containers-background);
          padding: 0.5rem;
        }
      }
    }

    &-expandable {
      background-color: rgb(var(--color-charade-700));
      border-color: rgb(var(--color-charade-500));
    }

    li {
      color: var(--white-tint);
    }

    .css-11xgcgt {
      background-color: transparent;

      button {
        background-color: rgb(var(--color-charade-500));
        color: rgb(var(--color-charade-900));

        &:focus,
        &:hover {
          box-shadow: rgb(var(--color-blue-tint)) 0px -3px 0px 0px inset;
        }
      }
    }

    .css-x28zkw :where(hr:not(.sb-anchor, .sb-unstyled, .sb-unstyled hr)) {
      border-color: var(--white-light);
    }
  }

  .docblock-source {
    background-color: rgb(var(--color-charade-900));
    color: var(--white-light);

    .token {
      &.property {
        color: rgb(114, 162, 240);
      }

      &.function,
      &.tag {
        color: rgb(var(--color-green-tint));
      }

      &.punctuation,
      &.operator {
        color: rgb(var(--color-charade-200));
      }

      &.keyword {
        color: rgb(var(--color-blue-tint));
      }

      &.string {
        color: rgb(114, 162, 240);
      }

      &.boolean {
        color: rgb(var(--color-mitec-green));
      }

      &.maybe-class-name {
        color: rgb(var(--color-mitec-red));
      }

      &.comment {
        color: rgb(var(--color-charade-500));
      }
    }
  }

  .docblock-argstable-head th {
    color: var(--white-light);
  }

  .docblock-argstable-body {
    td {
      background-color: rgb(var(--color-charade-900)) !important;
      color: rgb(var(--color-charade-200));
      border-color: rgb(var(--color-charade-700));

      &.css-1ikjjm3,
      &.css-79elbk {
        background-color: rgb(var(--color-charade-800)) !important;
      }

      svg path {
        fill: rgb(var(--color-charade-200));
      }

      .css-o1d7ko,
      .css-18pz2h2 code {
        background-color: var(--general_contrasts-50);
        color: var(--general_contrasts-100);
        border: 1px solid var(--general_contrasts-50);
        border-radius: var(--bmb-radius-3);
      }

      select,
      input:not([role='switch']),
      textarea {
        background-color: rgb(var(--color-charade-700));
        color: var(--white-light);
        border: 1px solid rgb(var(--color-charade-700));

        &::placeholder {
          color: rgb(var(--color-charade-200));
        }
      }

      .css-177r6r9 {
        background-color: rgb(var(--color-charade-700));
        border: 1px solid rgb(var(--color-charade-700));

        input {
          ~ span {
            color: var(--white-light);
          }

          &:not(:checked) {
            ~ span:first-of-type {
              background-color: rgb(var(--color-charade-500));
            }

            ~ span:last-of-type {
              background-color: transparent;
            }
          }

          &:checked {
            ~ span:first-of-type {
              background-color: transparent;
            }

            ~ span:last-of-type {
              background-color: rgb(var(--color-charade-500));
            }
          }
        }
      }

      button:not(.css-d474as) {
        background-color: var(--general_contrasts-50);
        color: var(--general_contrasts-100);
        border: 1px solid var(--general_contrasts-50);
        border-radius: var(--bmb-radius-1);
      }

      .rejt-value-node {
        &:hover .rejt-value {
          background-color: var(--general_contrasts-50);
          color: var(--general_contrasts-100);
          border: 1px solid var(--general_contrasts-50);
          border-radius: var(--bmb-radius-1);
        }
      }

      .rejt-collapsed-text {
        color: rgb(var(--color-charade-200)) !important;
      }

      .rejt-value {
        color: var(--white-light);
      }
    }
  }

  .sb-bar {
    background-color: rgb(var(--color-charade-900));
    color: var(--white-light);
  }

  .css-s2td8l {
    background-color: transparent;
  }

  storybook-toast-wrapper {
    ~ .actions {
      display: none;
    }
  }

  .toc-link {
    color: rgb(var(--color-charade-200));

    &.is-active-link {
      color: var(--white-light);
    }
  }
}

.sb-bar {
  .css-w992vf {
    color: var(--white-light);
  }
}

.css-cjid1s {
  border-radius: var(--bmb-radius-s) !important;
}

.css-yg7ze4 {
  background-color: rgb(var(--color-charade-300));
  border-radius: var(--bmb-radius-s);
  box-shadow: var(--bmb-box-shadow-3);
}

// [data-brand='GED'],
// [data-brand='BAMBOO_CORE'],
.storybook-light-theme .docs-story {
  background-color: var(--general_contrasts-15);
  color: var(--general_contrasts);
  h1:not([class^='bmb']) {
    color: var(--general_contrasts) !important;
  }
}

.sb-container {
  margin-bottom: 48px;
}

.sb-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

img {
  object-fit: cover;
}

.sb-section-title {
  margin-bottom: 32px;
}

.sb-section a:not(h1 a, h2 a, h3 a) {
  font-size: 14px;
}

.sb-section-item,
.sb-grid-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sb-section-item-heading {
  padding-top: 20px !important;
  padding-bottom: 5px !important;
  margin: 0 !important;
}

.sb-section-item-paragraph {
  margin: 0;
  padding-bottom: 10px;
}

.sb-chevron {
  margin-left: 5px;
}

.sb-features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px 20px;
}

.sb-socials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sb-socials p {
  margin-bottom: 10px;
}

.sb-explore-image {
  max-height: 32px;
  align-self: flex-start;
}

.sb-addon {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #eef3f8;
  border-radius: var(--bmb-radius-1);
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: 180px;
  margin-bottom: 48px;
  overflow: hidden;
}

.sb-addon-text {
  padding-left: 48px;
  max-width: 240px;
}

.sb-addon-text h4 {
  padding-top: 0px;
}

.sb-addon-img {
  position: absolute;
  left: 345px;
  top: 0;
  height: 100%;
  width: 200%;
  overflow: hidden;
}

.sb-addon-img img {
  width: 650px;
  transform: rotate(-15deg);
  margin-left: 40px;
  margin-top: -72px;
  box-shadow: 0 0 1px rgb(255, 255, 255, 0);
  backface-visibility: hidden;
}

@media screen and (max-width: 800px) {
  .sb-addon-img {
    left: 300px;
  }
}

@media screen and (max-width: 600px) {
  .sb-section {
    flex-direction: column;
  }

  .sb-features-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .sb-socials {
    grid-template-columns: repeat(2, 1fr);
  }

  .sb-addon {
    height: 280px;
    align-items: flex-start;
    padding-top: 32px;
    overflow: hidden;
  }

  .sb-addon-text {
    padding-left: 24px;
  }

  .sb-addon-img {
    right: 0;
    left: 0;
    top: 130px;
    bottom: 0;
    overflow: hidden;
    height: auto;
    width: 124%;
  }

  .sb-addon-img img {
    width: 1200px;
    transform: rotate(-12deg);
    margin-top: 48px;
    margin-bottom: -40px;
    margin-left: -24px;
  }
}

.bmb_doc {
  &-tabs {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    &-header {
      margin: 0 !important;
      padding: 0 !important;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      list-style: none !important;
    }

    &-item {
      margin: 0 !important;
    }

    &-button {
      background: none;
      border-width: 0 0 2px;
      border-style: solid;
      border-color: transparent;
      padding: 0.25rem 1rem;
      cursor: pointer;
      color: var(--white-light);
      transition: all 0.2s ease-in-out;

      &:hover {
        border-color: rgb(var(--color-charade-500));
      }

      &.active {
        border-bottom-color: var(--white-light);
      }
    }

    &-panel .sbdocs-wrapper {
      padding: 0;
    }
  }
}

//Storybook alert blockquote
@mixin markdown-alert-text() {
  border-radius: var(--bmb-radius-2) var(--bmb-radius-2) var(--bmb-radius-2) 0;
  padding: 0.5rem !important;
  margin: 0 !important;

  > header {
    display: none;
  }

  > h2 {
    border-bottom: 0;
  }
}

.markdown-alert {
  &-note {
    @include markdown-alert-text();
    background-color: rgb(var(--color-blue-light), 0.15);
  }

  &-callout {
    @include markdown-alert-text();
    background-color: rgb(var(--color-mitec-green), 0.15);
  }

  &-warning {
    @include markdown-alert-text();
    background-color: rgb(var(--color-red-light), 0.15);
  }
}
//Storybook alert blockquote - end

//Table of contents
.css-q7khkg {
  width: fit-content !important;
  padding-right: 0.25rem;
  z-index: 999;

  .toc-list-item {
    margin-left: 0.75rem !important;
  }
}

//Documentation width
.css-x28zkw {
  max-width: 63.125rem !important;

  &:has(.bmb_top-bar) {
    max-width: 90.25rem !important;
  }
}

//Controls width
.docblock-argstable,
.css-v2ifgj.css-v2ifgj {
  width: auto;
}

// Expanded preview
.css-1cvjpgl:has(.bmb_top-bar),
.css-1cvjpgl:has(.bmb_sidebar),
.sb-show-main.sb-main-padded:has(.bmb_top-bar),
.sb-show-main.sb-main-padded:has(.bmb_sidebar) {
  padding: 0 !important;

  .innerZoomElementWrapper {
    > div {
      border-width: 0 !important;
      > div {
        padding: 0 !important;
      }
    }
  }
}
// Expanded preview - end
