<form bmbLayout [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <section bmbLayoutItem [colSm]="2">
    <bmb-dropdown
      inputId="dropdown_id"
      name="dropdown"
      label="Dropdown"
      [options]="options()"
      [isFilterable]="true"
      [control]="getFormControl('dropdown')"
      (onValueChange)="handleDropdownChange($event)"
    />
  </section>
  <button bmbButton appearance="primary" type="submit">Submit</button>
  <bmb-bookmark
    [isActive]="false"
    (isActiveChange)="handleBookmarkChange($event)"
  ></bmb-bookmark>
</form>
