<header class="bmb_template-header">
  <h3>Home</h3>
  <h5>Welcome to BambooPress</h5>
</header>
<div class="bmb_template-margin-for-sidebar">
  <section bmbLayout margin="none" gapSize="m">
    <bmb-home-card
      icon="account_balance_wallet"
      bgIconAppearance="green-light"
      title="Title"
      subtitle="Subtitle"
      [showRightButton]="false"
      bmbVerticalLayoutItem
      [style.view-transition-name]="'homeCardTransition2'"
      bmbVerticalLayout
      bmbLayoutItem
      [colSm]="2"
      [colLg]="2"
      gapSize="m"
    >
      <bmb-progress-circle
        valueLabel="20/20"
        [percent]="85"
        [showValueLabel]="true"
        [title]="['Total a pagar', 'este mes']"
        [showTitle]="false"
        [fillPathStatus]="'success'"
        [fullFillPathStatus]="false"
      ></bmb-progress-circle>
    </bmb-home-card>
    <bmb-home-card
      icon="account_balance_wallet"
      bgIconAppearance="green-light"
      title="Title"
      subtitle="Subtitle"
      [showRightButton]="false"
      bmbVerticalLayoutItem
      [style.view-transition-name]="'homeCardTransition2'"
      bmbVerticalLayout
      bmbLayoutItem
      [colSm]="2"
      [colLg]="2"
      gapSize="m"
    >
      <bmb-progress-circle
        valueLabel="20/20"
        [percent]="85"
        [showValueLabel]="true"
        [title]="['Total a pagar', 'este mes']"
        [showTitle]="false"
        [fillPathStatus]="'success'"
        [fullFillPathStatus]="false"
      ></bmb-progress-circle>
    </bmb-home-card>
    <bmb-home-card
      icon="account_balance_wallet"
      bgIconAppearance="green-light"
      title="Title"
      subtitle="Subtitle"
      [showRightButton]="false"
      bmbVerticalLayoutItem
      [style.view-transition-name]="'homeCardTransition2'"
      bmbVerticalLayout
      bmbLayoutItem
      [colSm]="2"
      [colLg]="2"
      gapSize="m"
    >
      <bmb-progress-circle
        valueLabel="20/20"
        [percent]="85"
        [showValueLabel]="true"
        [title]="['Total a pagar', 'este mes']"
        [showTitle]="false"
        [fillPathStatus]="'success'"
        [fullFillPathStatus]="false"
      ></bmb-progress-circle>
    </bmb-home-card>
    <bmb-home-card
      icon="account_balance_wallet"
      bgIconAppearance="green-light"
      title="Title"
      subtitle="Subtitle"
      [showRightButton]="false"
      bmbVerticalLayoutItem
      [style.view-transition-name]="'homeCardTransition2'"
      bmbVerticalLayout
      bmbLayoutItem
      [colSm]="2"
      [colLg]="2"
      gapSize="m"
    >
      <bmb-progress-circle
        valueLabel="20/20"
        [percent]="85"
        [showValueLabel]="true"
        [title]="['Total a pagar', 'este mes']"
        [showTitle]="false"
        [fillPathStatus]="'success'"
        [fullFillPathStatus]="false"
      ></bmb-progress-circle>
    </bmb-home-card>
    <bmb-home-card
      icon="account_balance_wallet"
      bgIconAppearance="green-light"
      title="Title"
      subtitle="Subtitle"
      [showRightButton]="false"
      bmbVerticalLayoutItem
      [style.view-transition-name]="'homeCardTransition2'"
      bmbVerticalLayout
      bmbLayoutItem
      [colSm]="2"
      [colLg]="2"
      gapSize="m"
    >
      <bmb-progress-circle
        valueLabel="20/20"
        [percent]="85"
        [showValueLabel]="true"
        [title]="['Total a pagar', 'este mes']"
        [showTitle]="false"
        [fillPathStatus]="'success'"
        [fullFillPathStatus]="false"
      ></bmb-progress-circle>
    </bmb-home-card>
    <bmb-home-card
      icon="account_balance_wallet"
      bgIconAppearance="green-light"
      title="Title"
      subtitle="Subtitle"
      [showRightButton]="false"
      bmbVerticalLayoutItem
      [style.view-transition-name]="'homeCardTransition2'"
      bmbVerticalLayout
      bmbLayoutItem
      [colSm]="2"
      [colLg]="2"
      gapSize="m"
    >
      <bmb-progress-circle
        valueLabel="20/20"
        [percent]="85"
        [showValueLabel]="true"
        [title]="['Total a pagar', 'este mes']"
        [showTitle]="false"
        [fillPathStatus]="'success'"
        [fullFillPathStatus]="false"
      ></bmb-progress-circle>
    </bmb-home-card>
    <bmb-home-card
      icon="account_balance_wallet"
      bgIconAppearance="green-light"
      title="Title"
      subtitle="Subtitle"
      [showRightButton]="false"
      bmbVerticalLayoutItem
      [style.view-transition-name]="'homeCardTransition2'"
      bmbVerticalLayout
      bmbLayoutItem
      [colSm]="2"
      [colLg]="2"
      gapSize="m"
    >
      <bmb-progress-circle
        valueLabel="20/20"
        [percent]="85"
        [showValueLabel]="true"
        [title]="['Total a pagar', 'este mes']"
        [showTitle]="false"
        [fillPathStatus]="'success'"
        [fullFillPathStatus]="false"
      ></bmb-progress-circle>
    </bmb-home-card>
    <bmb-home-card
      icon="account_balance_wallet"
      bgIconAppearance="green-light"
      title="Title"
      subtitle="Subtitle"
      [showRightButton]="false"
      bmbVerticalLayoutItem
      [style.view-transition-name]="'homeCardTransition2'"
      bmbVerticalLayout
      bmbLayoutItem
      [colSm]="2"
      [colLg]="2"
      gapSize="m"
    >
      <bmb-progress-circle
        title="warning"
        [percent]="85"
        [showTitle]="true"
        [fillPathStatus]="'warning'"
        [fullFillPathStatus]="true"
      ></bmb-progress-circle>
    </bmb-home-card>
    <bmb-home-card
      icon="account_balance_wallet"
      bgIconAppearance="green-light"
      title="Title"
      subtitle="Subtitle"
      [showRightButton]="false"
      bmbVerticalLayoutItem
      [style.view-transition-name]="'homeCardTransition2'"
      bmbVerticalLayout
      bmbLayoutItem
      [colSm]="2"
      [colLg]="2"
      gapSize="m"
    >
      <bmb-progress-circle
        valueLabel="20/20"
        [percent]="85"
        [showValueLabel]="true"
        [title]="['Total a pagar', 'este mes']"
        [showTitle]="false"
        [fillPathStatus]="'success'"
        [fullFillPathStatus]="false"
      ></bmb-progress-circle>
    </bmb-home-card>
    <bmb-home-card
      icon="account_balance_wallet"
      bgIconAppearance="green-light"
      title="Title"
      subtitle="Subtitle"
      [showRightButton]="false"
      bmbVerticalLayoutItem
      [style.view-transition-name]="'homeCardTransition2'"
      bmbVerticalLayout
      bmbLayoutItem
      [colSm]="2"
      [colLg]="2"
      gapSize="m"
    >
      <bmb-progress-circle
        valueLabel="20/20"
        [percent]="85"
        [showValueLabel]="true"
        [title]="['Total a pagar', 'este mes']"
        [showTitle]="false"
        [fillPathStatus]="'success'"
        [fullFillPathStatus]="false"
      ></bmb-progress-circle>
    </bmb-home-card>
  </section>
</div>
