<header class="bmb_template-header">
  <h3>Home</h3>
  <h5>Welcome to BambooPress</h5>
</header>
<div class="bmb_template-margin-for-sidebar">
  <bmb-home-card
    leftIcon="chevron_left"
    icon="account_balance_wallet"
    bgIconAppearance="green-light"
    title="Title"
    subtitle="Subtitle"
    [showRightButton]="true"
    (onExpandClick)="onExpandClick()"
    [style.view-transition-name]="'homeCardTransition'"
  >
    <h1>Home Card Transition</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quas
      qui aliquid ad ipsa provident, architecto inventore vero dignissimos
      consectetur beatae consequuntur, ipsam dolores nihil totam ut libero sequi
      et!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quas
      qui aliquid ad ipsa provident, architecto inventore vero dignissimos
      consectetur beatae consequuntur, ipsam dolores nihil totam ut libero sequi
      et!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quas
      qui aliquid ad ipsa provident, architecto inventore vero dignissimos
      consectetur beatae consequuntur, ipsam dolores nihil totam ut libero sequi
      et!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quas
      qui aliquid ad ipsa provident, architecto inventore vero dignissimos
      consectetur beatae consequuntur, ipsam dolores nihil totam ut libero sequi
      et!
    </p>
  </bmb-home-card>
</div>
