<header class="bmb_template-header">
  <h3>Home</h3>
  <h5>Welcome to BambooPress</h5>
</header>
<div class="bmb_template-margin-for-sidebar">
  <bmb-home-card
    leftIcon="chevron_left"
    icon="account_balance_wallet"
    bgIconAppearance="green-light"
    componentTitle="Title"
    subtitle="Subtitle"
    [showRightButton]="true"
    (onExpandClick)="onExpandClick()"
    [style.view-transition-name]="'homeCardTransition'"
  >
    <section bmbLayout alignItems="stretch">
      <div bmbLayoutItem [colLg]="4" [colSm]="2">
        <bmb-container-button
          [componentTitle]="'Tema de App'"
          [iconLeft]="'home'"
          [iconRight]="'chevron_right'"
        ></bmb-container-button>
      </div>
      <div bmbLayoutItem [colLg]="4" [colSm]="2">
        <bmb-container-button
          [componentTitle]="
            'asjdn fklajsndfkjasnfd fklajsnd flkjans dflkajsndfl kjansdfl kajnfsdk ljfnasl kjnsdf'
          "
          [iconLeft]="'home'"
          [iconRight]="'chevron_right'"
        ></bmb-container-button>
      </div>
      <div bmbLayoutItem [colLg]="4" [colSm]="2">
        <bmb-container-button
          [title]="'Tema de App'"
          [iconLeft]="'home'"
          [iconRight]="'chevron_right'"
        ></bmb-container-button>
      </div>
      <div bmbLayoutItem [colLg]="4" [colSm]="2">
        <bmb-container-button
          [title]="'Tema de App'"
          [iconLeft]="'home'"
          [iconRight]="'chevron_right'"
        ></bmb-container-button>
      </div>
      <div bmbLayoutItem [colLg]="4" [colSm]="2">
        <bmb-container-button
          [title]="'Tema de App'"
          [iconLeft]="'home'"
          [iconRight]="'chevron_right'"
        ></bmb-container-button>
      </div>
      <div bmbLayoutItem [colLg]="4" [colSm]="2">
        <bmb-container-button
          [title]="'Tema de App'"
          [iconLeft]="'home'"
          [iconRight]="'chevron_right'"
        ></bmb-container-button>
      </div>
      <div bmbLayoutItem [colLg]="4" [colSm]="2">
        <bmb-container-button
          [title]="'Tema de App'"
          [iconLeft]="'home'"
          [iconRight]="'chevron_right'"
        ></bmb-container-button>
      </div>
      <div bmbLayoutItem [colLg]="4" [colSm]="2">
        <bmb-container-button
          [title]="'Tema de App'"
          [iconLeft]="'home'"
          [iconRight]="'chevron_right'"
        ></bmb-container-button>
      </div>
      <div bmbLayoutItem [colLg]="4" [colSm]="2">
        <bmb-container-button
          [title]="'Tema de App'"
          [iconLeft]="'home'"
          [iconRight]="'chevron_right'"
        ></bmb-container-button>
      </div>
      <div bmbLayoutItem [colLg]="4" [colSm]="2">
        <bmb-container-button
          [title]="'Tema de App'"
          [iconLeft]="'home'"
          [iconRight]="'chevron_right'"
        ></bmb-container-button>
      </div>
      <div bmbLayoutItem [colLg]="4" [colSm]="2">
        <bmb-container-button
          [title]="'Tema de App'"
          [iconLeft]="'home'"
          [iconRight]="'chevron_right'"
        ></bmb-container-button>
      </div>
    </section>
  </bmb-home-card>
</div>
