<div style="margin: 0 120px">
  <button
    bmbButton
    appearance="secondary-outlined"
    (click)="openModalTemplate()"
  >
    Open Modal template
  </button>
  <br /><br />
  <button bmbButton appearance="secondary-outlined">
    Open Modal component
  </button>

  <bmb-table
    [pageSize]="20"
    [data]="data"
    [columns]="tableColumns"
    [config]="tableConfig"
    (select)="tableSelection($event)"
  ></bmb-table>
</div>

<ng-template #searchTemplate>
  <bmb-table
    [pageSize]="20"
    [data]="data"
    [columns]="tableColumns"
    [config]="tableConfig"
    (select)="tableSelection($event)"
  ></bmb-table>
</ng-template>
