<bmb-multi-dot-paginator
  componentTitle="Mi dashboard"
  subtitle="Accesos rápidos"
>
  <bmb-multi-dot-paginator-item>
    <div
      bmbLayoutGrid
      height="max(160px, calc(100dvh - 202px))"
      rowSize="minmax(0, 1fr)"
    >
      <bmb-home-card
        bmbLayoutGridItem
        [colStart]="1"
        [rowStart]="1"
        componentTitle="Mis anuncios"
        [showRightButton]="false"
        contentPadding="none"
      >
        <!-- <bmb-media-card
          [src]="announcementImage"
          alt="Mis anuncios"
          borderRadius="none"
        /> -->
        <bmb-image [src]="'https://mitecpprd.tec.mx/api/images/mitec/colaboradores/Avisos/2022/mar/CentroIdiomas.png'" [ratio]="'1/1'" [borderRadius]="'none'"
          [mobileSrc]="'https://2.bp.blogspot.com/-YkNDZEbKt_g/TYzcbF2_tkI/AAAAAAAAalk/Vt_MHS60Xv8/s1600/www.JoseLuisAvilaHerrera.BLOGSPOT.com%2B-%2BFunny%2BCats%2B-%2BGatitos%2Bmuy%2Btiernos%2B8.jpg'" [alt]="'Fruits'"
          [width]="'clamp(200px, 100%, calc(50dvw - 3rem))'" [ratio]="'1/1'" [loading]="'lazy'" [enableZoom]="false" [isBlurredBackdrop]="false"
            [images]="[{src: 'https://farm2.staticflickr.com/1919/45579541712_f58c1fd0ed_o.jpg',
            mobileSrc: 'https://2.bp.blogspot.com/-YkNDZEbKt_g/TYzcbF2_tkI/AAAAAAAAalk/Vt_MHS60Xv8/s1600/www.JoseLuisAvilaHerrera.BLOGSPOT.com%2B-%2BFunny%2BCats%2B-%2BGatitos%2Bmuy%2Btiernos%2B8.jpg', alt: 'Image 1'},
            {src: 'https://mitecpprd.tec.mx/api/images/mitec/colaboradores/Avisos/2022/mar/CentroIdiomas.png', mobileSrc: 'https://mitecpprd.tec.mx/api/images/mitec/colaboradores/Avisos/2022/mar/CentroIdiomas.png', alt: 'Image 2'},
            {src: 'https://images.unsplash.com/photo-1507149833265-60c372daea22', alt: 'Image 3'}]"
          [objectFit]="'cover'" [avoidEncoding]="false" [enableCursorPointer]="false"></bmb-image>
      </bmb-home-card>
    </div>
  </bmb-multi-dot-paginator-item>

  <bmb-multi-dot-paginator-item>
    <div
      bmbLayoutGrid
      [rows]="2"
      rowSize="minmax(0, 1fr)"
      height="max(160px, calc(100dvh - 202px))"
      rowGapSize="m"
    >
      <bmb-home-card
        bmbLayoutGridItem
        [colStart]="1"
        [rowStart]="1"
        componentTitle="work@tec"
        [showRightButton]="true"
        contentPadding="m"
      >
        <div
          bmbVerticalLayout
          layoutHeight="100%"
          justify="start"
          alignItems="stretch"
        >
          <div
            bmbLayout
            margin="none"
            gapSize="m"
            justify="spaceAround"
            alignItems="start"
            [dynamicCols]="true"
            [avoidRowWrap]="true"
          >
            @for (item of workShortcuts; track item.label) {
            <bmb-interactive-icon
              bmbLayoutItem
              [isDynamicItem]="true"
              [colGrow]="1"
              [icon]="item.icon"
              [componentTitle]="item.label"
              appearance="white_primary"
            />
            }
          </div>
        </div>
      </bmb-home-card>

      <bmb-home-card
        bmbLayoutGridItem
        [colStart]="1"
        [rowStart]="2"
        componentTitle="Mis Servicios"
        [showRightButton]="true"
        contentPadding="m"
      >
        <div
          bmbVerticalLayout
          layoutHeight="100%"
          justify="center"
          alignItems="stretch"
        >
          <div
            bmbLayout
            margin="none"
            gapSize="m"
            justify="spaceEvenly"
            alignItems="center"
          >
            @for (item of serviceShortcuts; track item.label) {
            <bmb-interactive-icon
              [icon]="item.icon"
              [componentTitle]="item.label"
              [appearance]="item.appearance"
            />
            }
          </div>
        </div>
      </bmb-home-card>
    </div>
  </bmb-multi-dot-paginator-item>

  <bmb-multi-dot-paginator-item>
    <div
      bmbLayoutGrid
      [rows]="2"
      rowSize="minmax(0, 1fr)"
      height="max(160px, calc(100dvh - 202px))"
      rowGapSize="m"
    >
      <bmb-home-card
        bmbLayoutGridItem
        [colStart]="1"
        [rowStart]="1"
        componentTitle="Reservación de Espacios"
        [showRightButton]="true"
        contentPadding="m"
      >
        <div
          bmbVerticalLayout
          layoutHeight="100%"
          justify="start"
          alignItems="stretch"
        >
          <div
            bmbLayout
            margin="none"
            gapSize="m"
            justify="start"
            alignItems="center"
          >
            @for (item of reservationShortcuts; track item.label) {
            <bmb-interactive-icon
              [componentTitle]="item.label"
              [icon]="item.icon"
              appearance="white_primary"
            />
            }
          </div>
        </div>
      </bmb-home-card>

      <div
        bmbLayout
        margin="none"
        gapSize="m"
        alignItems="stretch"
        [dynamicCols]="true"
        bmbLayoutGridItem
        [colStart]="1"
        [rowStart]="2"
      >
        <bmb-sounds-card
          bmbLayoutItem
          [isDynamicItem]="true"
          [colGrow]="1"
          componentTitle="Tec Sounds Radio"
          subtitle="98.76 FM"
          ratio="8/9"
        />
        <bmb-media-card
          bmbLayoutItem
          [isDynamicItem]="true"
          [colGrow]="1"
          [src]="conectaImage"
          ratio="8/9"
          alt="Comunicados"
          borderRadius="m"
        >
          <label
            >Por octavo año, el Tec de Monterrey es #1 en México: ranking
            QS</label
          >
          <label>1 de octubre de 2026</label>
        </bmb-media-card>
      </div>
    </div>
  </bmb-multi-dot-paginator-item>
</bmb-multi-dot-paginator>
