<bmb-form-validator
  [(formGroup)]="userForm"
  (formGroupState)="handleFormGroupState($event)"
>
  <section bmbVerticalLayout justify="center" alignItems="center" gapSize="xl">
    <bmb-dropzone
      inputId="dropzone_id"
      name="dropzone"
      [acceptedExtensions]="['image/*']"
      [fileSize]="1"
      [multiple]="true"
      [progress]="progressFiles()"
      linkLabel="Ver más información de formatos de archivo aceptados."
      linkFilesSupported="https://www.youtube.com/"
      (newFile)="onNewFile($event)"
      bmbVerticalLayoutItem
    />
    <button
      bmbButton
      type="submit"
      size="large"
      appearance="primary"
      bmbVerticalLayoutItem
    >
      Submit
    </button>
  </section>
</bmb-form-validator>

<!-- <div style="margin: 0 120px">
  <bmb-filter-card
    [modalTitle]="'Opciones Filtrado'"
    [primaryBtnLabel]="'Aplicar Filtros'"
    [secondaryBtnLabel]="'Limpiar Filtros'"
    [icon]="'tune'"
    [controlTypes]="filterControls"
    [inLine]="true"
    [showGlobalSearch]="true"
    [showDropdown]="false"
    [dropdownOptions]="['Apple', 'Banana', 'Orange', 'Pear', 'Grape']"
    [placeholderSearch]="'Search'"
    (applyFilters)="handleFilters($event)"
    (resetFilters)="handleResetFilters()"
  />
</div> -->
