<bmb-action-menu
  icon="account_balance_wallet"
  bgIconAppearance="green-light"
  title="Title"
  subtitle="Subtitle"
  [showHeader]="false"
>
  <ng-template>
    <bmb-item
      label="Correo"
      icon="mail"
      value="tecservices@servicios.tec.mx"
      valueLink="mailto:tecservices@servicios.tec.mx"
    />
  </ng-template>
  <ng-template>
    <bmb-item
      label="Teléfono"
      icon="smartphone"
      value="52 81 8358 2000"
      valueLink="tel:52 81 8358 2000"
    />
  </ng-template>
  <ng-template>
    <bmb-item
      label="Teléfono"
      icon="smartphone"
      value="+52 81 1625 5123 (solo texto)"
    />
  </ng-template>
</bmb-action-menu>
