@use 'sass:list';
@use '../../styles/playground';

@include playground.page($preview-min-height: 25rem);

.preview {
  height: 25rem;
}

.slide {
  border-radius: 0.5rem;
  color: #fff;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 0.5rem;
  min-height: 18rem;

  strong {
    font-size: 2.5rem;
  }

  $backgrounds: (#005eb8, #167d61, #673ab7);

  @each $background in $backgrounds {
    $index: list.index($backgrounds, $background) - 1;

    &-#{$index} {
      background: $background;
    }
  }
}
