<div>
  <div class="divtitle">
    <span class="title">Avatares</span>
    <button bmbButton appearance="primary">Agregar un avatar</button>
  </div>
  <bmb-table
    [truncate]="true"
    [wrap]="true"
    [data]="avatars"
    [columns]="columns"
    [config]="config"
    [pageSize]="10"
    [showSearch]="false"
    [lang]="'es'"
  />
</div>

<!-- Image column -->
 <ng-template #conceptTemplate let-row="row">
  <div style="display: flex; align-items: center; gap: 4px">
    <bmb-user-image [size]="'mobile-small'" [image]="row.avatarCell" [altImage]="row.name" [bordered]="false"></bmb-user-image>
  </div>
</ng-template>
