@import "../base/mixins";
@import "../base/measures";

.badge {
  &-grouped {
    display: flex;
    flex-flow: row wrap;
    gap: $spacing-size-base;

    @include media-query(768) {
      gap: $spacing-size-md;
    }
  }

  &-normal {
    @include badge(normal);
  }

  &-strong {
    @include badge(strong);
  }

  &-success {
    @include badge(success);
  }

  &-info {
    @include badge(info);
  }

  &-warning {
    @include badge(warning);
  }

  &-error {
    @include badge(error);
  }

  &-brand {
    @include badge(brand);
  }
}
