@use "../base/mixins" as mixins;

.bmb_btn {
  &-primary {
    @include mixins.button(primary);
  }

  &-secondary-filled {
    @include mixins.button(secondary-filled);
  }

  &-secondary-outlined {
    @include mixins.button(secondary-outlined);
  }

  &-destructive {
    @include mixins.button(destructive);
  }
}

[data-theme="dark"],
.storybook-dark-theme {
  .bmb_btn {
    &-secondary-outlined {
      border-color: RGBA(var(--color-white-primary));
      color: RGBA(var(--color-white-primary));

      bmb-icon {
        color: RGBA(var(--color-white-primary));
      }

      &:active {
        background-color: RGBA(var(--color-white-primary));
        color: RGBA(var(--color-black-primary));

        bmb-icon {
          color: RGBA(var(--color-black-primary));
        }
      }
    }
  }
}
