@use '../base/mixins' as mixins;
@use '../base/rem' as rem;

@mixin first-child($padding) {
  & {
    border-width: rem.rem_calc(1 1 1 0);
    padding: $padding;

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled),
    &:active:not(:disabled),
    &.bmb_btn-toggle-active {
      border-width: rem.rem_calc(1);
      padding: $padding;
      border-width: rem.rem_calc(1 1 1 0);
      box-shadow: none;
    }
  }

  &:first-child {
    border-top-left-radius: rem.rem_calc(8);
    border-bottom-left-radius: rem.rem_calc(8);
    border-left-width: rem.rem_calc(1);

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled),
    &:active:not(:disabled),
    &.bmb_btn-toggle-active {
      border-left-width: rem.rem_calc(1);
    }
  }

  &:last-child {
    border-top-right-radius: rem.rem_calc(8);
    border-bottom-right-radius: rem.rem_calc(8);
  }
}

@mixin secondary-outlined() {
  & {
    box-sizing: border-box;
  }

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    background-color: var(--general_contrasts-25);
  }

  &:active:not(:disabled),
  &.bmb_btn-toggle-active {
    background-color: var(--general_contrasts-input-background);
    color: var(--general_contrasts-100);
    box-shadow: none;
    border-color: var(--general_contrasts-100);
  }
}

@mixin destructive() {
  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    background-color: RGBA(var(--color-red-primary), 0.25);
  }
}

.bmb_button-group {
  display: inline-flex;

  &-small {
    &.bmb_button-group-primary {
      > * {
        @include mixins.button(primary);
        @include first-child(rem.rem_calc(8));
      }
    }

    &.bmb_button-group-secondary-filled {
      > * {
        @include mixins.button(secondary-filled);
        @include first-child(rem.rem_calc(8));
      }
    }

    &.bmb_button-group-secondary-outlined {
      > * {
        @include mixins.button(secondary-outlined);
        @include first-child(rem.rem_calc(8));
        @include secondary-outlined();
      }
    }

    &.bmb_button-group-destructive {
      > * {
        @include mixins.button(destructive);
        @include first-child(rem.rem_calc(8));
        @include destructive();
      }
    }

    &.bmb_button-group-transparent {
      > * {
        @include first-child(rem.rem_calc(8));
      }
    }
  }

  &-large {
    &.bmb_button-group-primary {
      > * {
        @include mixins.button(primary);
        @include first-child(rem.rem_calc(8 16));
      }
    }

    &.bmb_button-group-secondary-filled {
      > * {
        @include mixins.button(secondary-filled);
        @include first-child(rem.rem_calc(8 16));
      }
    }

    &.bmb_button-group-secondary-outlined {
      > * {
        @include mixins.button(secondary-outlined);
        @include first-child(rem.rem_calc(8 16));
        @include secondary-outlined();
      }
    }

    &.bmb_button-group-destructive {
      > * {
        @include mixins.button(destructive);
        @include first-child(rem.rem_calc(8 16));
        @include destructive();
      }
    }

    &.bmb_button-group-transparent {
      > * {
        @include mixins.button(transparent);
        @include first-child(rem.rem_calc(8 16));
      }
    }
  }
}
