@use '../base/rem' as rem;
@use '../base/mixins' as mixins;
@use 'sass:math';

$sizes: (
  'xs': rem.rem_calc(4),
  's': rem.rem_calc(8),
  'm': rem.rem_calc(16),
  'l': rem.rem_calc(24),
  'xl': rem.rem_calc(32),
);

$marginSizes: (
  'sm': 4,
  'lg': 12,
);

$namesOfSides: 'left', 'right';

$justifyOptions: (
  'center': center,
  'end': end,
  'start': start,
  'stretch': stretch,
  'spaceAround': space-around,
  'spaceBetween': space-between,
  'spaceEvenly': space-evenly,
);

$alignItemsOptions: (
  'center': center,
  'end': end,
  'start': start,
  'stretch': stretch,
);

@mixin margin-side($side, $i, $size) {
  margin-#{$side}: calc(
    #{math.percentage(math.div($i, $size))} + var(--bmb-gap) - (var(--bmb-gap) /
          $size * #{$size - $i})
  );
}

@mixin one-column() {
  &:not(.bmb_col-sm-1):not(.bmb_col-sm-2):not(.bmb_col-sm-3):not(
      .bmb_col-sm-4
    ) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@mixin columns($index) {
  flex: 0 0
    calc(
      #{math.percentage(math.div($index, 12))} - (var(--bmb-gap) / 12 * #{12 -
            $index})
    ) !important;
  max-width: calc(
    #{math.percentage(math.div($index, 12))} - (var(--bmb-gap) / 12 * #{12 -
          $index})
  ) !important;
}

.bmb_layout {
  display: flex;
  flex-wrap: wrap;

  &-smart {
    justify-content: center;
    align-items: flex-start;
  }
}

@for $i from 1 through 4 {
  .bmb_col-sm-#{$i} {
    overflow: visible;
    flex: 0
      0
      calc(
        #{math.percentage(math.div($i, 4))} - var(--bmb-gap) / 4 * #{4 - $i}
      ) !important;
    max-width: calc(
      #{math.percentage(math.div($i, 4))} - var(--bmb-gap) / 4 * #{4 - $i}
    ) !important;
  }
}

@for $i from 1 through 12 {
  .bmb_col-lg-#{$i} {
    overflow: visible;

    @include mixins.check-for-mobile() {
      @include one-column();
    }

    @include mixins.check-for-mobile(false) {
      @include columns($i);
    }
  }
}

@each $side in $namesOfSides {
  @each $margin, $size in $marginSizes {
    @for $i from 1 through $size {
      .bmb_space-#{$margin}-#{$side}-#{$i} {
        @include margin-side($side, $i, $size);
      }
    }
  }
}

@each $name, $option in $justifyOptions {
  .bmb_justify-#{$name} {
    justify-content: $option;
  }
}

@each $name, $option in $alignItemsOptions {
  .bmb_alignItems-#{$name} {
    align-items: $option;
  }
}

.bmb_layout-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.bmb_layout-grid-item,
.bmb_layout-item,
.bmb_vertical-layout-item {
  > .bmb_card,
  > .bmb-drop-zone,
  > .bmb_container-primary-container,
  > .bmb_iframe,
  > .bmb_image,
  > .bmb_alert-center,
  > .bmb_calendar,
  > .bmb_carousel,
  > .bmb_text-editor,
  > .bmb_text-editor-container,
  > .bmb_home-card,
  > .bmb_home-card > .bmb_home-card-wrapper,
  > bmb-container-button .bmb_container-button,
  > bmb-container-button
    .bmb_container-button
    .bmb_check-external-link-button-element {
    height: 100%;
  }

  > .bmb_home-card > .bmb_home-card-wrapper {
    display: flex;
    flex-flow: column;

    > .bmb_home-card-container {
      flex: 1;
    }
  }
}
