@use "../base/rem" as rem;
@use "../base/mixins" as mixins;
@use "sass:math";

$sizes: (
  "xs": rem.rem_calc(4),
  "s": rem.rem_calc(8),
  "m": rem.rem_calc(16),
  "l": rem.rem_calc(24),
  "xl": rem.rem_calc(32),
);

$marginSizes: (
  "sm": 4,
  "lg": 12,
);

$namesOfSides: "left", "right";

$justifyOptions: (
  "center": center,
  "end": end,
  "start": start,
  "stretch": stretch,
  "spaceAround": space-around,
  "spaceBetween": space-between,
  "spaceEvenly": space-evenly,
);

$alignItemsOptions: (
  "center": center,
  "end": end,
  "start": start,
  "stretch": stretch,
);

.bmb_layout {
  display: flex;
  flex-wrap: wrap;

  &-smart {
    justify-content: center;
    align-items: flex-start;
  }
}

@for $i from 1 through 4 {
  .bmb_col-sm-#{$i} {
    @include mixins.media-query(999, "max") {
      flex: 0 0
        calc(#{percentage(math.div($i, 4))} - var(--bmb-gap) / 4 * #{4 - $i});
      max-width: calc(
        #{percentage(math.div($i, 4))} - var(--bmb-gap) / 4 * #{4 - $i}
      );
    }
    flex: 0
      0
      calc(#{percentage(math.div($i, 4))} - var(--bmb-gap) / 4 * #{4 - $i});
    max-width: calc(
      #{percentage(math.div($i, 4))} - var(--bmb-gap) / 4 * #{4 - $i}
    );
    overflow: visible;
  }
}

@for $i from 1 through 12 {
  .bmb_col-lg-#{$i} {
    overflow: visible;

    @include mixins.media-query(999, "max") {
      &:not(.bmb_col-sm-1):not(.bmb_col-sm-2):not(.bmb_col-sm-3):not(
          .bmb_col-sm-4
        ) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    @include mixins.media-query(1000, "min") {
      flex: 0 0
        calc(
          #{percentage(math.div($i, 12))} - (var(--bmb-gap) / 12 * #{12 - $i})
        );
      max-width: calc(
        #{percentage(math.div($i, 12))} - (var(--bmb-gap) / 12 * #{12 - $i})
      );
    }
  }
}

@each $side in $namesOfSides {
  @each $margin, $size in $marginSizes {
    @for $i from 1 through $size {
      .bmb_space-#{$margin}-#{$side}-#{$i} {
        @include mixins.media-query(
          if($margin == "sm", 999, 1000),
          if($margin == "sm", "max", "min")
        ) {
          margin-#{$side}: calc(
            #{percentage(math.div($i, $size))} + var(--bmb-gap) -
              (var(--bmb-gap) / $size * #{$size - $i})
          );
        }
      }
    }
  }
}

@each $name, $option in $justifyOptions {
  .bmb_justify-#{$name} {
    justify-content: $option;
  }
}

@each $name, $option in $alignItemsOptions {
  .bmb_alignItems-#{$name} {
    align-items: $option;
  }
}

.bmb_layout-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.bmb_layout-grid-item,
.bmb_layout-item,
.bmb_vertical-layout-item {
  > .bmb_card,
  > .bmb-drop-zone,
  > .bmb_container-primary-container,
  > .bmb_iframe,
  > .bmb_image,
  > .bmb_alert-center,
  > .bmb_calendar,
  > .bmb_carousel,
  > .bmb_text-editor,
  > .bmb_text-editor-container,
  > .bmb_home-card,
  > .bmb_home-card > .bmb_home-card-wrapper {
    height: 100%;
  }

  > .bmb_home-card > .bmb_home-card-wrapper {
    display: flex;
    flex-flow: column;

    > .bmb_home-card-container {
      flex: 1;
    }
  }
}

