@import "../tokens/colors";
@import "../base/rem";
@import "../base/measures";
@import "../base/fonts";

.button__container {
  color: RGBA(var(--color-white-primary));
  text-decoration: none;

  &--grade {
    align-items: center;
    display: flex;
    height: rem_calc(40);
    justify-content: center;
    margin-right: $spacing-size-base;
    position: relative;
    width: rem_calc(48);

    span {
      color: RGBA(var(--color-charade-50));
      position: absolute;
      @include font(5, regular);
    }
  }

  &--text {
    display: flex;
    flex-flow: column;
    margin-right: $spacing-size-base;
  }

  &--title {
    @include font(5, regular);
  }

  &--subtitle {
    @include font(3, regular);
    color: RGBA(var(--color-charade-200));
  }

  bmb-icon {
    font-size: rem_calc(24);
  }

  &--left {
    height: rem_calc(24);
    margin-right: $spacing-size-base;
  }

  &--right {
    margin-left: auto;
  }
}
