.dot-paginator {
  align-items: center;
  background-color: RGBA(var(--color-charade-200));
  border-radius: rem_calc(40);
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: rem_calc(12);
  position: relative;
  width: fit-content;

  .dot {
    background-color: RGBA(var(--color-white-primary));
    border-radius: 100%;
    cursor: pointer;
    height: rem_calc(6);
    margin: 0 rem_calc(8);
    position: relative;
    width: rem_calc(6);

    &.active {
      background-color: RGBA(var(--color-mariner-500));
      border-radius: rem_calc(30);
      width: rem_calc(16);
    }

    ::marker {
      display: none;
    }
  }
}
