bmb-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    > .bmb-input-simple{
        @include inputType(simple);
        @include inputPad(l);
    }

    .bmb-input-simple ~ .bmb-icon {
      color: RGBA(var(--color-marine-100));
    }
    
    > .bmb-input-normal {
        @include inputType(normal);
        @include inputPad(l);
    }

    .bmb-input-normal ~ .bmb-icon {
      color: RGBA(var(--color-white));
    }
    
    > .bmb-input-main {
        @include inputType(main);
        @include inputPad(l);
    }

    .bmb-input-main ~ .bmb-icon {
      color: RGBA(var(--color-marine-100));
    }

    .bmb-icon {
        position: absolute;
        left: rem_calc(8);
        top: 50%;
        transform: translateY(-50%);
        font-size: rem_calc(24) !important;
    }
}

bmb-input-form {
    display: flex;
    flex-direction: column;
    padding: rem_calc(2);

    > .bmb-label {
        @include font(3, regular);
        color: RGBA(var(--color-charade-900));
        padding: rem_calc(8) rem_calc(8) rem_calc(4) rem_calc(8)
    }

    > .bmb-helper {
        @include font(3, regular);
        color: RGBA(var(--color-charade-300));
        padding: rem_calc(4) rem_calc(8) rem_calc(8) rem_calc(8)
    }
}
