.bmb__field {
  &--label {
    @include font(4, medium);
    color: RGBA(var(--color-white-primary));
    margin: rem_calc(8);
  }

  &--wrapper {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }

  &--error {
  }

  &--icon {
    font-size: rem_calc(24);
    color: RGBA(var(--color-charade-50));
    left: rem_calc(8);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    ~ .bmb__field--input {
      padding-left: rem_calc(35);
    }
  }

  &--helper {
    @include font(4, regular);
    color: RGBA(var(--color-charade-50));
    margin: rem_calc(8);
  }

  &--input {
    &-normal {
      @include input(normal);
    }

    &-simple {
      @include input(simple);
    }

    &-main {
      @include input(main);
    }
  }
}
