@use "../base/rem" as rem;

.bmb_vertical-layout {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100%;

  &-item-full {
    display: flex;
    gap: rem.rem_calc(40);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
