@import "../base/mixins";
@import "../base/measures";
@import "../base/fonts";
@import "../base/rem";

.tag {
  @include font(3, regular);
  align-items: center;
  background-color: RGBA(var(--color-charade-950));
  border: rem_calc(1) solid RGBA(var(--color-charade-500));
  border-radius: $border-radius-xs;
  color: RGBA(var(--color-white-primary));
  display: flex;
  justify-content: center;
  min-height: rem_calc(26);
  padding: $spacing-size-sm $spacing-size-base;
  width: fit-content;

  &--grouped {
    display: flex;
    flex-flow: row wrap;
    gap: $spacing-size-md;
  }

  &--btn {
    align-items: center;
    appearance: none;
    background: none;
    border: 0;
    display: flex;
    padding: 0 0 0 $spacing-size-md;
  }

  bmb-icon {
    color: RGBA(var(--color-white-primary));
    font-size: rem_calc(16);
  }
}
