.tag {
  @include font(3, regular);
  align-items: center;
  background-color: RGBA(var(--color-charade-950));
  border: rem_calc(1) solid RGBA(var(--color-charade-500));
  border-radius: $border-radius-xs;
  color: RGBA(var(--color-white-primary));
  display: flex;
  gap: rem_calc(8);
  justify-content: center;
  min-height: rem_calc(24);
  padding: $spacing-size-sm $spacing-size-md;
  width: fit-content;

  &--grouped {
    display: flex;
    gap: $spacing-size-md;
  }

  bmb-icon {
    color: RGBA(var(--color-white-primary));
    font-size: rem_calc(16);
  }

  &--btn {
    align-items: center;
    appearance: none;
    background: none;
    border: 0;
    display: flex;
    padding: 0;
  }
}
