@use "../base/mixins" as mixins;
@use "../base/rem" as rem;

.bmb_template-header {
  width: 100%;
  height: rem.rem_calc(100);
  background-color: var(--general_contrasts-15);
  gap: var(--bmb-spacing-s);
  padding: rem.rem_calc(24) rem.rem_calc(24) rem.rem_calc(24) rem.rem_calc(100);

  @media (max-width: 1000px) {
    padding: rem.rem_calc(24) rem.rem_calc(24) rem.rem_calc(24) rem.rem_calc(40);
  }
}

.bmb_template-aside-full {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-areas: "main aside";
  gap: 1rem;
  margin-top: var(--bmb-spacing-m);
  margin-bottom: var(--bmb-spacing-m);

  @media (max-width: 630px) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content max-content;
    grid-template-areas:
      "main"
      "aside";
    height: fit-content;
  }

  &-main {
    background-color: var(--general_contrasts-15);
    height: 100%;
    grid-area: main;
    padding: var(--bmb-spacing-l);
    padding-left: rem.rem_calc(100);
    border-radius: rem.rem_calc(20);
    box-shadow: rem.rem_calc(10 5 10 0) RGBA(var(--color-black-primary), 0.5);

    @media (max-width: 630px) {
      height: max-content;
      margin: var(--bmb-spacing-xxs);
      padding-left: rem.rem_calc(30);
    }
    @media (width <= 1000px) and (width >= 630px) {
      padding-left: rem.rem_calc(40);
    }
  }

  &-aside {
    background-color: var(--general_contrasts-15);
    height: 100%;
    grid-area: aside;
    padding: var(--bmb-spacing-l);
    border-radius: rem.rem_calc(20);
    box-shadow: rem.rem_calc(10 5 10 0) RGBA(var(--color-black-primary), 0.5);

    @media (max-width: 630px) {
      height: max-content;
      margin: var(--bmb-spacing-xxs);
    }
  }

  &-title {
    padding-bottom: var(--bmb-spacing-s);
  }
}

.bmb_template-aside {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-areas: "main aside";
  gap: 1rem;
  margin-top: var(--bmb-spacing-xs);
  padding: var(--bmb-spacing-l);
  overflow: hidden;

  @media (max-width: 630px) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content max-content;
    grid-template-areas:
      "main"
      "aside";
    height: fit-content;
  }

  &-main {
    background-color: var(--general_contrasts-15);
    height: 100%;
    grid-area: main;
    padding: var(--bmb-spacing-l);
    border-radius: rem.rem_calc(20);
    margin-left: rem.rem_calc(80);
    box-shadow: rem.rem_calc(10 5 10 0) RGBA(var(--color-black-primary), 0.5);

    @media (max-width: 630px) {
      height: max-content;
      margin: var(--bmb-spacing-xxs);
    }
    @media (width <= 1000px) and (width >= 630px) {
      margin-left: rem.rem_calc(15);
    }
  }

  &-aside {
    background-color: var(--general_contrasts-15);
    height: 100%;
    grid-area: aside;
    padding: var(--bmb-spacing-l);
    border-radius: rem.rem_calc(20);
    box-shadow: rem.rem_calc(10 5 10 0) RGBA(var(--color-black-primary), 0.5);

    @media (max-width: 630px) {
      margin: var(--bmb-spacing-xxs);
      height: max-content;
    }
  }

  &-title {
    padding-bottom: var(--bmb-spacing-s);
  }
}

.bmb_template-aside-first {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-areas: "aside main";
  gap: 1rem;
  margin-top: var(--bmb-spacing-xs);
  padding: var(--bmb-spacing-l);

  @media (max-width: 630px) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content max-content;
    grid-template-areas:
      "aside"
      "main";
    height: fit-content;
  }

  &-aside {
    background-color: var(--general_contrasts-15);
    height: 100%;
    grid-area: aside;
    padding: var(--bmb-spacing-l);
    border-radius: rem.rem_calc(20);
    margin-left: rem.rem_calc(80);
    overflow: hidden;
    box-shadow: rem.rem_calc(10 5 10 0) RGBA(var(--color-black-primary), 0.5);

    @media (max-width: 630px) {
      margin: var(--bmb-spacing-xxs);
      height: max-content;
    }

    @media (width <= 1000px) and (width >= 630px) {
      margin-left: rem.rem_calc(20);
    }
  }

  &-main {
    background-color: var(--general_contrasts-15);
    height: 100%;
    grid-area: main;
    padding: var(--bmb-spacing-l);
    border-radius: rem.rem_calc(20);
    overflow: hidden;
    box-shadow: rem.rem_calc(10 5 10 0) RGBA(var(--color-black-primary), 0.5);

    @media (max-width: 630px) {
      margin: var(--bmb-spacing-xxs);
      height: max-content;
    }
  }

  &-title {
    padding-bottom: var(--bmb-spacing-s);
  }
}

.bmb_template-main-full {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-areas: "main";
  gap: 1rem;
  margin-top: var(--bmb-spacing-m);
  padding: var(--bmb-spacing-m);
  overflow: hidden;

  @media (max-width: 630px) {
    height: fit-content;
  }

  &-card {
    height: 100%;
    border-radius: rem.rem_calc(20);
    padding: var(--bmb-spacing-l);
    margin-left: rem.rem_calc(80);
    background-color: var(--general_contrasts-15);
    grid-area: main;
    box-shadow: rem.rem_calc(10 5 10 0) RGBA(var(--color-black-primary), 0.5);

    @media (max-width: 630px) {
      height: max-content;
      margin: var(--bmb-spacing-xxs);
    }

    @media (width <= 1000px) and (width >= 630px) {
      margin-left: rem.rem_calc(20);
    }
  }

  &-title {
    padding-bottom: var(--bmb-spacing-s);
  }
}

.bmb_template-twice-full {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-areas: "main secondary";
  gap: 1rem;
  margin-top: var(--bmb-spacing-m);
  padding: var(--bmb-spacing-l);
  overflow: hidden;

  @media (max-width: 630px) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content max-content;
    grid-template-areas:
      "main"
      "secondary";
    height: fit-content;
  }

  &-main {
    background-color: var(--general_contrasts-15);
    height: 100%;
    grid-area: main;
    padding: var(--bmb-spacing-l);
    padding-left: rem.rem_calc(80);
    border-radius: rem.rem_calc(20);
    box-shadow: rem.rem_calc(10 5 10 0) RGBA(var(--color-black-primary), 0.5);

    @media (max-width: 630px) {
      height: max-content;
      margin: var(--bmb-spacing-xxs);
    }
    @media (max-width: 1000px) {
      padding-left: rem.rem_calc(20);
    }
  }

  &-secondary {
    background-color: var(--general_contrasts-15);
    height: 100%;
    grid-area: secondary;
    padding: var(--bmb-spacing-l);
    border-radius: rem.rem_calc(20);
    box-shadow: rem.rem_calc(10 5 10 0) RGBA(var(--color-black-primary), 0.5);

    @media (max-width: 630px) {
      height: max-content;
      margin: var(--bmb-spacing-xxs);
    }
  }

  &-title {
    padding-bottom: var(--bmb-spacing-l);
  }
}

.bmb_template-twice {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-areas: "main secondary";
  gap: 1rem;
  margin-top: var(--bmb-spacing-m);
  padding: var(--bmb-spacing-l);
  overflow: hidden;

  @media (max-width: 630px) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content max-content;
    grid-template-areas:
      "main"
      "secondary";
    height: fit-content;
  }

  &-main {
    background-color: var(--general_contrasts-15);
    height: 100%;
    grid-area: main;
    padding: var(--bmb-spacing-l);
    margin-left: rem.rem_calc(80);
    border-radius: rem.rem_calc(20);
    box-shadow: rem.rem_calc(10 5 10 0) RGBA(var(--color-black-primary), 0.5);

    @media (max-width: 630px) {
      height: max-content;
      margin: var(--bmb-spacing-xxs);
    }
    @media (width <= 1000px) and (width >= 630px) {
      margin-left: rem.rem_calc(15);
    }
  }

  &-secondary {
    background-color: var(--general_contrasts-15);
    height: 100%;
    grid-area: secondary;
    padding: var(--bmb-spacing-l);
    border-radius: rem.rem_calc(20);
    box-shadow: rem.rem_calc(10 5 10 0) RGBA(var(--color-black-primary), 0.5);

    @media (max-width: 630px) {
      height: max-content;
      margin: var(--bmb-spacing-xxs);
    }
  }

  &-title {
    padding-bottom: var(--bmb-spacing-l);
  }
}

.bmb_template-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 5fr;
  grid-template-areas:
    "main"
    "secondary";
  gap: 1rem;
  margin-top: var(--bmb-spacing-m);
  padding: var(--bmb-spacing-l);
  overflow: hidden;

  @media (max-width: 630px) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content max-content;
    grid-template-areas:
      "main"
      "secondary";
    height: fit-content;
  }

  &-main {
    height: 100%;
    background-color: var(--general_contrasts-15);
    grid-area: main;
    padding: var(--bmb-spacing-l);
    margin-left: rem.rem_calc(80);
    border-radius: rem.rem_calc(20);
    box-shadow: rem.rem_calc(10 5 10 0) RGBA(var(--color-black-primary), 0.5);

    @media (max-width: 630px) {
      height: max-content;
      margin: var(--bmb-spacing-xxs);
    }
    @media (width <= 1000px) and (width >= 630px) {
      margin-left: rem.rem_calc(15);
    }
  }

  &-secondary {
    background-color: var(--general_contrasts-15);
    height: 100%;
    grid-area: secondary;
    padding: var(--bmb-spacing-l);
    border-radius: rem.rem_calc(20);
    margin-left: rem.rem_calc(80);
    box-shadow: rem.rem_calc(10 5 10 0) RGBA(var(--color-black-primary), 0.5);

    @media (max-width: 630px) {
      height: max-content;
      margin: var(--bmb-spacing-xxs);
    }

    @media (width <= 1000px) and (width >= 630px) {
      margin-left: rem.rem_calc(15);
    }
  }

  &-title {
    padding-bottom: var(--bmb-spacing-l);
  }
}

.bmb_template-article {
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-areas: "aside main";
  margin-top: var(--bmb-spacing-xs);
  padding: var(--bmb-spacing-l);

  @media (max-width: 630px) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content max-content;
    grid-template-areas:
      "aside"
      "main";
    height: fit-content;
  }

  &-aside {
    background-color: var(--general_contrasts-15);
    height: 100%;
    grid-area: aside;
    padding: var(--bmb-spacing-l);
    border-top-left-radius: rem.rem_calc(20);
    border-bottom-left-radius: rem.rem_calc(20);
    margin-left: rem.rem_calc(80);
    overflow: hidden;
    box-shadow: rem.rem_calc(10 5 10 0) RGBA(var(--color-black-primary), 0.5);

    @media (max-width: 630px) {
      margin: var(--bmb-spacing-xxs);
      height: max-content;
      border-radius: 0;
      border-top-left-radius: rem.rem_calc(20);
      border-top-right-radius: rem.rem_calc(20);
    }

    @media (width <= 1000px) and (width >= 630px) {
      margin-left: rem.rem_calc(20);
    }
  }

  &-main {
    background-color: var(--general_contrasts-5);
    height: 100%;
    grid-area: main;
    padding: var(--bmb-spacing-l);
    border-top-right-radius: rem.rem_calc(20);
    border-bottom-right-radius: rem.rem_calc(20);
    overflow: hidden;
    box-shadow: rem.rem_calc(10 5 5.6 0) RGBA(var(--color-black-primary), 0.5);

    @media (max-width: 630px) {
      margin: var(--bmb-spacing-xxs);
      height: max-content;
      border-radius: 0;
      border-bottom-left-radius: rem.rem_calc(20);
      border-bottom-right-radius: rem.rem_calc(20);
    }
  }

  &-title {
    padding-bottom: var(--bmb-spacing-s);
  }
}

.bmb_horizontal-scroll {
  overflow-x: auto;
  display: flex;
  white-space: nowrap;
  padding: rem.rem_calc(10);
  margin: rem.rem_calc(16);

  &-wrapper {
    display: flex;
    gap: rem.rem_calc(16);
  }
}

.bmb_template-single-home-card {
  display: flex;
  flex-direction: column;
  height: 100dvh;

  &-main {
    flex: 1;
    padding: rem.rem_calc(32);
    background-color: var(--containers-background);

    @media (min-width: 1000px) {
      padding: rem.rem_calc(96 140);
    }
  }

  &-side {
    background-color: var(--containers-main);

    ul {
      list-style: none;
      margin: rem.rem_calc(16 0);
      padding: 0;
    }
  }

  .bmb_home-card-container {
    height: calc(100% - rem.rem_calc(100));
  }
}

.bmb_template-stand-alone-tags {
  display: flex;
  background-color: var(--containers-main);
  flex-flow: column nowrap;
  margin: rem.rem_calc(24 24 24 100);
  border-radius: rem.rem_calc(20);
  box-shadow: rem.rem_calc(10 5 10 0) RGBA(var(--color-black-primary), 0.5);

  @media (max-width: 1000px) {
    margin-left: rem.rem_calc(40);
  }

  &-content {
    display: flex;
    flex-flow: row nowrap;
    gap: rem.rem_calc(16);
    padding: var(--bmb-spacing-l);

    &-main {
      width: calc(100% / 3);

      @media (max-width: 630px) {
        width: 100%;
      }
    }

    &-aside {
      flex: 1;
    }

    @media (max-width: 630px) {
      flex-flow: column nowrap;
    }
  }

  &-footer {
    display: flex;
    padding: rem.rem_calc(24);
    justify-content: flex-end;
    gap: rem.rem_calc(16);
  }

  @media (max-width: 630px) {
    margin: var(--bmb-spacing-xxs);
    height: max-content;
  }
}

.bmb_template-subheader {
  padding: rem.rem_calc(24);
  border-bottom: rem.rem_calc(1) solid var(--general_contrasts-15);

  ul {
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: rem.rem_calc(16);
    justify-content: space-between;

    @media (max-width: 630px) {
      flex-flow: column nowrap;
    }

    li {
      position: relative;

      &::after,
      &:before {
        content: "";
        display: none;
        position: absolute;
        width: rem.rem_calc(1);
        height: rem.rem_calc(44);
        top: 0;
        bottom: 0;
        background-color: var(--general_contrasts-text-sidebar);
        margin: auto;
      }

      &:first-child {
        &::after {
          display: block;
          right: rem.rem_calc(-8);

          @media (max-width: 630px) {
            display: none;
          }
        }
      }

      &:last-child {
        width: rem.rem_calc(204);

        .bmb_step-progress-bar {
          margin-bottom: 0;
        }

        &::before {
          display: block;
          left: rem.rem_calc(-8);

          @media (max-width: 630px) {
            display: none;
          }
        }
      }

      &:nth-child(2) {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        gap: rem.rem_calc(8);
      }
    }
  }
}

.bmb_template-margin-for-sidebar {
  margin: rem.rem_calc(24 24 24 100);

  @media (max-width: 1000px) {
    margin-left: rem.rem_calc(40);
  }
}
