@import "../tokens/colors";
@import "../base/rem";
@import "../base/measures";
@import "../base/fonts";
@import "../base/mixins";

.bmb-input {
  &.ng-invalid {
    border-color: RGBA(var(--color-red-primary));
  }

  &-main {
    @include inputType(main);
    @include inputPad(s);
  }

  &-simple {
    @include inputType(simple);
    @include inputPad(s);
  }

  &-normal {
    @include inputType(normal);
    @include inputPad(s);
  }

  &.ng-invalid {
    border-color: RGBA(var(--color-red-primary));
  }
}

// Styles for error message in input
.bmb-text-error {
  @include font(2, medium);
  color: RGBA(var(--color-red-primary));
  padding: rem_calc(4) rem_calc(8) rem_calc(8) rem_calc(8);
}

.bmb-text-msg {
  @include font(2, medium);
  color: RGBA(var(--color-black));
  padding: rem_calc(8) rem_calc(8) rem_calc(4) rem_calc(8);
}
