.title__section {
  align-items: center;
  color: RGBA(var(--color-charade-50));
  display: flex;
  justify-content: space-between;

  &--title {
    @include font(5, regular);
  }

  &--icon {
    font-size: rem_calc(24);
  }

  &--image {
    height: rem_calc(24);
  }
}
