@import "../tokens/colors";
@import "../base/rem";

.user-image {
  align-items: center;
  background-color: RGBA(var(--color-mariner-900));
  border-radius: 100%;
  display: flex;
  height: rem_calc(50);
  justify-content: center;
  overflow: hidden;
  width: rem_calc(50);

  img {
    height: 100%;
    width: 100%;
  }

  &.mobile-small {
    height: rem_calc(32);
    width: rem_calc(32);
  }

  &.mobile-medium {
    height: rem_calc(64);
    width: rem_calc(64);
  }

  &.mobile-large {
    height: rem_calc(100);
    width: rem_calc(100);
  }

  &.mobile-xlarge {
    height: rem_calc(200);
    width: rem_calc(200);
  }

  &.desktop-small {
    height: rem_calc(56);
    width: rem_calc(56);
  }

  &.desktop-large {
    height: rem_calc(160);
    width: rem_calc(160);
  }
}
