@use '../base/rem' as rem;

.bmb_divider {
  border: rem.rem_calc(1) solid var(--general-contrasts-50);
  margin: rem.rem_calc(16 0);
  width: 100%;

  &-vertical {
    border: 0;
    border-left: rem.rem_calc(1) solid var(--general-contrasts-50);
    height: rem.rem_calc(20);
    margin: 0;
    width: rem.rem_calc(0);
  }

  &-dotted {
    border-style: dotted;
  }

  &-dashed {
    border-style: dashed;
  }

  &-no-margin {
    margin: 0;
  }
}
