@use '../../../assets/styles/base/fonts' as fonts;
@use '../../../assets/styles/base/rem' as rem;
@use '../../../assets/styles/base/mixins' as mixins;

@keyframes bounce {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: -10px;
  }
  50% {
    margin-left: 10px;
  }
  75% {
    margin-left: -5px;
  }
  100% {
    margin-left: 0;
  }
}

.bmb_multi-dot-paginator {
  display: flex;
  flex-direction: column;
  gap: var(--bmb-spacing-m);
  height: 100%;
  overflow: hidden;

  &-header {
    display: flex;
    gap: var(--bmb-spacing-s);
    align-items: center;
  }

  &-title {
    @include fonts.font(6, regular);
    color: var(--general-contrasts-100);
    font-weight: 300;
  }

  &-subtitle {
    @include fonts.font(5, regular);
    color: var(--general-contrasts-50);
    font-weight: 300;
  }

  &-content {
    flex: 1;
    overflow: visible;
    position: relative;

    &-list {
      display: flex;
      flex-flow: column nowrap;
      gap: rem.rem_calc(12);
      height: 100%;
      margin: 0;
      padding: rem.rem_calc(14);
      transition: all 0.5s ease;
      width: 100%;

      @include mixins.check-for-desktop() {
        --child-size: calc(50% / var(--numberOfElements) - 3rem);
        --selected-child: calc(var(--selected-child) + 1);
        flex-direction: row;
        gap: 0;
        padding: 0;
        transform: translate(
          calc((var(--child-size) * var(--selected-child)) * -1),
          0px
        );
        width: calc(100% * var(--numberOfElements));
      }

      @include mixins.media-query(1900, 'min') {
        --child-size: calc(33.333% / var(--numberOfElements) - 2rem);
      }

      &.bounce {
        animation: bounce 0.3s ease;
      }
    }
  }

  &-footer {
    display: none;
    justify-content: center;
    height: auto;
    align-items: center;
    gap: var(--bmb-spacing-s);

    @include mixins.check-for-desktop() {
      display: flex;
      padding: var(--bmb-spacing-m);
    }
  }

  &-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: rem.rem_calc(16);
    align-items: center;

    &-item {
      display: flex;
      align-items: center;

      &:nth-last-child(3) .bmb_multi-dot-paginator-dot::after {
        @include mixins.media-query(1900, 'min') {
          width: rem.rem_calc(48);
        }
      }

      &:nth-last-child(2) .bmb_multi-dot-paginator-dot::after {
        @include mixins.check-for-desktop() {
          width: rem.rem_calc(24);
        }
      }

      &-active {
        @include mixins.check-for-desktop() {
          + .bmb_multi-dot-paginator-list-item {
            .bmb_multi-dot-paginator-dot {
              span {
                background-color: var(--general-contrasts-main-selection);
                box-shadow: rem.rem_calc(0 0 4 0)
                  var(--general-contrasts-main-selection);
                animation: dotAnimation 0.3s ease 1;
              }
            }
          }
        }

        @include mixins.media-query(1900, 'min') {
          + .bmb_multi-dot-paginator-list-item
            + .bmb_multi-dot-paginator-list-item {
            .bmb_multi-dot-paginator-dot {
              span {
                background-color: var(--general-contrasts-main-selection);
                box-shadow: rem.rem_calc(0 0 4 0)
                  var(--general-contrasts-main-selection);
                animation: dotAnimation 0.3s ease 1;
              }
            }
          }
        }
      }

      bmb-action-icon {
        display: flex;
        align-items: center;
      }
    }
  }

  &-return {
    align-items: center;
    display: none;
    padding-left: 3rem;
    position: relative;
    width: rem.rem_calc(300);

    .bmb_fab-large-normal {
      position: initial;
    }

    @include mixins.check-for-desktop() {
      display: flex;
    }
  }

  &-next {
    display: none;
    height: 100%;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;

    @include mixins.check-for-desktop() {
      display: block;
      width: 4rem;
    }
  }

  &-dot {
    display: block;
    position: relative;
    height: rem.rem_calc(12);
    margin: 0 rem.rem_calc(5);
    width: rem.rem_calc(12);
    padding: 0;

    span {
      display: block;
      background-color: rgb(var(--gray-charade-500));
      border-radius: var(--bmb-radius-full);
      cursor: pointer;
      height: rem.rem_calc(12);
      width: rem.rem_calc(12);
    }

    &-active {
      &::after {
        border: rem.rem_calc(1) solid var(--general-contrasts-main-selection);
        border-radius: rem.rem_calc(20);
        box-shadow:
          rem.rem_calc(0 0 3 0) inset var(--general-contrasts-main-selection),
          rem.rem_calc(0 0 4 0) var(--general-contrasts-main-selection);
        content: '';
        height: rem.rem_calc(24);
        left: rem.rem_calc(-7);
        position: absolute;
        top: rem.rem_calc(-7);
        width: rem.rem_calc(46);
        z-index: 0;
        animation: dotAfterElementAnimation 0.3s ease 1;

        @include mixins.media-query(1900, 'min') {
          width: rem.rem_calc(68);
        }
      }

      span {
        background-color: var(--general-contrasts-main-selection);
        border-radius: var(--bmb-radius-full);
        box-shadow: rem.rem_calc(0 0 4 0)
          var(--general-contrasts-main-selection);
        animation: dotAnimation 0.3s ease 1;
      }
    }
  }
}

@keyframes dotAnimation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dotAfterElementAnimation {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.25);
  }
  60% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
