<header class="bmb_template-header">
  <h3>Home</h3>
  <h5>Welcome to BambooPress</h5>
</header>
<div class="bmb_template-margin-for-sidebar">
  <table class="bmb_table-simple">
    <caption>
      Sample Table
    </caption>
    <colgroup>
      <col style="width: 40px" />
      <col style="width: 25%" />
      <col style="width: 25%" />
      <col style="width: 20%" />
      <col style="width: 15%" />
      <col style="width: calc(15% - 40px)" />
    </colgroup>
    <thead>
      <tr class="bmb_table-simple-header-row">
        <th scope="col">#id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email address</th>
        <th scope="col">Gender</th>
        <th scope="col">IP</th>
      </tr>
    </thead>
    <tbody>
      @for (item of users; track $index) {
        <tr [ngClass]="{ 'bmb_table-simple-row-selected': $index === 2 }">
          <td>{{ $index + 1 }}</td>
          <td>{{ item.first_name }}</td>
          <td>{{ item.last_name }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.gender }}</td>
          <td>{{ item.ip_address }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
