<section bmbVerticalLayout gapSize="none" alignItems="stretch" aria-labelledby="informative-grade-title">
	<h1 id="informative-grade-title">Informative Grade</h1>

	@if (isMobile()) {
		<bmb-container-button-base>
			<ng-template #bmbContainerMain>
				<div bmbVerticalLayout gapSize="s" alignItems="stretch">
					<div bmbLayout margin="none" gapSize="m" justify="spaceBetween" alignItems="center" [avoidRowWrap]="true">
						<bmb-grade-value type="main-grade" appearanceContrast="default" score="Cu" />
						<bmb-badge appearance="creative-use-strong" text="Cursando" [container]="false" />
					</div>
					<div bmbVerticalLayout gapSize="m" alignItems="start">
            <bmb-simple-text [size]="5" [weight]="'regular'" [color]="'general-contrasts-100'" >Op. de humanidades y bellas a. (INGL)</bmb-simple-text>
					</div>
					<div bmbLayout margin="none" gapSize="m" justify="spaceBetween" alignItems="center" [avoidRowWrap]="true">
            <bmb-simple-text [size]="3" [weight]="'light'" [color]="'general-contrasts-75'" >Crédito: 1</bmb-simple-text>
            <bmb-simple-text [size]="3" [weight]="'light'" [color]="'general-contrasts-100'" >Semana: 5</bmb-simple-text>
					</div>
				</div>
			</ng-template>
		</bmb-container-button-base>
	} @else {
	<bmb-container-button-base>
		<ng-template #bmbContainerLeft>
			<bmb-grade-value
				type="main-grade"
				appearanceContrast="default"
				score="Cu"
			/>
		</ng-template>

		<ng-template #bmbContainerMain>
			<div bmbVerticalLayout gapSize="m" justify="center" alignItems="start">
        <bmb-simple-text [size]="5" [weight]="'regular'" [color]="'general-contrasts-100'" >Op. de humanidades y bellas a. (INGL)</bmb-simple-text>
        <bmb-simple-text [size]="3" [weight]="'light'" [color]="'general-contrasts-75'" >Crédito: 1</bmb-simple-text>
			</div>
		</ng-template>

		<ng-template #bmbContainerRight>
			<div bmbVerticalLayout gapSize="none" alignItems="end">
				<bmb-badge
					appearance="semantic-brand"
					text="Cursando"
					[container]="false"
        />
        <bmb-simple-text [size]="3" [weight]="'light'" [color]="'general-contrasts-100'" >Semana: 5</bmb-simple-text>
			</div>
		</ng-template>
	</bmb-container-button-base>
	}
</section>

<!-- Informative Grade Template -->

<section bmbVerticalLayout gapSize="none" alignItems="stretch" aria-labelledby="informative-complex-title">
	<h2 id="informative-complex-title">Informative Complex</h2>

	<bmb-container-button-base>
		<ng-template #bmbContainerMain>
			@if (isMobile()) {
				<div bmbVerticalLayout gapSize="s" alignItems="stretch">
					<div bmbLayout margin="none" justify="start" alignItems="start">
            <div bmbVerticalLayout gapSize="none" alignItems="start">
              <bmb-simple-text [size]="5" [weight]="'regular'" [color]="'general-contrasts-100'">Título</bmb-simple-text>
              <bmb-simple-text [size]="5" [weight]="'regular'" [color]="'general-contrasts-100'">(3 líneas máx) -</bmb-simple-text>
              <bmb-simple-text [size]="5" [weight]="'regular'" [color]="'general-contrasts-100'">Truncate (...)</bmb-simple-text>
            </div>
					</div>
					<div bmbVerticalLayout gapSize="s" alignItems="start">
						<div bmbLayout margin="none" gapSize="s" justify="start" alignItems="center" [avoidRowWrap]="true">
              <bmb-simple-text [size]="3" [weight]="'regular'" [color]="'general-contrasts-75'">Texto 1</bmb-simple-text>
              <bmb-divider [type]="'simple'" [orientation]="'vertical'" [removeMargin]="true"></bmb-divider>
              <bmb-simple-text [size]="3" [weight]="'regular'" [color]="'general-contrasts-75'">Texto 2</bmb-simple-text>
              <bmb-divider [type]="'simple'" [orientation]="'vertical'" [removeMargin]="true"></bmb-divider>
              <bmb-simple-text [size]="3" [weight]="'regular'" [color]="'general-contrasts-75'">Texto 3</bmb-simple-text>
              <bmb-divider [type]="'simple'" [orientation]="'vertical'" [removeMargin]="true"></bmb-divider>
						</div>
						<bmb-badge appearance="semantic-brand" text="Badge" [container]="false" />
					</div>
				</div>
			} @else {
				<div bmbVerticalLayout gapSize="s" alignItems="stretch">
					<div bmbLayout margin="none" justify="start" alignItems="start">
            <div bmbVerticalLayout gapSize="none" alignItems="start">
              <bmb-simple-text [size]="5" [weight]="'regular'" [color]="'general-contrasts-100'">Título</bmb-simple-text>
              <bmb-simple-text [size]="5" [weight]="'regular'" [color]="'general-contrasts-100'">(2 líneas máx)</bmb-simple-text>
            </div>
					</div>
					<div bmbLayout margin="none" gapSize="s" justify="start" alignItems="center" [avoidRowWrap]="true">
              <bmb-simple-text [size]="3" [weight]="'regular'" [color]="'general-contrasts-75'">Texto 1</bmb-simple-text>
              <bmb-divider [type]="'simple'" [orientation]="'vertical'" [removeMargin]="true"></bmb-divider>
              <bmb-simple-text [size]="3" [weight]="'regular'" [color]="'general-contrasts-75'">Texto 2</bmb-simple-text>
              <bmb-divider [type]="'simple'" [orientation]="'vertical'" [removeMargin]="true"></bmb-divider>
              <bmb-simple-text [size]="3" [weight]="'regular'" [color]="'general-contrasts-75'">Texto 3</bmb-simple-text>
              <bmb-divider [type]="'simple'" [orientation]="'vertical'" [removeMargin]="true"></bmb-divider>
						<bmb-badge appearance="semantic-brand" text="Badge" [container]="false" />
					</div>
				</div>
			}
		</ng-template>

		<ng-template #bmbContainerRight>
			<div bmbLayout margin="none" gapSize="s" justify="end" alignItems="center" [avoidRowWrap]="true">
				<bmb-badge appearance="semantic-brand" text="Badge" [container]="false" />
				<bmb-icon icon="chevron_right" [size]="24" alt="Ver detalles" />
			</div>
		</ng-template>
	</bmb-container-button-base>
</section>

<!-- Informative Complex Template -->

<!-- Informative User Image Template -->

<!-- Informative User Image Template -->
<section bmbVerticalLayout gapSize="none" alignItems="stretch" aria-labelledby="informative-user-image-title">
	<h2 id="informative-user-image-title">Informative User Image</h2>

	<bmb-container-button-base>
		<ng-template #bmbContainerLeft>
			<bmb-checkbox
				[checked]="false"
				[indeterminate]="false"
				[disabled]="false"
			/>
		</ng-template>

		<ng-template #bmbContainerMain>
			<div bmbLayout margin="none" gapSize="m" justify="start" alignItems="center">
				<bmb-user-image size="mobile-small" image="https://develop--65c3b4d1f966b98bb1f4e774.chromatic.com/assets/logo.png" />
				<div bmbVerticalLayout gapSize="none" alignItems="start">
					<bmb-simple-text [size]="4" color="general-contrasts-100" weight="bold">Title</bmb-simple-text>
					<bmb-simple-text [size]="4" color="general-contrasts-100" weight="light">Subtitle (optional)</bmb-simple-text>
				</div>
			</div>
		</ng-template>
	</bmb-container-button-base>
</section>
<!-- Informative Icon Template -->

<!-- Informative Icon Template -->

<!-- Informative Actions Template -->
<section bmbVerticalLayout gapSize="none" alignItems="stretch" aria-labelledby="actions-user-image-title">
	<h2 id="actions-user-image-title">Actions User Image</h2>

	<bmb-container-button-base>
		<ng-template #bmbContainerLeft>
			<bmb-checkbox
				[checked]="false"
				[indeterminate]="false"
				[disabled]="false"
			/>
		</ng-template>

		<ng-template #bmbContainerMain>
			<div bmbLayout margin="none" gapSize="m" justify="start" alignItems="center">
				<bmb-user-image size="mobile-small" image="https://develop--65c3b4d1f966b98bb1f4e774.chromatic.com/assets/logo.png" />
				<div bmbVerticalLayout gapSize="none" alignItems="start">
					<bmb-simple-text [size]="4" color="general-contrasts-100" weight="bold">Title</bmb-simple-text>
					<bmb-simple-text [size]="4" color="general-contrasts-100" weight="light">Subtitle (optional)</bmb-simple-text>
				</div>
			</div>
		</ng-template>

		<ng-template #bmbContainerRight>
			<div bmbLayout margin="none" gapSize="s" justify="end" alignItems="center" [avoidRowWrap]="true">
				<bmb-bookmark [isActive]="false" />
				<bmb-divider [type]="'simple'" [orientation]="'vertical'" [removeMargin]="true"></bmb-divider>
				<bmb-box-icon iconName="more_horiz" iconImageAlt="More actions" boxSize="small" />
			</div>
		</ng-template>
	</bmb-container-button-base>
</section>
<!-- Informative Actions Template -->
