<bmb-theme [initialTheme]="'light'" />

<div style="display: flex; gap: 3em; flex-flow: row wrap">
  <a routerLink="/home" class="font-bold-6">Home</a>
  <a routerLink="/my-page" class="font-bold-6">My Page</a>
  <a routerLink="/emprendedor" class="font-bold-6">Emprendedor</a>
</div>

<bmb-frequent-apps-selector
  [title]="'Mis Aplicaciones Frecuentes'"
  [apps]="[
    {
      icon: 'home',
      title: 'Inicio',
      link: '/home',
      target: '_blank',
      appearance: 'red'
    },
    {
      icon: 'settings',
      title: 'My Page',
      link: '/my-page',
      appearance: 'yellow'
    },
    {
      icon: 'settings',
      title: 'Calendario escolar',
      link: 'https://configuración.com',
      target: '_blank',
      appearance: 'yellow'
    },
    {
      icon: 'settings',
      title: 'Configuración',
      link: 'https://configuración.com',
      target: '_blank',
      appearance: 'yellow'
    }
  ]"
/>

<router-outlet></router-outlet>
