:root {
  // Base colors
  --neon-primary: 27, 192, 203; // #1BC0CB
  --neon-tint: 208, 252, 240; // #D0FCF0
  --neon-light: 114, 239, 226; // #72EFE2

  --blue-primary: 39, 102, 203; // #2766CB
  --blue-light: 70, 119, 199; // #4677C7
  --blue-tint: 147, 169, 204; // #93A9CC

  --teal-primary: 39, 125, 161; // #277DA1
  --teal-light: 82, 137, 159; // #52899F
  --teal-tint: 106, 145, 161; // #6A91A1

  --red-primary: 211, 47, 47; // #D32F2F
  --red-light: 240, 82, 82; // #F05252
  --red-tint: 252, 159, 159; // #FC9F9F

  --green-primary: 64, 162, 19; // #40A213
  --green-light: 67, 170, 139; // #43AA8B
  --green-tint: 172, 227, 146; // #ACE392

  --purple-primary: 106, 39, 161; // #6A27A1
  --purple-light: 161, 39, 128; // #A12780
  --purple-tint: 200, 123, 189; // #C87BBD

  --yellow-primary: 252, 189, 7; // #FCBD07
  --yellow-light: 254, 214, 98; // #FED662
  --yellow-tint: 255, 231, 163; // #FFE7A3

  --black-primary: 0, 0, 0; // #000000

  --white-primary: 255, 255, 255; // #FFFFFF

  // Institutional colors
  --blue-tec: 0, 57, 166; // #0039A6

  // Blue mariner
  --blue-mariner-50: 240, 248, 254; // #F0F8FE
  --blue-mariner-100: 221, 238, 252; // #DDEEFC
  --blue-mariner-200: 195, 226, 250; // #C3E2FA
  --blue-mariner-300: 153, 208, 247; // #99D0F7
  --blue-mariner-400: 105, 183, 241; // #69B7F1
  --blue-mariner-500: 69, 153, 236; // #4599EC
  --blue-mariner-700: 39, 102, 203; // #2766CB
  --blue-mariner-800: 38, 84, 167; // #2654A7
  --blue-mariner-900: 36, 73, 132; // #244984
  --blue-mariner-950: 26, 46, 81; // #1A2E51

  // Green (TECMI)
  --green-tecmi-50: 236, 253, 247; // #ECFDF7
  --green-tecmi-100: 209, 250, 233; // #D1FAE9
  --green-tecmi-200: 167, 243, 215; // #A7F3D7
  --green-tecmi-300: 110, 231, 194; // #6EE7C2
  --green-tecmi-400: 52, 211, 168; // #34D3A8
  --green-tecmi-500: 0, 158, 121; // #009E79
  --green-tecmi-600: 4, 133, 105; // #048569
  --green-tecmi-700: 5, 121, 98; // #057962
  --green-tecmi-800: 6, 92, 76; // #065C4C
  --green-tecmi-900: 6, 78, 66; // #064E42
  --green-tecmi-950: 2, 51, 44; // #02332C

  // Blue (GED)
  --blue-ged-50: 240, 244, 255; // #F0F4FF
  --blue-ged-100: 226, 231, 243; // #E2E7F3
  --blue-ged-200: 213, 219, 237; // #D5DBED
  --blue-ged-300: 188, 195, 217; // #BCC3D9
  --blue-ged-400: 162, 171, 198; // #A2ABC6
  --blue-ged-500: 138, 148, 180; // #8A94B4
  --blue-ged-600: 114, 125, 161; // #727DA1
  --blue-ged-700: 91, 103, 143; // #5B678F
  --blue-ged-800: 67, 82, 126; // #43527E
  --blue-ged-900: 43, 62, 108; // #2B3E6C
  --blue-ged-950: 16, 43, 91; // #102B5B

  // mitec base colors
  --mitec-blue-primary: 0, 89, 141; // #00598D
  --mitec-blue-light: 0, 167, 247; // #00A7F7
  --mitec-blue-tint: 117, 212, 255; // #75D4FF

  --mitec-red-primary: 141, 14, 63; // #8D0E3F
  --mitec-red-light: 236, 38, 97; // #EC2661
  --mitec-red-tint: 255, 160, 179; // #FFA0B3

  --mitec-green-primary: 72, 81, 22; // #485116
  --mitec-green-light: 205, 222, 32; // #CDDE20
  --mitec-green-tint: 229, 237, 105; // #E5ED69

  --mitec-orange-primary: 187, 76, 2; // #BB4C02
  --mitec-orange-light: 255, 153, 1; // #FF9901
  --mitec-orange-tint: 255, 209, 70; // #FFD146

  --mitec-purple-primary: 161, 39, 128; // #A12780
  --mitec-purple-light: 226, 83, 194; // #E253C2
  --mitec-purple-tint: 239, 131, 214; // #EF83D6

  //Semantic colors
  --success-primary: 33, 100, 83; // #216453
  --success-light: 67, 170, 139; // #43AA8B
  --success-thin: 118, 210, 180; // #76D2B4
  --success-primary-alternative: 0, 140, 65; // #008C41
  --success-tint-alternative: 68, 189, 124; // #44BD7C

  --warning-primary: 122, 45, 13; // #7A2D0D
  --warning-light: 255, 179, 32; // #FFB320
  --warning-tint: 255, 231, 163; // #FFE7A3
  --warning-primary-alternative: 196, 122, 0; // #C47A00

  --error-primary: 185, 28, 28; // #B91C1C
  --error-light: 240, 82, 82; // #F05252
  --error-tint: 252, 165, 165; // #FCA5A5

  --info-primary: 106, 39, 161; // #6A27A1
  --info-light: 161, 39, 128; // #A12780
  --info-tint: 200, 123, 189; // #C87BBD

  --branding-primary: 39, 102, 203; // #2766CB
  --branding-light: 69, 153, 236; // #4599EC
  --branding-tint: 105, 183, 241; // #69B7F1

  --alert-primary: 26, 118, 132; // #1A7684
  --alert-light: 27, 192, 203; // #1BC0CB
  --alert-tint: 117, 231, 235; // #75E7EB

  // Base colors - Creative use
  --violet-primary: 105, 41, 196; // #6929C4
  --violet-light: 144, 97, 241; // #9061F1
  --violet-tint: 171, 143, 246; // #AB8FF6

  --indigo-primary: 67, 56, 202; // #4338CA
  --indigo-light: 99, 102, 241; // #6366F1
  --indigo-tint: 129, 140, 248; // #818CF8

  --emerald-primary: 20, 83, 45; // #14532D
  --emerald-light: 22, 163, 74; // #16A34A
  --emerald-tint: 74, 222, 128; // #4ADE80

  --licorice-primary: 82, 60, 69; // #523C45
  --licorice-light: 122, 84, 96; // #7A5460
  --licorice-tint: 176, 135, 142; // #B0878E

  --dark-teal-primary: 35, 65, 87; // #234157
  --dark-teal-light: 39, 89, 125; // #27597D
  --dark-teal-tint: 154, 197, 223; // #9AC5DF

  --peach-primary: 181, 60, 32; // #B53C20
  --peach-light: 215, 75, 43; // #D74B2B
  --peach-tint: 236, 115, 87; // #EC7357

  --sepia-primary: 103, 82, 57; // #675239
  --sepia-light: 148, 127, 75; // #947F4B
  --sepia-tint: 168, 152, 88; // #A89858

  --soft-red-primary: 145, 47, 64; // #912F40
  --soft-red-light: 190, 64, 79; // #BE404F
  --soft-red-tint: 226, 138, 142; // #E28A8E

  --wattle-primary: 141, 108, 27; // #8D6C1B
  --wattle-primary-alternative: 157, 138, 1; // #9D8A01
  --wattle-light: 177, 147, 29; //#B1931D
  --wattle-tint: 205, 185, 37; // #CDB925

  --ship-cove-primary: 65, 78, 140; // #414E8C
  --ship-cove-light: 85, 110, 187; // #556EBB
  --ship-cove-tint: 105, 135, 201; // #6987C9

  --plantation-primary: 56, 77, 72; // #384D48
  --plantation-light: 67, 94, 88; // #435E58
  --plantation-tint: 111, 146, 135; // #6F9287

  --rum-primary: 89, 70, 98; // #594662
  --rum-light: 30, 104, 145; //#826891
  --rum-tint: 189, 170, 200; // #BDAAC8

  --ripe-lemon-primary: 116, 75, 15; // #744B0F
  --ripe-lemon-primary-alternative: 148, 119, 0; // #947700
  --ripe-lemon-light: 165, 118, 3; // #A57603
  --ripe-lemon-tint: 241, 211, 2; // #F1D302

  --hibiscus-primary: 139, 41, 81; // #8B2951
  --hibiscus-light: 195, 63, 122; // #C33F7A
  --hibiscus-tint: 226, 132, 181; // #E284B5

  // General contrast
  --black-light: rgba(var(--black-primary), 0.75);
  --black-tint: rgba(var(--black-primary), 0.5);
  --black-min: rgba(var(--black-primary), 0.25);

  --white-light: rgba(var(--white-primary), 0.75);
  --white-tint: rgba(var(--white-primary), 0.5);
  --white-min: rgba(var(--white-primary), 0.25);

  //Gradient
  /*
  Below are a couple of examples of gradient usage.:
  1. - background-color: linear-gradient(180deg, var(--blue-gradient));
  2. - background-color: radial-gradient(circle, var(--blue-gradient));
  */
  // Base colors (gradients)
  --blue-gradient: rgb(var(--blue-mariner-700)) 8.4%,
    rgb(var(--blue-light)) 91.6%; // #2766CB #4677C7
  --green-gradient: rgb(var(--green-primary)) 8.4%,
    rgb(var(--green-light)) 91.6%;
  --purple-gradient: rgb(var(--purple-primary)) 7.74%,
    rgb(var(--purple-light)) 92.26%; // #6A27A1 #A12780

  --general-gradients-gradient-school: var(--blue-gradient);
  --general-gradients-gradient-life: var(--green-gradient);
  --general-gradients-gradient-event: var(--purple-gradient);

  //Complementary colors (gradients) - Creatine use
  --gradient-bg-tec-tec: rgb(var(--blue-mariner-950)) 56.25%,
    rgb(var(--blue-mariner-800)) 100%;
}
