:root,
[data-theme='light'],
[data-mode='light'] .docs-story {
  // mitec institutional colors
  --mitec-blue: rgb(var(--mitec-blue-primary));
  --mitec-red: rgb(var(--mitec-red-primary));
  --mitec-green: rgb(var(--mitec-green-primary));
  --mitec-orange: rgb(var(--mitec-orange-primary));
  --mitec-purple: rgb(var(--mitec-purple-primary));

  --alert-successful: rgb(var(--color-green-primary));
  --alert-event: rgb(var(--color-purple-light));
  --alert-event-tint: rgb(var(--color-purple-tint));
  --alert-neutral: rgb(var(--color-charade-300));
  --alert-warning: rgb(var(--color-yellow-primary));
  --alert-error: rgb(var(--color-red-primary));
  --alert-error-blend: rgb(var(--color-red-light));
}

[data-theme='dark'],
[data-mode='dark'] .docs-story {
  // mitec institutional colors
  --mitec-blue: rgb(var(--mitec-blue-light));
  --mitec-red: rgb(var(--mitec-red-light));
  --mitec-green: rgb(var(--mitec-green-light));
  --mitec-orange: rgb(var(--mitec-orange-light));
  --mitec-purple: rgb(var(--mitec-purple-tint));
}
