:root,
[data-theme='light'],
.storybook-light-theme {
  // mitec institutional colors
  --mitec-blue: rgb(var(--mitec-blue-primary));
  --mitec-red: rgb(var(--mitec-red-primary));
  --mitec-green: rgb(var(--mitec-green-primary));
  --mitec-orange: rgb(var(--mitec-orange-primary));
  --mitec-purple: rgb(var(--mitec-purple-primary));

  //Shadows
  --drop_shadow-color-test-shadow: rgba(31, 34, 46, 0.5); // #1F222E
}

[data-theme='dark'],
.storybook-dark-theme {
  // mitec institutional colors
  --mitec-blue: rgb(var(--mitec-blue-light));
  --mitec-red: rgb(var(--mitec-red-light));
  --mitec-green: rgb(var(--mitec-green-light));
  --mitec-orange: rgb(var(--mitec-orange-light));
  --mitec-purple: rgb(var(--mitec-purple-tint));

  //Shadows
  --drop_shadow-color-test-shadow: rgba(var(--black-primary), 0.2);
}
