<header class="bmb_template-header">
  <h3>Home</h3>
  <h5>Welcome to BambooPress</h5>
</header>
<div class="bmb_template-margin-for-sidebar">
  <button (click)="handleResetFilters()">reset</button>
  <button (click)="handleApplyFilters()">apply</button>
  <bmb-table
    [pageSize]="5"
    [data]="data()"
    [columns]="columns"
    [config]="{
      isSelectable: false,
      isExpandible: false,
      isPaginable: true,
      showActions: false
    }"
    filtersPosition="top"
    [showFilters]="false"
    [(filtersModel)]="filtersModel"
    [disableStickyColumn]="true"
  />

  <div>
    {{ filtersModel() | json }}
  </div>
  <button (click)="updateColumns()">hide columns</button>
</div>

<ng-template #conceptTemplate let-row="row">
  <div class="concept-template">
    <span>{{ row.concept }}</span>
    <bmb-tooltip
      title="Tooltip example"
      icon="info"
      [size]="20"
      text="some text"
    ></bmb-tooltip>
  </div>
</ng-template>
