@use '../base/mixins' as mixins;
@use '../base/rem' as rem;

@mixin show-swipe-content {
  visibility: visible !important;
  pointer-events: auto !important;
}

@mixin swipe {
  visibility: hidden;
  pointer-events: none;

  &.visible {
    @include show-swipe-content;
  }
}

.bmb_swipe {
  position: relative;
  overflow: hidden;

  &-content {
    position: relative;
    z-index: 1;
    background-color: inherit;
    will-change: transform;
    width: 100%;
  }

  &-actions {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: var(--bmb-spacing-s);
    padding: 0 var(--bmb-spacing-m);
    z-index: 1;
    height: 100%;

    &-left {
      left: 0;
      justify-content: flex-start;
      @include swipe;
    }

    &-right {
      right: 0;
      justify-content: flex-end;
      @include swipe;
    }
  }

  @include mixins.check-for-desktop {
    &:not(.bmb_swipe-disabled):hover {
      > .bmb_swipe-actions-right.bmb_swipe-actions {
        &-right {
          @include show-swipe-content;
        }
      }

      > .bmb_swipe-content {
        width: calc(100% - rem.rem_calc(56));
      }
    }
  }
}
