<header class="bmb_template-header">
  <h3>Home</h3>
  <h5>Welcome to BambooPress</h5>
</header>
<div
  style="height: calc(100% - 230px)"
  class="bmb_template-margin-for-sidebar;"
>
  <bmb-alert-center
    [dateFormat]="'dd/MM/yyyy'"
    [tabsName]="[
      { title: 'Notificaciones', isMobile: true, isDesktop: true },
      { title: 'No leídos', isMobile: false, isDesktop: true },
      { title: 'Favoritos', isMobile: false, isDesktop: true },
      { title: 'Archivados', isMobile: false, isDesktop: true },
      { title: 'Anuncios', isMobile: true, isDesktop: true }
    ]"
    [hideTabs]="false"
    [enableMultipleSelection]="true"
    [showMobileVersion]="false"
    (onChangeAlertStatus)="handleOnChangeAlertStatus($event)"
    (alertEvent)="handleAlertEvent($event)"
    (showAlertDetail)="handleShowAlertDetail($event)"
    (closeAlertDetail)="handleCloseAlertDetail($event)"
    (navigationBarEvents)="handleNavigationBarEvents($event)"
  ></bmb-alert-center>
</div>
