:host {
  display: block;
  padding: 32px;
}

.simple-template,
.card-button-example {
  margin-top: 40px;

  h3 {
    margin: 0 0 16px;
  }
}

@media (max-width: 767px) {
  :host {
    padding: 16px;
  }
}
