<h3>Default</h3>

<section class="card-button-default-examples">
  <bmb-card-button
    componentTitle="Title or Text summary"
    body="This is the body content of the card button. It can be long and will be truncated with ellipsis after 3 lines."
    leftContentIcon="note_add"
    icon="group"
    [leftContent]="true"
    [isFullInteractive]="true"
    [isDisabled]="false"
    [hasMenu]="false"
    [menuItems]="[]"
  />

  <bmb-card-button
    componentTitle="Create new skill"
    icon="add_circle"
    [isFullInteractive]="false"
    [isDisabled]="false"
  />
</section>
