<div class="">
  <h3 style="text-align: center; margin: 2rem auto">Default</h3>

  <section class="card-button-default-examples">
    <bmb-card-button
      componentTitle="Title or Text summary"
      body="This is the body content of the card button. It can be long and will be truncated with ellipsis after 3 lines."
      leftContentIcon="note_add"
      icon="group"
      [leftContent]="true"
      [isFullInteractive]="true"
      [isDisabled]="false"
      [hasMenu]="false"
      [menuItems]="[]"
    />

    <bmb-card-button
      componentTitle="Create new skill"
      icon="add_circle"
      [isFullInteractive]="false"
      [isDisabled]="false"
    />
  </section>

  <h3 style="text-align: center; margin: 2rem auto">Informative</h3>

  <bmb-card-button-informative
    componentTitle="Title"
    complementaryText="Complementary text"
    body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat rhoncus leo vel pharetra. Donec feugiat enim pharetra ipsum euismod, sed maximus justo pharetra."
    [badge]="{
      text: 'Badge',
      appearance: 'creative_violet',
      container: true
    }"
    [leftContent]="true"
    [leftContentImage]="{
      src: 'https://studio-assets.supernova.io/design-systems/74407/a2f82e86-1d59-4c28-8212-6e724b560249.png',
      alt: 'Edificio del Tecnológico de Monterrey'
    }"
    leftContentIcon=""
    icon=""
    [hasMenu]="false"
    [menuItems]="[]"
    [isDisabled]="false"
    tooltipTitle="Información"
    tooltipText="Consulta información adicional de esta tarjeta."
    tooltipIcon="info"
    [tooltipSize]="20"
    [tooltipMobileOnly]="false"
    primaryButtonText="Button"
    secondaryButtonText="Secondary button"
  />

  <h3 style="text-align: center; margin: 2rem auto">Flat</h3>

  <bmb-card-button-flat
    componentTitle="Title"
    complementaryText="Complementary text"
    leftContentIcon="crop_16_9"
    trailingIcon=""
    [leftContent]="true"
    [isFullInteractive]="true"
    [isDisabled]="false"
    [hasMenu]="false"
    [menuItems]="[]"
  />

  <h3 style="text-align: center; margin: 2rem auto">Action</h3>

  <bmb-card-button-actions
    componentTitle="Title"
    body="Text content"
    leftContentIcon="crop_16_9"
    trailingIcon=""
    [leftContent]="true"
    [isFullInteractive]="true"
    [isDisabled]="false"
    [hasMenu]="false"
    [menuItems]="[]"
    buttonText="Button"
  />

  <h3 style="text-align: center; margin: 2rem auto">Home</h3>

  <bmb-card-button-home
    componentTitle="Title"
    summaryText="Lorem ipsum"
    [currentCount]="0"
    totalCount="00"
    [showBadge]="true"
    defaultBadgeText="Badge"
    defaultBadgeAppearance="mitec_blue"
    [isFullInteractive]="true"
    [isDisabled]="false"
    [hasMenu]="false"
    [menuItems]="[]"
    [items]="[
      {
        id: 'badge-item-1',
        title: 'Lorem ipsum dolor sit amet, consectetur',
        subtitle: 'Subtitle',
        badgeText: 'Badge',
        badgeAppearance: 'mitec_blue'
      },
      {
        id: 'badge-item-2',
        title: 'Lorem ipsum dolor sit amet, consectetur',
        subtitle: 'Subtitle',
        badgeText: 'Badge',
        badgeAppearance: 'mitec_blue'
      },
      {
        id: 'badge-item-3',
        title: 'Lorem ipsum dolor sit amet, consectetur',
        subtitle: 'Subtitle',
        badgeText: 'Badge',
        badgeAppearance: 'mitec_blue'
      },
      {
        id: 'badge-item-4',
        title: 'Lorem ipsum dolor sit amet, consectetur',
        subtitle: 'Subtitle',
        badgeText: 'Badge',
        badgeAppearance: 'mitec_blue'
      }
    ]"
  />

  <bmb-card-button-home
    componentTitle="Title"
    summaryText="Lorem ipsum"
    [currentCount]="0"
    totalCount="00"
    [showBadge]="false"
    defaultLeadingIcon="image"
    defaultActionIcon="file_open"
    [isFullInteractive]="true"
    [isDisabled]="false"
    [hasMenu]="false"
    [menuItems]="[]"
    [items]="[
      {
        id: 'action-item-1',
        title: 'Nombre_Archivo.png',
        subtitle: 'Descripción del documento agregado'
      },
      {
        id: 'action-item-2',
        title: 'Nombre_Archivo.png',
        subtitle: 'Descripción del documento agregado'
      },
      {
        id: 'action-item-3',
        title: 'Nombre_Archivo.png',
        subtitle: 'Descripción del documento agregado'
      },
      {
        id: 'action-item-4',
        title: 'Nombre_Archivo.png',
        subtitle: 'Descripción del documento agregado'
      },
      {
        id: 'action-item-5',
        title: 'Nombre_Archivo.png',
        subtitle: 'Descripción del documento agregado'
      }
    ]"
  />

  <h3 style="text-align: center; margin: 2rem auto">Empty</h3>

  <bmm-card-button-empty
    componentTitle="Title"
    summaryText="Lorem ipsum"
    [currentCount]="0"
    totalCount="10"
    emptyIcon="thumb_up"
    emptyTitle="Title"
    emptyDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    buttonText="Button"
    [isDisabled]="false"
    [hasMenu]="false"
    [menuItems]="[]"
  />

  <h3 style="text-align: center; margin: 2rem auto">Alert</h3>

  <bmb-card-button-alert
    componentTitle="Title"
    body="Complementary text"
    appearance="warning"
    leftContentIcon="warning"
    trailingIcon=""
    [leftContent]="true"
    [isFullInteractive]="true"
    [isDisabled]="false"
    [hasMenu]="false"
    [menuItems]="[]"
  />

  <bmb-card-button-alert
    componentTitle="Title"
    body="Complementary text"
    appearance="error"
    leftContentIcon="error"
    trailingIcon=""
    [leftContent]="true"
    [isFullInteractive]="true"
    [isDisabled]="false"
    [hasMenu]="false"
    [menuItems]="[]"
  />

  <bmb-card-button-alert
    componentTitle="Title"
    body="Complementary text"
    appearance="success"
    leftContentIcon="check_circle"
    trailingIcon=""
    [leftContent]="true"
    [isFullInteractive]="true"
    [isDisabled]="false"
    [hasMenu]="false"
    [menuItems]="[]"
  />

  <bmb-card-button-alert
    componentTitle="Title"
    body="Complementary text"
    appearance="info"
    leftContentIcon="info"
    trailingIcon=""
    [leftContent]="true"
    [isFullInteractive]="true"
    [isDisabled]="false"
    [hasMenu]="false"
    [menuItems]="[]"
  />
</div>
