<header class="bmb_template-header">
  <h3>Home</h3>
</header>

<bmb-card>
  <bmb-card-content padding="m">
    <section
      bmbLayout
      margin="none"
      gapSize="3"
      alignItems="center"
      justify="center"
    >
      <bmb-box-icon
        [iconName]="'home'"
        [boxColor]="'black-primary'"
        bmbLayoutItem
        [isDynamicItem]="true"
      />
      <section bmbLayoutItem [isDynamicItem]="true" [colGrow]="1" [colLg]="12">
        <section bmbVerticalLayout gapSize="xs">
          <h4 class="font-regular-4" bmbVerticalLayoutItem>
            {{ 'Title' }}
          </h4>
          <p class="font-regular-1" bmbVerticalLayoutItem>
            {{ 'Complementary text...' }}
          </p>
        </section>
      </section>
    </section>
  </bmb-card-content>
</bmb-card>
