<main>
  <h1>Informative</h1>

  <section>
    <bmb-card type="normal" borderRadius="l" margin="none">
      <bmb-card-content padding="l">
        <div
          bmbLayout
          margin="none"
          gapSize="xl"
          alignItems="stretch"
          [flow]="{ m: 'row', l: 'reverse', xl: 'reverse' }"
        >
          <bmb-image
            bmbLayoutItem
            [colSm]="4"
            [colLg]="5"
            [colXl]="5"
            [src]="informativeImage"
            alt="Edificio de Rectoría del Tecnológico de Monterrey"
            ratio="16 / 9"
            borderRadius="m"
            objectFit="cover"
            [minHeight]="{ s: '14rem', l: '18rem' }"
          />

          <div bmbLayoutItem [colSm]="4" [colLg]="7" [colXl]="7">
            <div
              bmbVerticalLayout
              margin="none"
              gapSize="m"
              justify="spaceBetween"
              alignItems="stretch"
              layoutHeight="100%"
            >
              <div bmbVerticalLayoutItem>
                <div
                  bmbLayout
                  margin="none"
                  gapSize="s"
                  alignItems="center"
                  [avoidRowWrap]="true"
                >
                  <bmb-tooltip
                    bmbLayoutItem
                    icon="info"
                    text="Additional information"
                    componentTitle="Information"
                    [size]="20"
                  />
                  <bmb-badge
                    bmbLayoutItem
                    text="Badge"
                    appearance="creative-use-violet"
                  />
                </div>
              </div>

              <bmb-title
                bmbVerticalLayoutItem
                componentTitle="Title"
                titleSize="10"
                titleFontWeight="700"
                subtitle="Complementary text"
                subtitleSize="6"
                subtitleFontWeight="400"
              />

              <hr bmbVerticalLayoutItem />

              <p bmbVerticalLayoutItem>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                volutpat rhoncus leo vel pharetra. Donec feugiat enim pharetra
                ipsum euismod, sed maximus justo pharetra.
              </p>

              <div bmbVerticalLayoutItem>
                <div bmbLayout margin="none" gapSize="l" alignItems="center">
                  <div bmbLayoutItem [colSm]="4" [colLg]="2" [colXl]="2">
                    <button
                      bmbButton
                      appearance="secondary-outlined"
                      size="large"
                      (click)="handleButtonClick($event)"
                    >
                      Button
                    </button>
                  </div>
                  <div bmbLayoutItem [colSm]="4" [colLg]="4" [colXl]="4">
                    <button
                      bmbButton
                      appearance="secondary-outlined"
                      size="large"
                      (click)="handleButtonClick($event)"
                    >
                      Secondary button
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </bmb-card-content>
    </bmb-card>
  </section>

  <h2>Flat</h2>

  <section>
    <div bmbLayout margin="none" gapSize="m" alignItems="stretch">
      <div bmbLayoutItem [colSm]="4" [colLg]="2" [colXl]="2">
        <bmb-card type="normal" borderRadius="m" margin="none">
          <bmb-card-content padding="l">
            <div
              bmbLayout
              margin="none"
              gapSize="m"
              justify="center"
              alignItems="center"
            >
              <div bmbLayoutItem [colSm]="1" [colLg]="12" [colXl]="12">
                <div
                  bmbLayout
                  margin="none"
                  gapSize="none"
                  justify="center"
                  alignItems="center"
                >
                  <bmb-box-icon
                    iconName="crop_16_9"
                    boxSize="regular"
                    boxShape="circle"
                    boxColor="black-primary"
                  />
                </div>
              </div>

              <bmb-title
                bmbLayoutItem
                [colSm]="3"
                [colLg]="12"
                [colXl]="12"
                componentTitle="Title"
                titleSize="5"
                titleFontWeight="500"
                subtitle="Complementary text"
                subtitleSize="4"
                subtitleFontWeight="400"
              />
            </div>
          </bmb-card-content>
        </bmb-card>
      </div>
    </div>
  </section>

  <h2>Actions</h2>

  <section>
    <div bmbLayout margin="none" gapSize="m" alignItems="stretch">
      <div bmbLayoutItem [colSm]="4" [colLg]="3" [colXl]="3">
        <bmb-card type="normal" borderRadius="m" margin="none">
          <bmb-card-content padding="l">
            <div
              bmbLayout
              margin="none"
              gapSize="m"
              justify="center"
              alignItems="center"
            >
              <div bmbLayoutItem [colSm]="1" [colLg]="12" [colXl]="12">
                <div
                  bmbLayout
                  margin="none"
                  gapSize="none"
                  justify="center"
                  alignItems="center"
                >
                  <bmb-box-icon
                    iconName="home"
                    boxSize="regular"
                    boxShape="circle"
                    boxColor="black-primary"
                  />
                </div>
              </div>

              <bmb-title
                bmbLayoutItem
                [colSm]="1"
                [colLg]="12"
                [colXl]="12"
                componentTitle="Title"
                titleSize="5"
                titleFontWeight="500"
                subtitle="Text content"
                subtitleSize="4"
                subtitleFontWeight="400"
              />

              <div bmbLayoutItem [colSm]="2" [colLg]="12" [colXl]="12">
                <button
                  bmbButton
                  appearance="secondary-outlined"
                  size="large"
                  (click)="handleButtonClick($event)"
                >
                  Button
                </button>
              </div>
            </div>
          </bmb-card-content>
        </bmb-card>
      </div>
    </div>
  </section>

  <h2>Home</h2>

  <section
    aria-label="Home document card"
    bmbLayout
    margin="none"
    gapSize="none"
    alignItems="start"
  >
    <div bmbLayoutItem [colSm]="4" [colLg]="8" [colXl]="6">
      <bmb-card type="normal" borderRadius="l" margin="none"
        ><bmb-card-content padding="l">
          <div>
            <div
              bmbVerticalLayout
              margin="none"
              gapSize="m"
              alignItems="stretch"
              layoutHeight="30rem"
            >
              <bmb-title
                bmbVerticalLayoutItem
                componentTitle="Title"
                titleSize="5"
                titleFontWeight="400"
              />
              <bmb-title
                bmbVerticalLayoutItem
                componentTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat rhoncus leo vel pharetra. Donec feugiat enim"
                titleSize="4"
                titleFontWeight="400"
              />
              <bmb-divider bmbVerticalLayoutItem [removeMargin]="true" />
              <div
                bmbVerticalLayoutItem
                [rowGrow]="1"
                role="group"
                aria-label="Documentos"
                tabindex="0"
              >
                <div
                  bmbVerticalLayout
                  margin="none"
                  gapSize="l"
                  alignItems="stretch"
                >
                  @for (file of [1, 2, 3]; track file) {
                    <div bmbVerticalLayoutItem>
                      <div
                        bmbLayout
                        margin="none"
                        gapSize="m"
                        alignItems="center"
                        [avoidRowWrap]="true"
                      >
                        <bmb-checkbox
                          bmbLayoutItem
                          [checked]="file !== 2"
                          [ariaLabel]="
                            'Seleccionar documento ' +
                            file +
                            ': Nombre_Archivo.doc'
                          "
                        />
                        <bmb-container-button
                          bmbLayoutItem
                          [colSm]="3"
                          [colLg]="11"
                          [colXl]="11"
                          componentTitle="Nombre_Archivo.doc"
                          subtitle="Descripción del documento agregado"
                          iconLeft="file_present"
                          iconRight="file_open"
                        />
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div> </bmb-card-content
      ></bmb-card>
    </div>
  </section>

  <h2>Empty</h2>

  <section
    aria-label="Empty card"
    bmbLayout
    margin="none"
    gapSize="none"
    alignItems="start"
  >
    <div bmbLayoutItem [colSm]="4" [colLg]="4" [colXl]="4">
      <bmb-card
        type="transparent"
        borderRadius="l"
        margin="none"
        boxShadowStyle="box-shadow-3"
      >
        <bmb-card-header [padding]="['m', 'l']" colorBackground="contrasts-5"
          ><bmb-title componentTitle="Title" titleSize="6" titleFontWeight="500"
        /></bmb-card-header>
        <bmb-card-content padding="l"
          ><div>
            <div
              bmbVerticalLayout
              margin="none"
              gapSize="l"
              alignItems="stretch"
              layoutHeight="32.75rem"
            >
              <div bmbVerticalLayoutItem>
                <div
                  bmbLayout
                  margin="none"
                  gapSize="m"
                  justify="spaceBetween"
                  alignItems="center"
                  [avoidRowWrap]="true"
                >
                  <span bmbLayoutItem>Lorem ipsum</span
                  ><span bmbLayoutItem>0 / <small>10</small></span>
                </div>
              </div>
              <div bmbVerticalLayoutItem [rowGrow]="1" [disableScroll]="true">
                <div
                  bmbVerticalLayout
                  margin="none"
                  gapSize="xl"
                  justify="center"
                  alignItems="center"
                  layoutHeight="100%"
                >
                  <bmb-icon
                    bmbVerticalLayoutItem
                    [isFullWidth]="false"
                    icon="thumb_up"
                    [size]="80"
                    alt="Sin elementos"
                  />
                  <bmb-title
                    bmbVerticalLayoutItem
                    componentTitle="Title"
                    titleSize="8"
                    titleFontWeight="700"
                    [isCenterContent]="true"
                  />
                  <bmb-title
                    bmbVerticalLayoutItem
                    componentTitle=""
                    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit,"
                    subtitleSize="4"
                    subtitleFontWeight="400"
                    [isCenterContent]="true"
                  />
                  <div bmbVerticalLayoutItem [isFullWidth]="false">
                    <button
                      bmbButton
                      type="button"
                      appearance="primary"
                      size="small"
                    >
                      Button
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div></bmb-card-content
        ></bmb-card
      >
    </div>
  </section>
  <br />

  <section aria-labelledby="informative-media-expanded-vertical">
    <h2 id="informative-media-expanded-vertical">Informative media expanded vertical</h2>
    <div bmbLayout margin="none" gapSize="none" alignItems="start">
      <div bmbLayoutItem [colSm]="4" [colLg]="4" [colXl]="4">
        <bmb-card type="normal" borderRadius="l" margin="none">
          <bmb-card-content padding="l">
            <div bmbVerticalLayout margin="none" gapSize="m" alignItems="stretch">
              <bmb-image
                bmbVerticalLayoutItem
                [src]="informativeImage"
                alt="Edificio de Rectoría del Tecnológico de Monterrey"
                ratio="2 / 1"
                borderRadius="l"
                objectFit="cover"
              />
              <div bmbVerticalLayoutItem>
                <div bmbVerticalLayout margin="none" gapSize="s" alignItems="stretch">
                  <bmb-title
                    bmbVerticalLayoutItem
                    componentTitle="Texto principal largo (máximo 2 líneas o 3 sin contenido complementario)"
                    titleSize="4"
                    titleFontWeight="400"
                  />
                  <div bmbVerticalLayoutItem>
                    <div bmbLayout margin="none" gapSize="s" alignItems="center" [avoidRowWrap]="true" role="group" aria-label="Etiquetas">
                      <bmb-badge bmbLayoutItem text="Badge" appearance="creative-use-violet" />
                      <bmb-badge bmbLayoutItem text="Badge" appearance="creative-use-emerald" />
                    </div>
                  </div>
                </div>
              </div>
              <p bmbVerticalLayoutItem>
                Resumen de texto en diferentes idiomas con las consideraciones
                especificadas para más contenido el cual puede ir hasta en 4 líneas
                de texto largo lorem ipsum lorem ipsum lore...
              </p>
              <div bmbVerticalLayoutItem>
                <div bmbLayout margin="none" gapSize="s" justify="spaceBetween" alignItems="center" [avoidRowWrap]="true">
                  <div bmbLayoutItem>
                    <div bmbLayout margin="none" gapSize="xs" alignItems="center" [avoidRowWrap]="true">
                      <bmb-icon bmbLayoutItem icon="thumb_up" [size]="16" alt="Votos" />
                      <small bmbLayoutItem>100 votos</small>
                    </div>
                  </div>
                  <small bmbLayoutItem>ID: 1234</small>
                </div>
              </div>
            </div>
          </bmb-card-content>
        </bmb-card>
      </div>
    </div>
  </section>

  <section aria-labelledby="informative-media-detail-vertical">
    <h2 id="informative-media-detail-vertical">Informative media detail vertical</h2>

    <div bmbLayout margin="none" gapSize="none" alignItems="start">
      <div bmbLayoutItem [colSm]="4" [colLg]="4" [colXl]="4">
        <bmb-card type="normal" borderRadius="l" margin="none">
          <bmb-card-content padding="l">
            <div bmbVerticalLayout margin="none" gapSize="m" alignItems="stretch">
              <bmb-image
                bmbVerticalLayoutItem
                [src]="informativeImage"
                alt="Edificio de Rectoría del Tecnológico de Monterrey"
                ratio="5 / 2"
                borderRadius="l"
                objectFit="cover"
              />

              <div bmbVerticalLayoutItem>
                <div bmbLayout margin="none" gapSize="s" alignItems="center" [horizontalScroll]="true" role="group" aria-label="Etiquetas" tabindex="0">
                  <bmb-badge bmbLayoutItem text="Badge" appearance="creative-use-violet" />
                  <bmb-badge bmbLayoutItem text="Badge" appearance="creative-use-hibiscus" />
                </div>
              </div>

              <bmb-title
                bmbVerticalLayoutItem
                componentTitle="Title"
                titleSize="6"
                titleFontWeight="400"
              />

              <p bmbVerticalLayoutItem>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                volutpat rhoncus leo vel pharetra. Donec feugiat enim pharetra
                ipsum euismod, sed.
              </p>

              <div bmbVerticalLayoutItem>
                <div bmbLayout margin="none" gapSize="none" justify="end" alignItems="center">
                  <button
                    bmbButton
                    type="button"
                    appearance="transparent"
                    size="small"
                    icon="open_in_new"
                    [iconSize]="24"
                    iconAlt="Abrir detalle"
                    aria-label="Abrir detalle"
                    (click)="handleButtonClick($event)"
                  ></button>
                </div>
              </div>
            </div>
          </bmb-card-content>
        </bmb-card>
      </div>
    </div>
  </section>

  <section aria-labelledby="informative-media-detail-horizontal">
    <h2 id="informative-media-detail-horizontal">Informative media detail horizontal</h2>
    <div bmbLayout margin="none" gapSize="none" alignItems="start">
      <div bmbLayoutItem [colSm]="4" [colLg]="6" [colXl]="6">
        <bmb-card type="normal" borderRadius="l" margin="none">
          <bmb-card-content padding="none">
            <div bmbLayout margin="none" gapSize="none" alignItems="stretch" [avoidRowWrap]="true">
              <div bmbLayoutItem [isDynamicItem]="true" [colGrow]="1" [colLg]="4" [colXl]="4">
                <bmb-image
                  [src]="informativeImage"
                  alt="Edificio del Tecnológico de Monterrey"
                  borderRadius="none"
                  objectFit="cover"
                />
              </div>
              <div bmbLayoutItem [isDynamicItem]="true" [colGrow]="2" [colLg]="8" [colXl]="8">
                <bmb-card-content padding="m">
                  <div bmbVerticalLayout margin="none" gapSize="m" alignItems="stretch" layoutHeight="100%">
                    <div bmbVerticalLayoutItem>
                      <div bmbLayout margin="none" gapSize="s" alignItems="center" [horizontalScroll]="true" role="group" aria-label="Etiquetas" tabindex="0">
                        <bmb-badge bmbLayoutItem text="Badge" appearance="creative-use-violet" />
                        <bmb-badge bmbLayoutItem text="Badge" appearance="creative-use-hibiscus" />
                      </div>
                    </div>
                    <bmb-title bmbVerticalLayoutItem componentTitle="Title" titleSize="6" titleFontWeight="400" />
                    <p bmbVerticalLayoutItem [rowGrow]="1" [disableScroll]="true">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Fusce volutpat rhoncus leo vel pharetra. Donec feugiat enim
                      pharetra ipsum euismod, sed.
                    </p>
                    <div bmbVerticalLayoutItem>
                      <div bmbLayout margin="none" gapSize="none" justify="end" alignItems="center">
                        <button
                          bmbButton
                          type="button"
                          appearance="transparent"
                          size="small"
                          icon="open_in_new"
                          [iconSize]="24"
                          iconAlt="Abrir detalle"
                          aria-label="Abrir detalle"
                          (click)="handleButtonClick($event)"
                        ></button>
                      </div>
                    </div>
                  </div>
                </bmb-card-content>
              </div>
            </div>
          </bmb-card-content>
        </bmb-card>
      </div>
    </div>
  </section>
  <section aria-labelledby="informative-media-simple">
    <h2 id="informative-media-simple">Informative media simple</h2>

    <div bmbLayout margin="none" gapSize="none" alignItems="start">
      <div bmbLayoutItem [colSm]="4" [colLg]="4" [colXl]="4">
        <bmb-card type="transparent" borderRadius="l" margin="none">
          <bmb-card-content padding="l">
            <div bmbVerticalLayout margin="none" gapSize="xl" alignItems="stretch">
              <bmb-image
                bmbVerticalLayoutItem
                [src]="informativeImage"
                alt="Edificio del Tecnológico de Monterrey"
                ratio="12 / 5"
                borderRadius="l"
                objectFit="cover"
              />

              <p bmbVerticalLayoutItem>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
              </p>

              <p bmbVerticalLayoutItem>Lorem ipsum dolor</p>

              <p bmbVerticalLayoutItem>Lorem ipsum dolor</p>

              <div bmbVerticalLayoutItem>
                <div bmbLayout margin="none" gapSize="s" justify="spaceBetween" alignItems="center" [avoidRowWrap]="true">
                  <div bmbLayoutItem [isDynamicItem]="true" [colGrow]="1">
                    <div bmbLayout margin="none" gapSize="s" alignItems="center" [horizontalScroll]="true" role="group" aria-label="Etiquetas" tabindex="0">
                      <bmb-badge bmbLayoutItem text="Badge" appearance="creative-use-violet" />
                      <bmb-badge bmbLayoutItem text="Badge" appearance="creative-use-hibiscus" />
                    </div>
                  </div>
                  <button
                    bmbButton
                    type="button"
                    appearance="transparent"
                    size="small"
                    icon="open_in_new"
                    [iconSize]="24"
                    iconAlt="Abrir detalle"
                    aria-label="Abrir detalle"
                    (click)="handleButtonClick($event)"
                  ></button>
                </div>
              </div>
            </div>
          </bmb-card-content>
        </bmb-card>
      </div>
    </div>
  </section>
  <section aria-labelledby="informative-media-simple-horizontal">
    <h2 id="informative-media-simple-horizontal">Informative media simple horizontal</h2>

    <div bmbLayout margin="none" gapSize="none" alignItems="start">
      <div bmbLayoutItem [colSm]="4" [colLg]="6" [colXl]="6">
        <bmb-card type="transparent" borderRadius="l" margin="none">
          <bmb-card-content padding="l">
            <div bmbVerticalLayout margin="none" gapSize="l" alignItems="stretch">
              <div bmbVerticalLayoutItem>
                <div bmbLayout margin="none" gapSize="m" alignItems="stretch" [avoidRowWrap]="true">
                  <div bmbLayoutItem>
                    <div bmbVerticalLayout margin="none" gapSize="none" layoutHeight="100%">
                      <bmb-image
                        [src]="informativeImage"
                        alt="Edificio del Tecnológico de Monterrey"
                        width="5rem"
                        ratio="1 / 1"
                        borderRadius="m"
                        objectFit="cover"
                      />
                    </div>
                  </div>
                  <div bmbLayoutItem [isDynamicItem]="true" [colGrow]="1">
                    <div bmbVerticalLayout margin="none" gapSize="s" justify="spaceBetween" alignItems="stretch" layoutHeight="100%">
                      <div bmbVerticalLayoutItem>
                        <div bmbLayout margin="none" gapSize="none" justify="end" alignItems="center">
                          <button
                            bmbButton
                            type="button"
                            appearance="transparent"
                            size="small"
                            icon="more_vert"
                            [iconSize]="24"
                            iconAlt="Más opciones"
                            aria-label="Más opciones"
                            (click)="handleButtonClick($event)"
                          ></button>
                        </div>
                      </div>
                      <div bmbVerticalLayoutItem>
                        <div bmbLayout margin="none" gapSize="s" alignItems="center" [avoidRowWrap]="true" [horizontalScroll]="true" role="group" aria-label="Etiquetas" tabindex="0">
                          <bmb-badge bmbLayoutItem text="semantic-info-event" appearance="semantic-info-event" />
                          <bmb-badge bmbLayoutItem text="semantic-success" appearance="semantic-success" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <bmb-title
                bmbVerticalLayoutItem
                componentTitle="Title"
                titleSize="6"
                titleFontWeight="700"
                subtitle="Subtitle (optional)"
                subtitleSize="6"
                subtitleFontWeight="400"
              />

              <p bmbVerticalLayoutItem>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                volutpat rhoncus leo vel pharetra.
              </p>

              <div bmbVerticalLayoutItem>
                <div bmbLayout margin="none" gapSize="none" justify="end" alignItems="center">
                  <div bmbLayoutItem>
                    <button
                      bmbButton
                      type="button"
                      appearance="transparent"
                      size="large"
                      icon="arrow_forward"
                      position="right"
                      (click)="handleButtonClick($event)"
                    >
                      Button
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </bmb-card-content>
        </bmb-card>
      </div>
    </div>
  </section>
  <section aria-labelledby="informative-focus-element">
    <h2 id="informative-focus-element">Informative focus element</h2>

    <div bmbLayout margin="none" gapSize="none" alignItems="start">
      <div bmbLayoutItem [colSm]="4" [colLg]="3" [colXl]="3">
        <bmb-card type="normal" borderRadius="l" margin="none">
          <bmb-card-content padding="l">
            <div bmbVerticalLayout margin="none" gapSize="m" alignItems="center">
              <bmb-title
                bmbVerticalLayoutItem
                componentTitle="Title"
                titleSize="8"
                titleFontWeight="400"
                subtitle="Subtitle"
                subtitleSize="6"
                subtitleFontWeight="400"
                [isCenterContent]="true"
              />
              <bmb-focus-element
                bmbVerticalLayoutItem
                [isFullWidth]="false"
                [number]="1"
                [isCurrentColor]="true"
                componentTitle="Title"
              />
            </div>
          </bmb-card-content>
        </bmb-card>
      </div>
    </div>
  </section>
  <section aria-labelledby="informative-item-list">
    <h2 id="informative-item-list">Informative item list</h2>

    <div bmbVerticalLayout margin="none" gapSize="m" alignItems="stretch" role="list">
      @for (item of informativeItems; track item.id; let last = $last) {
        <div bmbVerticalLayoutItem role="listitem">
          <div
            bmbLayout
            margin="s"
            gapSize="s"
            [alignItems]="isItemListMobile() && item.stackedMobileActions ? 'stretch' : 'center'"
            [avoidRowWrap]="true"
          >
            <div bmbLayoutItem>
              <div>
                <bmb-image
                  [src]="informativeImage"
                  alt="Edificio del Tecnológico de Monterrey"
                  width="2.25rem"
                  ratio="1 / 1"
                  borderRadius="xs"
                  objectFit="cover"
                />
              </div>
            </div>

            <div bmbLayoutItem [isDynamicItem]="true" [colGrow]="1">
              <div bmbVerticalLayout margin="none" gapSize="xs" alignItems="stretch">
                <bmb-title
                  bmbVerticalLayoutItem
                  componentTitle="Título de noticia del nombre de el recurso y una segunda línea"
                  titleSize="4"
                  titleFontWeight="400"
                  [subtitle]="item.showSubtitle ? 'Subtitle' : undefined"
                  subtitleSize="4"
                  subtitleFontWeight="400"
                />
                @if (item.showComplement) {
                  <span bmbVerticalLayoutItem>Complimentary text</span>
                }
              </div>
            </div>

            @if (isItemListMobile() && item.stackedMobileActions) {
              <div bmbLayoutItem>
                <div bmbVerticalLayout margin="none" gapSize="s" justify="spaceBetween" alignItems="end" layoutHeight="100%">
                  <div bmbVerticalLayoutItem [isFullWidth]="false">
                    <bmb-badge text="Badge" appearance="semantic-success" />
                  </div>
                  <div bmbVerticalLayoutItem [isFullWidth]="false">
                    <button
                      bmbButton
                      type="button"
                      appearance="transparent"
                      size="micro"
                      icon="open_in_new"
                      [iconSize]="20"
                      [attr.aria-label]="'Abrir recurso ' + item.id"
                      iconAlt="Abrir recurso"
                      (click)="handleButtonClick($event)"
                    ></button>
                  </div>
                </div>
              </div>
            } @else {
              <div bmbLayoutItem>
                <div bmbLayout margin="none" gapSize="s" alignItems="center" [avoidRowWrap]="true">
                  <bmb-badge bmbLayoutItem text="Badge" appearance="semantic-success" />
                  <div bmbLayoutItem>
                    <button
                      bmbButton
                      type="button"
                      appearance="transparent"
                      size="micro"
                      icon="open_in_new"
                      [iconSize]="20"
                      [attr.aria-label]="'Abrir recurso ' + item.id"
                      iconAlt="Abrir recurso"
                      (click)="handleButtonClick($event)"
                    ></button>
                  </div>
                </div>
              </div>
            }
          </div>
          @if (!last) {
            <bmb-divider [removeMargin]="true" />
          }
        </div>
      }
    </div>
  </section>
  <section aria-labelledby="informative-balance">
    <h2 id="informative-balance">Informative balance</h2>
    <div bmbLayout margin="none" gapSize="none" alignItems="start">
      <div bmbLayoutItem [colSm]="4" [colLg]="3" [colXl]="3">
        <bmb-card type="transparent" borderRadius="l" margin="none">
          <bmb-card-content padding="l">
            <div bmbVerticalLayout margin="none" gapSize="l" alignItems="stretch">
              <div bmbVerticalLayoutItem>
                <div bmbVerticalLayout margin="none" gapSize="s" alignItems="stretch">
                  <div bmbVerticalLayoutItem>
                    <div bmbLayout margin="none" gapSize="s" justify="spaceBetween" alignItems="center" [avoidRowWrap]="true">
                      <bmb-title bmbLayoutItem componentTitle="Título corto" titleSize="5" titleFontWeight="400" />
                      <button bmbLayoutItem bmbButton type="button" appearance="transparent" size="small" icon="fullscreen" [iconSize]="20" iconAlt="Ampliar balance" aria-label="Ampliar balance" (click)="handleButtonClick($event)"></button>
                    </div>
                  </div>
                  <bmb-divider bmbVerticalLayoutItem [removeMargin]="true" />
                </div>
              </div>
              <div bmbVerticalLayoutItem>
                <div bmbVerticalLayout margin="none" gapSize="m" alignItems="center">
                  <bmb-progress-circle bmbVerticalLayoutItem [isFullWidth]="false" size="small" [percent]="75" valueLabel="0000" [showValueLabel]="true" [showBackground]="true" aria-label="Balance: 0000, progreso 75 por ciento" />
                  <bmb-title bmbVerticalLayoutItem componentTitle="Text" titleSize="3" titleFontWeight="400" [isCenterContent]="true" />
                </div>
              </div>
            </div>
          </bmb-card-content>
        </bmb-card>
      </div>
    </div>
  </section>
</main>
