:root {
  // Gray (TECMI)
  --gray-tecmi-25: 252, 253, 253; // #FCFDFD
  --gray-tecmi-50: 247, 248, 248; // #F7F8F8
  --gray-tecmi-100: 241, 243, 243; // #F1F3F3
  --gray-tecmi-150: 236, 238, 238; // #ECEEEE
  --gray-tecmi-200: 231, 233, 233; // #E7E9E9
  --gray-tecmi-300: 221, 223, 223; // #DDDFDF
  --gray-tecmi-400: 210, 213, 213; // #D2D5D5
  --gray-tecmi-500: 101, 113, 111; // #65716F
  --gray-tecmi-600: 71, 72, 72; // #474848
  --gray-tecmi-700: 49, 53, 52; // #313534
  --gray-tecmi-800: 27, 34, 33; // #1B2221
  --gray-tecmi-900: 17, 24, 22; // #111816
  --gray-tecmi-950: 8, 13, 12; // #080D0C
}
