@use './../../mixinsColors' as mc;

:root,
[data-theme='light'],
.storybook-light-theme [data-brand='tecmi'] {
  /*TECMI*/
  // General Contrasts
  --general-contrasts: rgb(var(--black-primary));
  --general-contrasts-100: rgb(var(--gray-tecmi-950));
  --general-contrasts-90: rgb(var(--gray-tecmi-900));
  --general-contrasts-80: rgb(var(--gray-tecmi-800));
  --general-contrasts-75: rgb(var(--gray-tecmi-700));
  --general-contrasts-60: rgb(var(--gray-tecmi-600));
  --general-contrasts-50: rgb(var(--gray-tecmi-500));
  --general-contrasts-25: rgb(var(--gray-tecmi-300));
  --general-contrasts-20: rgb(var(--gray-tecmi-150));
  --general-contrasts-15: rgb(var(--gray-tecmi-150));
  --general-contrasts-5: rgb(var(--gray-tecmi-50));

  --general-contrasts-main-complimentary: rgb(var(--gray-tecmi-50));
  --general-contrasts-main-selection: rgb(var(--green-tecmi-600));
  --general-contrasts-icon-selection: rgb(var(--green-tecmi-600));
  --general-contrasts-main-selection-alternative: rgb(var(--green-primary));

  --general-contrasts-input-background: rgb(var(--gray-tecmi-50));
  --general-contrasts-input-outline: rgb(var(--green-tecmi-800));
  --general-contrasts-container-outline: rgb(var(--gray-tecmi-400));
  --general-contrasts-text-sidebar: rgb(var(--black-primary));

  --general-contrasts-primary: rgb(var(--green-tecmi-800));
  --general-contrasts-primary-high-contrast: rgb(var(--green-tecmi-200));

  --general-contrasts-inner-header-text: rgb(var(--white-primary));
  --general-contrasts-timestream-index-inner-header-text: rgb(
    var(--black-primary)
  );
  --general-contrasts-timestream-index-chevron-title-selector-text: rgb(
    var(--white-primary)
  );

  // Containers
  --containers-background: rgb(var(--gray-tecmi-25));
  --containers-media-card-background: rgba(var(--gray-tecmi-100), 0.9);
  --containers-main: rgb(var(--gray-tecmi-50));
  --containers-header-mobile: rgb(var(--green-tecmi-800));
  --containers-modal: rgb(var(--gray-tecmi-100));
  --containers-container-button: rgb(var(--gray-tecmi-50));

  --containers-top-bar: rgb(var(--green-tecmi-800));
  --containers-background-fade: rgba(211, 215, 228, 0); // #D3D7E4
  --containers-media-card-background-fade: rgba(11, 14, 18, 0); // #0B0E12
  --containers-timestream-index: rgb(var(--gray-tecmi-150));
  --containers-timestream-index-chevron-title-selector: rgb(
    var(--green-tecmi-950)
  );

  // Buttons
  --buttons-primary-normal: rgb(var(--green-tecmi-800));
  --buttons-primary-hover: rgb(var(--green-tecmi-900));
  --buttons-primary-select: rgb(var(--green-tecmi-800));

  --buttons-alternative-normal: rgb(var(--gray-tecmi-25));
  --buttons-alternative-hover: rgb(var(--gray-tecmi-400));
  --buttons-alternative-text: rgb(var(--gray-tecmi-800));
  --buttons-alternative-select-text: rgb(var(--gray-tecmi-50));
  --buttons-alternative-text-hover: rgb(var(--gray-tecmi-500));

  --buttons-primary-text: rgb(var(--green-tecmi-700));
  --buttons-fab-text: rgb(var(--white-primary));
  --buttons-active-switch: rgb(var(--green-tecmi-600));
  --buttons-inactive-step: rgb(var(--gray-tecmi-300));

  --buttons-stroke-primary-selected: rgb(var(--green-tecmi-950));
  --buttons-blur-primary-select: rgb(var(--green-tecmi-600));
  --buttons-stroke-primary-hover: rgb(var(--green-tecmi-900));

  --buttons-destructive: rgb(var(--red-primary));
  --buttons-text-link: rgb(var(--green-tecmi-700));

  //Alert
  --alert-successful: rgb(var(--success-primary-alternative));
  --alert-event: rgb(var(--purple-light));
  --alert-neutral: rgb(var(--gray-charade-300));
  --alert-primary-alert-primary: rgb(var(--neon-primary));
  --alert-warning: rgb(var(--yellow-primary));
  --alert-error: rgb(var(--red-primary));

  //Menu select
  --menu-select-surface-activated: rgb(var(--green-tecmi-800));
  --menu-select-label-menu-active: rgb(var(--gray-tecmi-50));
  --menu-select-label-menu-inactive: rgb(var(--gray-tecmi-800));
  --menu-select-activated-w-checkbox: rgb(var(--green-tecmi-900));
  --menu-select-alternative-focus-label: rgb(var(--green-tecmi-600));

  //Menu select - On surface
  --menu-select-on-surface-hovered-w-checkbox: rgb(var(--green-tecmi-100));
  --menu-select-on-surface-hovered: rgb(var(--gray-tecmi-100));

  //Tecmilenio
  --tecmi-green: rgb(var(--green-tecmi-800));
  --tecmi-green-2: rgb(0, 120, 100); // #007864

  // Semantic colors
  --semantic-success: rgb(var(--success-primary-alternative));
  --semantic-info-event: rgb(var(--purple-primary));
  --semantic-warning: rgb(var(--warning-primary));
  --semantic-error: rgb(var(--error-primary));
  --semantic-brand: rgb(var(--branding-primary));
  --semantic-alert: rgb(var(--alert-primary));
  --semantic-neutral: rgb(var(--gray-tecmi-300));

  // Creative use
  --creative-use-violet: rgb(var(--violet-primary));
  --creative-use-indigo: rgb(var(--indigo-primary));
  --creative-use-emerald: rgb(var(--emerald-primary));
  --creative-use-licorice: rgb(var(--licorice-primary));
  --creative-use-dark-teal: rgb(var(--dark-teal-primary));
  --creative-use-peach: rgb(var(--peach-primary));
  --creative-use-sepia: rgb(var(--sepia-primary));
  --creative-use-soft-red: rgb(var(--soft-red-primary));
  --creative-use-wattle: rgb(var(--wattle-primary));
  --creative-use-ship-cove: rgb(var(--ship-cove-primary));
  --creative-use-plantation: rgb(var(--plantation-primary));
  --creative-use-rum: rgb(var(--rum-primary));
  --creative-use-ripe-lemon: rgb(var(--ripe-lemon-primary));
  --creative-use-hibiscus: rgb(var(--hibiscus-primary));

  // variables for buttons
  --buttons-primary-text-hover: var(--buttons-primary-normal);
  --buttons-primary-border-active: var(--buttons-primary-select);
  --bmb-evaluation-rubric-radius-circle: 0;
  --bmb-calendar-button-selected-background: var(--general-contrasts-5);

  // variables for containers
  --bmb-dot-paginator-dot: rgb(var(--gray-ged-500));

  // Switch box variables - this variables are only for development purposes
  --buttons-active-switch-box-shadow-hover: rgba(var(--green-light), 0.15);
  --buttons-active-switch-box-shadow-focus: rgba(var(--green-light), 0.25);
  --buttons-inactive-switch-box-shadow-hover: rgba(
    var(--gray-charade-500),
    0.15
  );
  --buttons-inactive-switch-box-shadow-focus: rgba(
    var(--gray-charade-500),
    0.25
  );

  /*TECMI*/
  @include mc.fixed-names;
}

[data-theme='dark'],
.storybook-dark-theme [data-brand='tecmi'] {
  // General Contrasts
  --general-contrasts: rgb(var(--white-primary));
  --general-contrasts-100: rgb(var(--gray-tecmi-50));
  --general-contrasts-90: rgb(var(--gray-tecmi-100));
  --general-contrasts-80: rgb(var(--gray-tecmi-300));
  --general-contrasts-75: rgb(var(--gray-tecmi-300));
  --general-contrasts-60: rgb(var(--gray-tecmi-400));
  --general-contrasts-50: rgb(var(--gray-tecmi-500));
  --general-contrasts-25: rgb(var(--gray-tecmi-600));
  --general-contrasts-20: rgb(var(--gray-tecmi-700));
  --general-contrasts-15: rgb(var(--gray-tecmi-800));
  --general-contrasts-5: rgb(var(--gray-tecmi-900));

  --general-contrasts-main-complimentary: rgb(var(--gray-tecmi-50));
  --general-contrasts-main-selection: rgb(var(--green-tecmi-600));
  --general-contrasts-icon-selection: rgb(var(--green-tecmi-600));
  --general-contrasts-main-selection-alternative: rgb(var(--green-tecmi-200));

  --general-contrasts-input-background: var(--black-tint);
  --general-contrasts-input-outline: rgb(var(--gray-tecmi-50));
  --general-contrasts-container-outline: rgb(var(--gray-tecmi-700));
  --general-contrasts-text-sidebar: rgb(var(--white-primary));

  --general-contrasts-primary: rgb(var(--green-tecmi-300));
  --general-contrasts-primary-high-contrast: rgb(var(--green-tecmi-300));

  --general-contrasts-inner-header-text: rgb(var(--white-primary));
  --general-contrasts-timestream-index-inner-header-text: rgb(
    var(--white-primary)
  );
  --general-contrasts-timestream-index-chevron-title-selector-text: rgb(
    var(--white-primary)
  );

  // Containers
  --containers-background: rgb(var(--gray-tecmi-950));
  --containers-media-card-background: rgba(var(--gray-tecmi-900), 0.9);
  --containers-main: rgb(var(--gray-tecmi-900));
  --containers-header-mobile: rgb(var(--green-tecmi-800));
  --containers-modal: rgb(var(--gray-tecmi-800));
  --containers-container-button: rgb(var(--gray-tecmi-900));

  --containers-top-bar: rgb(var(--green-tecmi-800));
  --containers-background-fade: rgba(31, 34, 46, 0); // #1F222E
  --containers-media-card-background-fade: rgba(11, 14, 18, 0); // #0B0E12
  --containers-timestream-index: rgb(var(--gray-tecmi-800));
  --containers-timestream-index-chevron-title-selector: rgb(
    var(--green-tecmi-950)
  );

  // Buttons
  --buttons-primary-normal: rgb(var(--green-tecmi-800));
  --buttons-primary-hover: rgb(var(--green-tecmi-900));
  --buttons-primary-select: rgb(var(--green-tecmi-800));

  --buttons-alternative-normal: rgb(var(--gray-tecmi-25));
  --buttons-alternative-hover: rgb(var(--gray-tecmi-400));
  --buttons-alternative-text: rgb(var(--gray-tecmi-800));
  --buttons-alternative-select-text: rgb(var(--gray-tecmi-50));
  --buttons-alternative-text-hover: rgb(var(--gray-tecmi-900));

  --buttons-primary-text: rgb(var(--green-tecmi-700));
  --buttons-fab-text: rgb(var(--white-primary));
  --buttons-active-switch: rgb(var(--green-tecmi-400));
  --buttons-inactive-step: rgb(var(--gray-tecmi-700));

  --buttons-stroke-primary-selected: rgb(var(--green-tecmi-500));
  --buttons-blur-primary-select: rgb(var(--green-tecmi-600));
  --buttons-stroke-primary-hover: rgb(var(--green-tecmi-900));

  --buttons-destructive: rgb(var(--red-light));
  --buttons-text-link: rgb(var(--green-tecmi-500));

  //Alert
  --alert-successful: rgb(var(--success-tint-alternative));
  --alert-event: rgb(var(--purple-light));
  --alert-neutral: rgb(var(--gray-charade-300));
  --alert-primary-alert-primary: rgb(var(--neon-primary));
  --alert-warning: rgb(var(--yellow-primary));
  --alert-error: rgb(var(--red-primary));

  //Menu select
  --menu-select-surface-activated: rgb(var(--green-tecmi-800));
  --menu-select-label-menu-active: rgb(var(--gray-tecmi-50));
  --menu-select-label-menu-inactive: rgb(var(--gray-tecmi-50));
  --menu-select-activated-w-checkbox: rgb(var(--gray-tecmi-900));
  --menu-select-alternative-focus-label: rgb(var(--green-tecmi-400));

  //Menu select - On surface
  --menu-select-on-surface-hovered-w-checkbox: rgb(var(--green-tecmi-950));
  --menu-select-on-surface-hovered: rgb(var(--gray-tecmi-500));

  //Tecmilenio
  --tecmi-green: rgb(17, 152, 129); // #119881
  --tecmi-green-2: rgb(0, 156, 130); // #009C82

  // Semantic colors
  --semantic-success: rgb(var(--success-tint-alternative));
  --semantic-info-event: rgb(var(--purple-tint));
  --semantic-warning: rgb(var(--warning-tint));
  --semantic-error: rgb(var(--error-light));
  --semantic-brand: rgb(var(--branding-tint));
  --semantic-alert: rgb(var(--alert-light));
  --semantic-neutral: rgb(var(--gray-tecmi-200));

  // Creative use
  --creative-use-violet: rgb(var(--violet-tint));
  --creative-use-indigo: rgb(var(--indigo-tint));
  --creative-use-emerald: rgb(var(--emerald-tint));
  --creative-use-licorice: rgb(var(--licorice-tint));
  --creative-use-dark-teal: rgb(var(--dark-teal-tint));
  --creative-use-peach: rgb(var(--peach-tint));
  --creative-use-sepia: rgb(var(--sepia-tint));
  --creative-use-soft-red: rgb(var(--soft-red-tint));
  --creative-use-wattle: rgb(var(--wattle-tint));
  --creative-use-ship-cove: rgb(var(--ship-cove-tint));
  --creative-use-plantation: rgb(var(--plantation-tint));
  --creative-use-rum: rgb(var(--rum-tint));
  --creative-use-ripe-lemon: rgb(var(--ripe-lemon-tint));
  --creative-use-hibiscus: rgb(var(--hibiscus-tint));

  // Switch box variables - this variables are only for development purposes
  --buttons-active-switch-box-shadow-hover: rgba(var(--green-light), 0.15);
  --buttons-active-switch-box-shadow-focus: rgba(var(--green-light), 0.25);
  --buttons-inactive-switch-box-shadow-hover: rgba(
    var(--gray-charade-500),
    0.15
  );
  --buttons-inactive-switch-box-shadow-focus: rgba(
    var(--gray-charade-500),
    0.25
  );

  @include mc.fixed-names;
}
