@use '../../styles/playground';

@include playground.page;

.playground {
  align-items: start;
}

.controls {
  max-height: 90vh;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.preview {
  align-items: safe center;
  display: flex;
  height: 90vh;
  justify-content: safe center;
  max-height: 90vh;
  overflow: auto;
  position: sticky;
  scrollbar-gutter: stable;
  top: 0;
}

.preview bmb-date-range {
  display: block;
  max-width: 100%;
  width: 100%;
}

@media (max-width: 700px) {
  .preview {
    height: min(32rem, 90vh);
    position: relative;
  }
}
