@use "rem" as rem;

$colors:
  general_contrasts-150, general_contrasts-100, general_contrasts-75,
  general_contrasts-50, general_contrasts-25, general_contrasts-20,
  general_contrasts-15, general_contrasts-5, inherit;
$size: 1, 2;
$type: solid, dashed, dotted;

:root {
  @each $color in $colors {
    @each $size in $size {
      @each $type in $type {
        @if $color == inherit {
          --bmb-border-#{$color}-#{$size}-#{$type}: #{rem.rem_calc($size)}
            #{$type}
            currentColor;
        } @else {
          --bmb-border-#{$color}-#{$size}-#{$type}: #{rem.rem_calc($size)}
            #{$type}
            var(--#{$color});
        }
      }
    }
  }
}
