
$creative_use_colors: (
  'creative-use-violet': var(--creative-use-violet),
  'creative-use-indigo': var(--creative-use-indigo),
  'creative-use-emerald': var(--creative-use-emerald),
  'creative-use-licorice': var(--creative-use-licorice),
  'creative-use-dark-teal': var(--creative-use-dark-teal),
  'creative-use-peach': var(--creative-use-peach),
  'creative-use-sepia': var(--creative-use-sepia),
  'creative-use-soft-red': var(--creative-use-soft-red),
  'creative-use-wattle': var(--creative-use-wattle),
  'creative-use-ship-cove': var(--creative-use-ship-cove),
  'creative-use-plantation': var(--creative-use-plantation),
  'creative-use-rum': var(--creative-use-rum),
  'creative-use-ripe-lemon': var(--creative-use-ripe-lemon),
  'creative-use-hibiscus': var(--creative-use-hibiscus),
);
$semantic_colors: (
  'semantic-success': var(--semantic-success),
  'semantic-info-event': var(--semantic-info-event),
  'semantic-warning': var(--semantic-warning),
  'semantic-error': var(--semantic-error),
  'semantic-brand': var(--semantic-brand),
  'semantic-alert': var(--semantic-alert),
  'semantic-neutral': var(--semantic-neutral),
);
$mitec_institutional_colors: (
  'mitec-blue': var(--mitec-blue),
  'mitec-red': var(--mitec-red),
  'mitec-green': var(--mitec-green),
  'mitec-orange': var(--mitec-orange),
  'mitec-purple': var(--mitec-purple),
);
$bmb_push_notification_type: (
  'creative-use-violet': var(--creative-use-violet),
  'creative-use-indigo': var(--creative-use-indigo),
  'creative-use-emerald': var(--creative-use-emerald),
  'creative-use-licorice': var(--creative-use-licorice),
  'creative-use-dark-teal': var(--creative-use-dark-teal),
  'creative-use-peach': var(--creative-use-peach),
  'creative-use-sepia': var(--creative-use-sepia),
  'creative-use-soft-red': var(--creative-use-soft-red),
  'creative-use-wattle': var(--creative-use-wattle),
  'creative-use-ship-cove': var(--creative-use-ship-cove),
  'creative-use-plantation': var(--creative-use-plantation),
  'creative-use-rum': var(--creative-use-rum),
  'creative-use-ripe-lemon': var(--creative-use-ripe-lemon),
  'creative-use-hibiscus': var(--creative-use-hibiscus),
  'semantic-success': var(--semantic-success),
  'semantic-info-event': var(--semantic-info-event),
  'semantic-warning': var(--semantic-warning),
  'semantic-error': var(--semantic-error),
  'semantic-brand': var(--semantic-brand),
  'semantic-alert': var(--semantic-alert),
  'semantic-neutral': var(--semantic-neutral),
  'mitec-blue': var(--mitec-blue),
  'mitec-red': var(--mitec-red),
  'mitec-green': var(--mitec-green),
  'mitec-orange': var(--mitec-orange),
  'mitec-purple': var(--mitec-purple),
  'black-primary': var(--black-primary),
  'neon-primary': var(--neon-primary),
);
