@import "rem";

// Border Radius variables
$border-radius-xs: rem_calc(4);
$border-radius-sm: rem_calc(8);
$border-radius-md: rem_calc(12);
$border-radius-lg: rem_calc(24);

// Border size variables
$border-size-sm: rem_calc(1);
$border-size-lg: rem_calc(2);

// Spacing sizes variables
$spacing-size-sm: rem_calc(4);
$spacing-size-md: rem_calc(8);
$spacing-size-base: rem_calc(16);
$spacing-size-lg: rem_calc(24);
$spacing-size-xl: rem_calc(32);
$spacing-size-xxl: rem_calc(40);
$spacing-size-xxxl: rem_calc(64);
$spacing-size-xxxxl: rem_calc(96);
