@use "fonts" as fonts;
@use "rem" as rem;

// Media query
@mixin media-query($breakpoint, $condition) {
  $breakpoint-value: if(
    type-of($breakpoint) == number,
    $breakpoint,
    str-slice($breakpoint, 1, -2)
  );
  @media (#{$condition}-width: #{$breakpoint-value}px) {
    @content;
  }
}

@mixin container-query($breakpoint, $condition) {
  /*
  Add this property to parent style:
    container-type: inline-size;
  */
  @container (#{$condition}-width: #{$breakpoint}px) {
    @content;
  }
}

// Reset Element
@mixin resetElement() {
  box-sizing: border-box;
  line-height: 1.5;

  &:focus {
    @include focusElement();
  }
}

// Focus for button and input
@mixin focusElement($inset: outset) {
  outline: 0;
}

// Button styles
@mixin button($appearance: primary) {
  @if $appearance == primary {
    background-color: var(--buttons-primary-normal);
    color: var(--white-primary);

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
      background-color: var(--buttons-primary-hover);
      box-shadow: 0 0 rem.rem_calc(2) var(--azul-mariner-500);
    }

    &:active:not(:disabled),
    &.bmb_btn-toggle-active {
      background-color: var(--buttons-primary-select);
      box-shadow: 0 0 rem.rem_calc(20) var(--azul-mariner-500);
    }

    bmb-icon {
      color: var(--white-primary);
    }
  } @else if $appearance == secondary-filled {
    background-color: var(--buttons-alternative-normal);
    color: var(--buttons-alternative-text);

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
      background-color: var(--gris-charade-300);
      color: var(--gris-charade-700);
      box-shadow: 0px 0px rem.rem_calc(5) var(--gris-charade-500);
    }

    &:active:not(:disabled),
    &.bmb_btn-toggle-active {
      background-color: var(--gris-charade-500);
      box-shadow: 0 0 rem.rem_calc(25) var(--gris-charade-500);
      color: var(--gris-charade-50);

      bmb-icon {
        color: var(--gris-charade-50);
      }
    }

    bmb-icon {
      color: var(--buttons-alternative-text);
    }
  } @else if $appearance == secondary-outlined {
    background-color: transparent;
    border: rem.rem_calc(1) solid var(--general_contrasts-100);
    color: var(--general_contrasts-100);
    padding: rem.rem_calc(11 15);

    @include media-query(1000, "min") {
      padding: rem.rem_calc(7 39);
    }

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
      border-width: rem.rem_calc(2);
      padding: rem.rem_calc(10 14);
      box-shadow:
        0px 0px rem.rem_calc(5) var(--gris-charade-500),
        inset 0px 0px rem.rem_calc(5) var(--gris-charade-500);
      text-shadow: 0px 0px rem.rem_calc(5) var(--gris-charade-500);

      @include media-query(1000, "min") {
        padding: rem.rem_calc(6 38);
      }
    }

    &:active:not(:disabled),
    &.bmb_btn-toggle-active {
      border: rem.rem_calc(2) solid var(--general_contrasts-input-background);
      box-shadow: 0px 0px rem.rem_calc(25) var(--gris-charade-500);
      text-shadow: none;
      padding: rem.rem_calc(10 14);
      color: var(--general_contrasts-5);
      background-color: var(--general_contrasts-100);

      @include media-query(1000, "min") {
        padding: rem.rem_calc(6 38);
      }

      bmb-icon {
        color: var(--general_contrasts-5);
      }
    }

    bmb-icon {
      color: var(--general_contrasts-100);
    }
  } @else if $appearance == destructive {
    background-color: transparent;
    border: rem.rem_calc(1) solid var(--red-primary);
    color: var(--red-primary);
    padding: rem.rem_calc(11 15);

    @include media-query(1000, "min") {
      padding: rem.rem_calc(7 39);
    }

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
      border-width: rem.rem_calc(2);
      padding: rem.rem_calc(10 14);

      @include media-query(1000, "min") {
        padding: rem.rem_calc(6 38);
      }
    }

    &:active:not(:disabled),
    &.bmb_btn-toggle-active {
      box-shadow: 0 0 rem.rem_calc(20) var(--red-primary);
      background-color: var(--red-primary);
      color: var(--white-primary);
      padding: rem.rem_calc(10 14);
      border-width: rem.rem_calc(2);

      @include media-query(1000, "min") {
        padding: rem.rem_calc(6 38);
      }

      bmb-icon {
        color: var(--white-primary);
      }
    }

    bmb-icon {
      color: var(--red-primary);
    }
  } @else if $appearance == transparent {
    background-color: transparent;
    padding: 0 rem.rem_calc(10);

    &:disabled {
      opacity: 0.5;
    }
  }
}

@mixin fabContent() {
  align-items: center;
  border: 0;
  @include fonts.font(4, regular);
  display: flex;
  justify-content: center;
  margin: rem.rem_calc(3);
  outline: none;
  padding: var(--bmb-spacing-s) var(--bmb-spacing-m);
}

@mixin fabSize($size: small, $type: normal) {
  @if $size == small and $type == normal {
    border-radius: rem.rem_calc(50);
    height: rem.rem_calc(40);
    width: rem.rem_calc(40);
  } @else if $size == small and $type == extended {
    border-radius: rem.rem_calc(50);
    height: rem.rem_calc(40);
    width: fit-content;
    > span {
      padding-right: rem.rem_calc(8);
    }
  } @else if $size == large and $type == normal {
    border-radius: rem.rem_calc(50);
    height: rem.rem_calc(60);
    width: rem.rem_calc(60);
  } @else if $size == large and $type == extended {
    border-radius: rem.rem_calc(50);
    height: rem.rem_calc(60);
    width: fit-content;
    > span {
      padding-right: rem.rem_calc(8);
    }
  }
}

@mixin fabInput() {
  @include fabContent();
  bottom: rem.rem_calc(10);
  position: fixed;
  right: rem.rem_calc(10);
  z-index: 2;
  background-color: var(--general_contrasts-main-selection);
  box-shadow: var(--drop_shadow-color-test-shadow);
  color: var(--general_contrasts-main-complimentary);

  &:focus,
  &:focus-visible {
    background-color: var(--general_contrasts-25);
    border: rem.rem_calc(1) solid var(--general_contrasts-main-selection);
    color: var(--general_contrasts-main-selection);
  }

  &:hover {
    background-color: var(--general_contrasts-50);
    color: var(--general_contrasts-main-complimentary);
  }

  &:active {
    background-color: var(--general_contrasts-input-background);
    border: rem.rem_calc(1) solid var(--general_contrasts-main-selection);

    > span {
      color: var(--general_contrasts-main-selection);
    }

    > bmb-icon {
      color: var(--general_contrasts-main-selection);
    }
  }
}

@mixin shadow_mark($height, $width, $left) {
  content: "";
  height: rem.rem_calc($height);
  width: rem.rem_calc($width);
  border-radius: 50%;
  opacity: 0.1;
  background-color: var(--radio-checked-shadow);
  position: absolute;
  z-index: -1;
  display: block;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: rem.rem_calc($left);
}

@mixin mark_position($height, $width, $top) {
  height: rem.rem_calc($height);
  width: rem.rem_calc($width);
  display: block;
  margin: auto;
  top: rem.rem_calc($top);
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin error_input() {
  border-color: var(--input-error);
}

@mixin truncated_string($max-block-size, $line-clamp) {
  display: -webkit-box;
  max-block-size: rem.rem_calc($max-block-size);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-clamp;
  line-clamp: $line-clamp;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
