$global-font-size: 16px;

@function strip-unit($num) {
  $divisor: ($num * 0 + 1);

  @return calc($num / $divisor);
}

@function -btsp-to-rem($value, $base: null) {
  @if type-of($value) != "number" {
    @warn inspect($value) + ' was passed to rem_calc(), which is not a number.';

    @return $value;
  }

  @if unit($value) != "rem" {
    $value: calc(strip-unit($value) / strip-unit($base)) * 1rem;
  }

  @if $value == 0rem {
    $value: 0;
  }

  @return $value;
}

@function rem_calc($values, $base: null) {
  $rem-values: ();
  $count: length($values);

  @if $base == null {
    $base: $global-font-size;
  }

  @if unit($base) == "%" {
    $base: ($base / 100%) * 10px;
  }

  @if $count == 1 {
    @return -btsp-to-rem($values, $base);
  }

  @for $i from 1 through $count {
    $rem-values: append($rem-values, -btsp-to-rem(nth($values, $i), $base));
  }

  @return $rem-values;
}
