@use "../base/mixins" as mixins;
@use "../base/fonts" as fonts;
@use "./rem" as rem;

* {
  box-sizing: border-box;
  font-family: var(--font-display);
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--general_contrasts-15);
  font-family: var(--font-display);
  font-size: rem.rem_calc(16);
  font-weight: 400;
  height: 100dvh;
  margin: 0;
  padding: 0;
  color: var(--general_contrasts-100);
}

p {
  line-height: 1.25;
  margin-block-end: rem.rem_calc(16);
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--font-display);
  padding: 0;
}

textarea {
  font-family: var(--font-display);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

bmb-icon {
  display: inline-flex;
}

ion-content {
  background-color: transparent;
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 80dvw !important;
}
