@use "../base/mixins" as mixins;

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: RGBA(var(--color-charade-950));
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.25;
  margin-block-end: 1em;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

bmb-icon {
  display: inline-flex;
}

.material-icons {
  @include mixins.materialIcons();
}

.material-symbols-outlined {
  @include mixins.materialSymbols();
}

storybook-toast-wrapper {
  ~ .actions {
    display: none;
  }
}

.storybook-colors-playground {
  display: flex;
  gap: 10px;

  > div {
    height: 50px;
    width: 200px;
  }
}

#anchor--macro-componentes-sidebar--default,
#anchor--micro-componentes-toast--default,
#anchor--micro-componentes-drawer-overlay--default {
  #story--macro-componentes-sidebar--default--primary-inner,
  #story--micro-componentes-toast--default--primary-inner,
  #story--micro-componentes-drawer-overlay--default--primary {
    height: 600px;
  }
}

#anchor--micro-componentes-breadcrumb--default {
  #story--micro-componentes-breadcrumb--default--primary-inner {
    height: 300px;
  }
}
#anchor--macro-componentes-sidebar--default,
#anchor--macro-componentes-wheel-menu--default {
  #story--macro-componentes-sidebar--default--primary-inner,
  #story--macro-componentes-wheel-menu--default--primary-inner {
    height: 800px;
  }
}

ion-content {
  background-color: transparent;
}
