@use "./rem" as rem;

$sizes: (
  "none": 0,
  "xxs": rem.rem_calc(2),
  "xs": rem.rem_calc(4),
  "s": rem.rem_calc(8),
  "m": rem.rem_calc(16),
  "l": rem.rem_calc(24),
  "xl": rem.rem_calc(32),
  "xxl": rem.rem_calc(64),
  "auto": auto,
);

@each $name, $size in $sizes {
  .bmb_padding-#{$name} {
    padding: $size;
    --bmb-padding: #{$size};
  }
}

@each $name, $size in $sizes {
  .bmb_margin-#{$name} {
    margin: $size;
    --bmb-margin: #{$size};
  }
}

@each $name, $size in $sizes {
  .bmb_border-radius-#{$name} {
    border-radius: $size;
    --bmb-border-radius: #{$size};
  }
}
