@use 'rem' as rem;

@mixin base {
  display: inline-flex;
  line-height: rem.rem_calc(21);
  text-decoration: underline;
  cursor: pointer;
}

@mixin appearance {
  color: var(--buttons-text-link);
}

@mixin animation {
  ::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: rem.rem_calc(2);
    height: rem.rem_calc(1);
    background: currentColor;
    transform: scaleX(0);
    transition: transform 0.2s ease;
  }

  :hover::before {
    transform: scaleX(1);
  }

  // ::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: rem.rem_calc(2);
  //   height: rem.rem_calc(1);
  //   background: currentColor;
  //   transform: scaleX(0);
  //   transition: transform 0.2s ease;
  // }

  // :hover::after {
  //   transform: scaleX(1);
  // }
}
