$breakpoint_max_mobile: 1000; //px
$breakpoint_min_desktop: 1001; //px
$breakpoint_max_desktop: 1399; //px
$max_container_query_breakpoint: 695; //px
$min_container_query_breakpoint: 696; //px
$breakpoint_max_height_mobile: 650; //px
$breakpoint_min_xl: 1400; //px
