<header class="bmb_template-header">
  <h3>Home</h3>
  <h5>Welcome to BambooPress</h5>
</header>
<div
  style="height: calc(100% - 230px)"
  class="bmb_template-margin-for-sidebar;"
>
  <bmb-account-statement
    [progressCircleTitle]="['Total a pagar', 'este mes']"
    [labelPrimary]="'Cuota Mensual'"
    [labelSecondary]="'Pendiente'"
    [totalCount]="10000"
    [counter]="1000"
    [progressTitle]="'Total pagado'"
    [formatDates]="'yyyy-MM-dd'"
    [paymentDeadline]="'2024-10-20'"
    [cutOffDate]="'2024-10-01'"
    [paymentDeadlineLabel]="'Fecha límite de pago:'"
    [cutOffDateLabel]="'Fecha de corte:'"
    [payButtonLabel]="'Pagar'"
    [backButtonLabel]="'Regresar'"
    [modalTitle]="'Nombre de clase'"
    [modalSubtitle]="'TS-0001'"
    [modalRestLabel]="'Pagar restante'"
    [modalOtherAmountLabel]="'Otra cantidad'"
    [modalPrimaryButtonLabel]="'Pagar'"
    [errorMessage]="
      'Error, Este campo es requerido y debe ser una cantidad entre 1 y 9000'
    "
  ></bmb-account-statement>
</div>
