<div style="margin: 0 120px">
  <bmb-multi-dot-paginator componentTitle="Test title" subtitle="Test subtitle">
    <bmb-multi-dot-paginator-item>
      <section bmbVerticalLayout>
        <bmb-card
          borderRadius="m"
          margin="none"
          type="normal"
          boxShadowStyle="box-shadow-5"
          borderColor="default"
          bmbVerticalLayoutItem
        >
          <bmb-card-content>
            <div>Card</div>
          </bmb-card-content>
        </bmb-card>
        <bmb-card
          borderRadius="m"
          margin="none"
          type="normal"
          boxShadowStyle="box-shadow-5"
          borderColor="default"
          bmbVerticalLayoutItem
        >
          <bmb-card-content>
            <div>Card</div>
          </bmb-card-content>
        </bmb-card>
      </section>
    </bmb-multi-dot-paginator-item>
    <bmb-multi-dot-paginator-item>
      <bmb-card
        borderRadius="m"
        margin="m"
        type="normal"
        boxShadowStyle="box-shadow-5"
        borderColor="default"
      >
        <bmb-card-content>
          <div>Card</div>
        </bmb-card-content>
      </bmb-card>
    </bmb-multi-dot-paginator-item>
    <bmb-multi-dot-paginator-item>
      <bmb-card
        borderRadius="m"
        margin="m"
        type="normal"
        boxShadowStyle="box-shadow-5"
        borderColor="default"
      >
        <bmb-card-content>
          <div>Card</div>
        </bmb-card-content>
      </bmb-card>
    </bmb-multi-dot-paginator-item>
    <bmb-multi-dot-paginator-item>
      <bmb-card
        borderRadius="m"
        margin="m"
        type="normal"
        boxShadowStyle="box-shadow-5"
        borderColor="default"
      >
        <bmb-card-content>
          <div>Card</div>
        </bmb-card-content>
      </bmb-card>
    </bmb-multi-dot-paginator-item>
    <bmb-multi-dot-paginator-item
      >Custom component</bmb-multi-dot-paginator-item
    >
    <bmb-multi-dot-paginator-item>
      <bmb-card
        borderRadius="m"
        margin="m"
        type="normal"
        boxShadowStyle="box-shadow-5"
        borderColor="default"
      >
        <bmb-card-content>
          <div>Card</div>
        </bmb-card-content>
      </bmb-card>
    </bmb-multi-dot-paginator-item>
    <!-- Add more elements -->
  </bmb-multi-dot-paginator>
  <section bmbVerticalLayout>
    <bmb-card
      borderRadius="m"
      margin="m"
      type="normal"
      boxShadowStyle="box-shadow-5"
      borderColor="default"
      bmbVerticalLayoutItem
    >
      <bmb-card-content>
        <div>Card</div>
      </bmb-card-content>
    </bmb-card>
  </section>
</div>
