<bmb-profile
  [isLoading]="loadingState()"
  [isStudent]="false"
  [isMobile]="false"
  [enableVersionBack]="true"
  [versionBackText]="'Back to previous version'"
  [enableExpandButton]="false"
  [collaboratorData]="{
    userData: {
      name: 'Paloma Araujo',
      userImg: 'https://picsum.photos/id/64/200/300',
      registration: 'L0123456',
      email: 'mail@tec.mx'
    },
    position: 'Desarrollador de Software',
    area: 'Dirección de Desarrollo-Techvolution 2.0',
    leader: {
      userData: {
        name: 'Arturo González Martínez',
        userImg: 'https://picsum.photos/id/64/200/300',
        email: 'mail@tec.mx'
      },
      hierarchyLink: 'https://www.example.com',
      hierarchyTarget: '_blank'
    },
    generalist: {
      userData: {
        name: 'Ana María Gutiérrez Pineda',
        userImg: 'https://picsum.photos/id/64/200/300',
        email: 'mail@tec.mx'
      },
      hierarchyLink: 'https://www.example.com',
      hierarchyTarget: '_blank'
    }
  }"
></bmb-profile>
