<form bmbLayout [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <section bmbLayoutItem [colSm]="2">
    <bmb-input
      inputId="inputId"
      name="inputTest"
      label="Input"
      placeholder="Placeholder"
      icon="apps"
      tooltip="Tooltip example"
      [isClearable]="false"
      [isClearable]="true"
      [errorMessage]="{
        required: 'Please enter the required data',
        jsonFormat: 'Please enter content in valid JSON format',
        minLength: 'Please enter at least 4 characters',
        pattern: 'Please enter only letters'
      }"
      [disabled]="false"
      [isRequired]="true"
      (isFocus)="handleFocus($event)"
      (isBlur)="handleBlur($event)"
      (onChange)="handleChange($event)"
    />
  </section>
  <section bmbLayoutItem [colSm]="2">
    <bmb-input
      type="text"
      inputId="inputId"
      name="inputSimpleTest"
      appearance="simple"
      label="Simple input"
      placeholder="Placeholder"
      icon="apps"
      tooltip="Tooltip example"
      [isClearable]="false"
      [isClearable]="true"
      [errorMessage]="{
        required: 'Please enter the required data',
        jsonFormat: 'Please enter content in valid JSON format',
        minLength: 'Please enter at least 4 characters',
        pattern: 'Please enter only letters'
      }"
      [disabled]="false"
      [isRequired]="true"
      (isFocus)="handleFocus($event)"
      (isBlur)="handleBlur($event)"
      (onChange)="handleChange($event)"
    />
  </section>
  <button bmbButton appearance="primary" type="submit">Submit</button>
</form>
