<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <bmb-input-phone-number
    [control]="phoneControl"
    [disabled]="isPhoneDisabled"
    [isRequired]="false"
    [showError]="showErrors['phone']"
    [errorMessage]="'Error Phone'"
  ></bmb-input-phone-number>

  <bmb-input
    [label]="'Input Label'"
    [placeholder]="'Placeholder'"
    [icon]="'apps'"
    [errorMessage]="'Error'"
    [helperMessage]="'Helper Message'"
    [disabled]="false"
    [isRequired]="false"
    [appearance]="'normal'"
    [control]="nameControl"
    [showError]="showErrors['name']"
  ></bmb-input>

  <button bmbButton appearance="primary" type="submit">Button text</button>
</form>
