:root {
  // Gray charade
  --gray-charade-50: 246, 247, 249; // #F6F7F9
  --gray-charade-100: 235, 237, 243; // #EBEDF3
  --gray-charade-200: 211, 215, 228; // #D3D7E4
  --gray-charade-300: 173, 182, 204; // #ADB6CC
  --gray-charade-500: 97, 113, 150; // #617196
  --gray-charade-600: 77, 89, 124; // #4D597C
  --gray-charade-700: 63, 73, 101; // #3F4965
  --gray-charade-800: 55, 63, 85; // #373F55
  --gray-charade-900: 49, 54, 73; // #313649
  --gray-charade-950: 31, 34, 46; // #1F222E
  --success-tint: 67, 170, 139;
}
