<bmb-breadcrumb
  [dataTopBar]="dataTopBar"
  [dataLocalNav]="dataLocalNav"
  [isTopBar]="true"
></bmb-breadcrumb>
<!-- 
<div style="display: flex; gap: 3em">
  <a routerLink="inicio" class="font-bold-6">Inicio</a>
  <a routerLink="vivencia" class="font-bold-6">Vivencia</a>
</div>
<bmb-sidebar [elements]="sidebarElements" />

<div class="main-content">
  <router-outlet></router-outlet>
</div>

<bmb-drawer-overlay
  [menu]="menu"
  [title]="title"
  [dataSearch]="dataSearch"
  [tabs]="tabs"
  [appServices]="appServices"
></bmb-drawer-overlay> -->
