@use './../../mixinsColors' as mc;

:root,
[data-theme='light'],
.storybook-light-theme [data-brand='ged'] {
  /*GED*/
  // General Contrasts
  --general-contrasts: rgb(var(--black-primary));
  --general-contrasts-100: rgb(var(--gray-ged-950));
  --general-contrasts-90: rgb(var(--gray-ged-500));
  --general-contrasts-80: rgb(var(--gray-ged-800));
  --general-contrasts-75: rgb(var(--gray-ged-700));
  --general-contrasts-60: rgb(var(--gray-ged-900));
  --general-contrasts-50: rgb(var(--gray-ged-500));
  --general-contrasts-25: rgb(var(--gray-ged-300));
  --general-contrasts-20: rgb(var(--gray-ged-200));
  --general-contrasts-15: rgb(var(--gray-ged-200));
  --general-contrasts-5: rgb(var(--gray-ged-50));

  --general-contrasts-main-complimentary: rgb(var(--gray-ged-50));
  --general-contrasts-main-selection: rgb(var(--black-primary));
  --general-contrasts-icon-selection: rgb(var(--blue-primary));
  --general-contrasts-main-selection-alternative: rgb(var(--green-primary));

  --general-contrasts-input-background: rgb(var(--gray-ged-100));
  --general-contrasts-input-outline: rgb(var(--gray-ged-950));
  --general-contrasts-container-outline: rgb(var(--gray-ged-400));
  --general-contrasts-text-sidebar: rgb(var(--black-primary));
  --general-contrasts-primary: rgb(var(--blue-ged-800));

  --general-contrasts-inner-header-text: rgb(var(--black-primary));
  --general-contrasts-timestream-index-inner-header-text: rgb(
    var(--black-primary)
  );
  --general-contrasts-timestream-index-chevron-title-selector-text: rgb(
    var(--gray-ged-950)
  );

  // Containers
  --containers-background: rgb(var(--gray-ged-50));
  --containers-media-card-background: rgb(var(--gray-ged-950));
  --containers-main: rgb(var(--white-primary));
  --containers-header-mobile: rgb(var(--white-primary));
  --containers-modal: rgb(var(--gray-ged-50));
  --containers-container-button: rgb(var(--gray-ged-50));

  --containers-top-bar: rgb(var(--black-primary));
  --containers-background-fade: rgb(250, 250, 250); // #FAFAFA
  --containers-media-card-background-fade: rgb(26, 26, 26); // #1A1A1A
  --containers-timestream-index: rgb(var(--white-primary));
  --containers-timestream-index-chevron-title-selector: rgb(
    var(--gray-ged-300)
  );

  // Buttons
  --buttons-primary-normal: rgb(var(--gray-ged-950));
  --buttons-primary-hover: rgb(var(--gray-ged-50));
  --buttons-primary-select: rgb(var(--gray-ged-900));

  --buttons-alternative-normal: rgb(var(--white-primary));
  --buttons-alternative-hover: rgb(var(--gray-ged-800));
  --buttons-alternative-text: rgb(var(--gray-ged-950));
  --buttons-alternative-text-hover: rgb(var(--gray-ged-50));

  --buttons-primary-text: rgb(var(--white-primary));
  --buttons-fab-text: rgb(var(--black-primary));
  --buttons-active-switch: rgb(var(--blue-primary));
  --buttons-inactive-step: rgb(var(--gray-ged-400));

  --buttons-stroke-primary-selected: rgb(var(--blue-ged-900));
  --buttons-destructive: rgb(var(--red-primary));
  --buttons-text-link: rgb(var(--blue-mariner-700));

  // Menu (select)
  --menu-select-surface-activated: rgb(var(--black-primary));
  --menu-select-label-menu-active: rgb(var(--gray-ged-50));
  --menu-select-label-menu-inactive: rgb(var(--gray-ged-950));
  --menu-select-activated-w-checkbox: rgb(var(--gray-ged-800));
  --menu-select-alternative-focus-label: rgb(var(--blue-primary));

  //Menu select - On surface
  --menu-select-on-surface-hovered-w-checkbox: rgb(var(--gray-ged-200));
  --menu-select-on-surface-hovered: rgb(var(--blue-ged-100));

  //Tecmilenio
  --tecmi-green: rgb(var(--green-tecmi-800));
  --tecmi-green-2: rgb(17, 152, 129); // #119881

  // Semantic colors
  --semantic-success: rgb(var(--success-primary-alternative));
  --semantic-info-event: rgb(var(--purple-primary));
  --semantic-warning: rgb(var(--warning-primary-alternative));
  --semantic-error: rgb(var(--red-primary));
  --semantic-branding: rgb(var(--branding-primary));
  --semantic-alert: rgb(var(--alert-primary));
  --semantic-neutral: rgb(var(--blue-ged-300));

  // Creative use
  --creative-use-violet: rgb(var(--violet-light));
  --creative-use-indigo: rgb(var(--indigo-primary));
  --creative-use-emerald: rgb(var(--emerald-primary));
  --creative-use-licorice: rgb(var(--licorice-light));
  --creative-use-dark-teal: rgb(var(--dark-teal-primary));
  --creative-use-peach: rgb(var(--peach-light));
  --creative-use-sepia: rgb(var(--sepia-primary));
  --creative-use-soft-red: rgb(var(--soft-red-light));
  --creative-use-wattle: rgb(var(--wattle-primary-alternative));
  --creative-use-ship-cove: rgb(var(--ship-cove-light));
  --creative-use-plantation: rgb(var(--plantation-primary));
  --creative-use-rum: rgb(var(--rum-primary));
  --creative-use-ripe-lemon: rgb(var(--ripe-lemon-primary-alternative));
  --creative-use-hibiscus: rgb(var(--hibiscus-primary));

  //Containers backgrounds (gradients)
  --media-card-gradient-default: var(--containers-media-card-background-fade)
      33.5%,
    var(--containers-media-card-background) 81.33%;
  --media-card-gradient-hover: var(--black-min) 0%, var(--black-min) 100%;
  --media-card-gradient-select: var(--black-min) 0%, var(--black-min) 100%;

  //Complementary backgrounds (gradients)
  --gradient-bg-tec: rgb(var(--blue-ged-50)) 56.25%,
    rgb(var(--blue-ged-100)) 100%;

  // variables for buttons
  --buttons-primary-border-hover: var(--buttons-primary-normal);
  --buttons-primary-text-hover: var(--buttons-primary-normal);
  --buttons-primary-border-active: var(--buttons-primary-select);
  --buttons-card-hover-background: var(--buttons-primary-hover);
  --buttons-card-hover-text: var(--general-contrasts-100);
  --bmb-evaluation-rubric-radius-circle: 0;
  --bmb-calendar-button-selected-background: var(--general-contrasts-5);

  // variables for containers
  --bmb-dot-paginator-dot: rgb(var(--gray-ged-500));

  /*GED*/
  @include mc.fixed-names;
}

[data-theme='dark'],
.storybook-dark-theme [data-brand='ged'] {
  // General Contrasts
  --general-contrasts: rgb(var(--white-primary));
  --general-contrasts-100: rgb(var(--gray-ged-50));
  --general-contrasts-90: rgb(var(--gray-ged-400));
  --general-contrasts-80: rgb(var(--gray-ged-300));
  --general-contrasts-75: rgb(var(--gray-ged-300));
  --general-contrasts-60: rgb(var(--gray-ged-300));
  --general-contrasts-50: rgb(var(--gray-ged-500));
  --general-contrasts-25: rgb(var(--gray-ged-700));
  --general-contrasts-20: rgb(var(--gray-ged-700));
  --general-contrasts-15: rgb(var(--gray-ged-800));
  --general-contrasts-5: rgb(var(--gray-ged-900));

  --general-contrasts-main-complimentary: rgb(var(--gray-ged-50));
  --general-contrasts-main-selection: rgb(var(--white-primary));
  --general-contrasts-icon-selection: rgb(var(--blue-primary));
  --general-contrasts-main-selection-alternative: rgb(var(--green-light));

  --general-contrasts-input-background: var(--black-tint);
  --general-contrasts-input-outline: rgb(var(--gray-ged-50));
  --general-contrasts-container-outline: rgb(var(--gray-ged-800));
  --general-contrasts-text-sidebar: rgb(var(--white-primary));
  --general-contrasts-primary: rgb(var(--blue-ged-300));

  --general-contrasts-inner-header-text: rgb(var(--white-primary));
  --general-contrasts-timestream-index-inner-header-text: rgb(
    var(--white-primary)
  );
  --general-contrasts-timestream-index-chevron-title-selector-text: rgb(
    var(--gray-ged-50)
  );

  // Containers
  --containers-background: rgb(var(--gray-ged-950));
  --containers-media-card-background: rgb(var(--gray-ged-950));
  --containers-main: rgb(var(--gray-ged-900));
  --containers-header-mobile: rgb(var(--gray-ged-900));
  --containers-modal: rgb(var(--gray-ged-950));
  --containers-container-button: rgb(var(--gray-ged-900));

  --containers-top-bar: rgb(var(--black-primary));
  --containers-background-fade: rgb(26, 26, 26); // #1A1A1A
  --containers-media-card-background-fade: rgb(26, 26, 26); // #1A1A1A
  --containers-timestream-index: rgb(var(--gray-ged-900));
  --containers-timestream-index-chevron-title-selector: rgb(
    var(--gray-ged-700)
  );

  // Buttons
  --buttons-primary-normal: rgb(var(--gray-ged-50));
  --buttons-primary-hover: rgb(var(--black-primary));
  --buttons-primary-select: rgb(var(--gray-ged-200));

  --buttons-alternative-normal: rgb(var(--black-primary));
  --buttons-alternative-hover: rgb(var(--gray-ged-200));
  --buttons-alternative-text: rgb(var(--gray-ged-50));
  --buttons-alternative-text-hover: rgb(var(--gray-ged-950));

  --buttons-primary-text: rgb(var(--black-primary));
  --buttons-fab-text: rgb(var(--white-primary));
  --buttons-active-switch: rgb(var(--blue-mariner-500));
  --buttons-inactive-step: rgb(var(--gray-ged-700));

  --buttons-stroke-primary-selected: rgb(var(--blue-ged-400));
  --buttons-destructive: rgb(var(--red-light));
  --buttons-text-link: rgb(var(--white-primary));

  //Menu (select)
  --menu-select-surface-activated: rgb(var(--black-primary));
  --menu-select-label-menu-active: rgb(var(--gray-ged-50));
  --menu-select-label-menu-inactive: rgb(var(--gray-ged-50));
  --menu-select-activated-w-checkbox: rgb(var(--gray-ged-950));
  --menu-select-alternative-focus-label: rgb(var(--blue-light));

  //Menu select - On surface
  --menu-select-on-surface-hovered-w-checkbox: var(--black-tint);
  --menu-select-on-surface-hovered: rgb(var(--gray-ged-600));

  //Tecmilenio
  --tecmi-green: rgb(17, 152, 129); // #119881
  --tecmi-green-2: rgb(17, 152, 129); // #119881

  // Semantic colors
  --semantic-success: rgb(var(--success-tint-alternative));
  --semantic-info-event: rgb(var(--purple-tint));
  --semantic-warning: rgb(var(--yellow-primary));
  --semantic-error: rgb(var(--red-light));
  --semantic-branding: rgb(var(--branding-tint));
  --semantic-alert: rgb(var(--alert-light));
  --semantic-neutral: rgb(var(--gray-ged-200));

  // Creative use
  --creative-use-violet: rgb(var(--violet-tint));
  --creative-use-indigo: rgb(var(--indigo-tint));
  --creative-use-emerald: rgb(var(--emerald-tint));
  --creative-use-licorice: rgb(var(--licorice-tint));
  --creative-use-dark-teal: rgb(var(--dark-teal-tint));
  --creative-use-peach: rgb(var(--peach-tint));
  --creative-use-sepia: rgb(var(--sepia-tint));
  --creative-use-soft-red: rgb(var(--soft-red-tint));
  --creative-use-wattle: rgb(var(--wattle-tint));
  --creative-use-ship-cove: rgb(var(--ship-cove-tint));
  --creative-use-plantation: rgb(var(--plantation-tint));
  --creative-use-rum: rgb(var(--rum-tint));
  --creative-use-ripe-lemon: rgb(var(--ripe-lemon-tint));
  --creative-use-hibiscus: rgb(var(--hibiscus-tint));

  //Containers backgrounds (gradients)
  --media-card-gradient-hover: var(--containers-media-card-background-fade)
      33.5%,
    var(--containers-media-card-background) 81.33%;
  --media-card-gradient-select: var(--containers-media-card-background-fade)
      33.5%,
    var(--containers-media-card-background) 81.33%;

  //Complementary backgrounds (gradients)
  --gradient-bg-tec: rgb(var(--gray-ged-950)) 56.25%,
    rgb(var(--gray-ged-900)) 100%;

  // variables for buttons
  --buttons-primary-border-hover: var(--buttons-primary-normal);
  --buttons-primary-text-hover: var(--buttons-primary-normal);
  --buttons-primary-border-active: var(--buttons-primary-select);
  --buttons-card-hover-background: var(--buttons-primary-hover);
  --buttons-card-hover-text: var(--general-contrasts-100);
  --bmb-evaluation-rubric-radius-circle: 0;
  --bmb-calendar-button-selected-background: var(--general-contrasts-5);

  // variables for containers
  --bmb-dot-paginator-dot: rgb(var(--gray-ged-500));

  @include mc.fixed-names;
}
