<div style="margin-left: 200px; padding-right: 1rem; padding-top: 1rem">
  <section
    bmbLayout
    gapSize="m"
    margin="m"
    [dynamicCols]="false"
    justify="start"
    alignItems="start"
  >
    <bmb-sounds-card
      [title]="'Tec Sounds Radio'"
      [subtitle]="'98.76 FM'"
      [ratio]="'8/9'"
      bmbLayoutItem
      margin="none"
      [colSm]="2"
      [colLg]="4"
    ></bmb-sounds-card>
    <bmb-sounds-card
      [title]="'Tec Sounds Radio'"
      [subtitle]="'98.76 FM'"
      [ratio]="'8/9'"
      bmbLayoutItem
      margin="none"
      [colSm]="2"
      [colLg]="4"
    ></bmb-sounds-card>
    <bmb-sounds-card
      [title]="'Tec Sounds Radio'"
      [subtitle]="'98.76 FM'"
      [ratio]="'8/9'"
      bmbLayoutItem
      margin="none"
      [colSm]="2"
      [colLg]="4"
    ></bmb-sounds-card>
    <bmb-sounds-card
      [title]="'Tec Sounds Radio'"
      [subtitle]="'98.76 FM'"
      bmbLayoutItem
      margin="none"
      [colSm]="2"
      [colLg]="12"
    ></bmb-sounds-card>
  </section>
</div>
