<header class="bmb_template-header">
  <h3>Home</h3>
</header>

<div class="bmb_template-margin-for-sidebar">
  <section bmbLayout margin="none" gapSize="m">
    <section bmbLayoutItem [colSm]="4" [colLg]="6">
      <bmb-accordion
        #accordionComponents
        borderRadius="m"
        margin="none"
        paddingHeader="m"
        paddingContent="m"
        icon="keyboard_arrow_down"
      >
        <ng-template #bmbAccordionHeader>
          <h2>COMPONENTS</h2>
        </ng-template>
        <ng-template #bmbAccordionContent>
          <section bmbVerticalLayout>
            <bmb-accordion
              borderRadius="m"
              margin="none"
              paddingHeader="m"
              paddingContent="m"
              icon="keyboard_arrow_down"
              bmbVerticalLayoutItem
              [rowGrow]="1"
            >
              <ng-template #bmbAccordionHeader>
                <h2>Buttons</h2>
              </ng-template>
              <ng-template #bmbAccordionContent>
                <bmb-action-menu #actionMenuButtons [showHeader]="false">
                  <ng-template #actionMenuItem>
                    <bmb-item-hyperlink
                      icon="bookmark"
                      label="Bookmark test"
                      value="page"
                      valueLink="/pages/bookmark"
                    />
                  </ng-template>
                  <ng-template #actionMenuItem>
                    <bmb-item-hyperlink
                      icon="smart_button"
                      label="Card button test"
                      value="page"
                      valueLink="/card-button"
                    />
                  </ng-template>
                  <ng-template #actionMenuItem>
                    <bmb-item-hyperlink
                      icon="mode_standby"
                      label="Fab test"
                      value="page"
                      valueLink="/pages/fab"
                    />
                  </ng-template>
                </bmb-action-menu>
              </ng-template>
            </bmb-accordion>
            <bmb-accordion
              borderRadius="m"
              margin="none"
              paddingHeader="m"
              paddingContent="m"
              icon="keyboard_arrow_down"
              bmbVerticalLayoutItem
              [rowGrow]="1"
            >
              <ng-template #bmbAccordionHeader>
                <h2>Containers</h2>
              </ng-template>
              <ng-template #bmbAccordionContent>
                <bmb-action-menu #actionMenuContainers [showHeader]="false">
                  <ng-template #actionMenuItem>
                    <bmb-item-hyperlink
                      icon="chat"
                      label="AI Chat bubble"
                      value="page"
                      valueLink="/pages/ai-chat-bubble"
                    />
                  </ng-template>
                  <ng-template #actionMenuItem>
                    <bmb-item-hyperlink
                      icon="forum"
                      label="AI Chat card"
                      value="page"
                      valueLink="/pages/ai-chat-card"
                    />
                  </ng-template>
                  <ng-template #actionMenuItem>
                    <bmb-item-hyperlink
                      icon="badge"
                      label="Generic card"
                      value="page"
                      valueLink="/pages/card"
                    />
                  </ng-template>
                </bmb-action-menu>
              </ng-template>
            </bmb-accordion>
            <bmb-accordion
              borderRadius="m"
              margin="none"
              paddingHeader="m"
              paddingContent="m"
              icon="keyboard_arrow_down"
              bmbVerticalLayoutItem
              [rowGrow]="1"
            >
              <ng-template #bmbAccordionHeader>
                <h2>Images</h2>
              </ng-template>
              <ng-template #bmbAccordionContent>
                <bmb-action-menu [showHeader]="false">
                  <ng-template #actionMenuItem>
                    <bmb-item-hyperlink
                      icon="info"
                      label="Test"
                      value="page"
                      valueLink="/home"
                    />
                  </ng-template>
                </bmb-action-menu>
              </ng-template>
            </bmb-accordion>
            <bmb-accordion
              borderRadius="m"
              margin="none"
              paddingHeader="m"
              paddingContent="m"
              icon="keyboard_arrow_down"
              bmbVerticalLayoutItem
              [rowGrow]="1"
            >
              <ng-template #bmbAccordionHeader>
                <h2>Inputs</h2>
              </ng-template>
              <ng-template #bmbAccordionContent>
                <bmb-action-menu [showHeader]="false">
                  <ng-template #actionMenuItem>
                    <bmb-item-hyperlink
                      icon="info"
                      label="Test"
                      value="page"
                      valueLink="/home"
                    />
                  </ng-template>
                </bmb-action-menu>
              </ng-template>
            </bmb-accordion>
            <bmb-accordion
              borderRadius="m"
              margin="none"
              paddingHeader="m"
              paddingContent="m"
              icon="keyboard_arrow_down"
              bmbVerticalLayoutItem
              [rowGrow]="1"
            >
              <ng-template #bmbAccordionHeader>
                <h2>Menus</h2>
              </ng-template>
              <ng-template #bmbAccordionContent>
                <bmb-action-menu [showHeader]="false">
                  <ng-template #actionMenuItem>
                    <bmb-item-hyperlink
                      icon="info"
                      label="Test"
                      value="page"
                      valueLink="/home"
                    />
                  </ng-template>
                </bmb-action-menu>
              </ng-template>
            </bmb-accordion>
            <bmb-accordion
              borderRadius="m"
              margin="none"
              paddingHeader="m"
              paddingContent="m"
              icon="keyboard_arrow_down"
              bmbVerticalLayoutItem
              [rowGrow]="1"
            >
              <ng-template #bmbAccordionHeader>
                <h2>Status indicators</h2>
              </ng-template>
              <ng-template #bmbAccordionContent>
                <bmb-action-menu [showHeader]="false">
                  <ng-template #actionMenuItem>
                    <bmb-item-hyperlink
                      icon="info"
                      label="Test"
                      value="page"
                      valueLink="/home"
                    />
                  </ng-template>
                </bmb-action-menu>
              </ng-template>
            </bmb-accordion>
            <bmb-accordion
              borderRadius="m"
              margin="none"
              paddingHeader="m"
              paddingContent="m"
              icon="keyboard_arrow_down"
              bmbVerticalLayoutItem
              [rowGrow]="1"
            >
              <ng-template #bmbAccordionHeader>
                <h2>Visual labels</h2>
              </ng-template>
              <ng-template #bmbAccordionContent>
                <bmb-action-menu [showHeader]="false">
                  <ng-template #actionMenuItem>
                    <bmb-item-hyperlink
                      icon="info"
                      label="Test"
                      value="page"
                      valueLink="/home"
                    />
                  </ng-template>
                </bmb-action-menu>
              </ng-template>
            </bmb-accordion>
          </section>
        </ng-template>
      </bmb-accordion>
    </section>
    <section bmbLayoutItem [colSm]="4" [colLg]="6">
      <section bmbVerticalLayout>
        <section bmbVerticalLayoutItem [rowGrow]="1">
          <bmb-image
            [src]="
              'https://farm2.staticflickr.com/1919/45579541712_f58c1fd0ed_o.jpg'
            "
            [mobileSrc]="
              'https://2.bp.blogspot.com/-YkNDZEbKt_g/TYzcbF2_tkI/AAAAAAAAalk/Vt_MHS60Xv8/s1600/www.JoseLuisAvilaHerrera.BLOGSPOT.com%2B-%2BFunny%2BCats%2B-%2BGatitos%2Bmuy%2Btiernos%2B8.jpg'
            "
            [alt]="'Fruits'"
            [width]="'clamp(200px, 100%, calc(50dvw - 3rem))'"
            [ratio]="'1/1'"
            [borderRadius]="'m'"
            [loading]="'lazy'"
            [enableZoom]="false"
            [isBlurredBackdrop]="false"
            [images]="[
              {
                src: 'https://farm2.staticflickr.com/1919/45579541712_f58c1fd0ed_o.jpg',
                mobileSrc:
                  'https://2.bp.blogspot.com/-YkNDZEbKt_g/TYzcbF2_tkI/AAAAAAAAalk/Vt_MHS60Xv8/s1600/www.JoseLuisAvilaHerrera.BLOGSPOT.com%2B-%2BFunny%2BCats%2B-%2BGatitos%2Bmuy%2Btiernos%2B8.jpg',
                alt: 'Image 1',
              },
              {
                src: 'https://images.unsplash.com/photo-1546182990-dffeafbe841d',
                mobileSrc:
                  'https://images.unsplash.com/photo-1546182990-dffeafbe841d?auto=format&fit=crop&w=800&q=60',
                alt: 'Image 2',
              },
              {
                src: 'https://images.unsplash.com/photo-1507149833265-60c372daea22',
                alt: 'Image 3',
              },
            ]"
            (imageClick)="handleImageClick($event)"
          />
        </section>

        <bmb-home-card
          leftIcon="chevron_left"
          icon="account_balance_wallet"
          bgIconAppearance="green-light"
          title="Title"
          subtitle="Subtitle"
          [showRightButton]="true"
          (onExpandClick)="onExpandClick2()"
          [style.view-transition-name]="'homeCardTransition2'"
          [actionHeaders]="homeCardActions"
          bmbVerticalLayoutItem
          [rowGrow]="1"
        >
          <p>Content 2</p>
          <button bmbButton (click)="handleHelpButtonClick($event)">
            Help
          </button>
        </bmb-home-card>

        <bmb-home-card
          leftIcon="chevron_left"
          title="Title"
          [actionHeaders]="homeCardActions"
          [isMobile]="true"
          [showRightButton]="true"
          bmbVerticalLayoutItem
          [rowGrow]="1"
        >
          <p>Content for home card</p>
        </bmb-home-card>
        <bmb-home-card
          leftIcon="chevron_left"
          icon="account_balance_wallet"
          bgIconAppearance="green-light"
          title="Title"
          subtitle="Subtitle"
          [showRightButton]="true"
          (onExpandClick)="onExpandClick()"
          [style.view-transition-name]="'homeCardTransition'"
          bmbVerticalLayoutItem
          [rowGrow]="1"
        >
          <p>Small content for home</p>
        </bmb-home-card>

        <bmb-divider [type]="'simple'" bmbVerticalLayoutItem [rowGrow]="1" />
        <a href="https://www.youtube.com/" target="_blank"> enlace </a>
        <bmb-divider [type]="'simple'" bmbVerticalLayoutItem [rowGrow]="1" />
        <bmb-text-editor
          [control]="textEditorControl"
          bmbVerticalLayoutItem
          [rowGrow]="1"
        />
        <bmb-divider [type]="'simple'" />
        {{ textEditorControl.value | json }}
      </section>
    </section>
  </section>
</div>

<ng-template #modalTemplate>
  <div class="bmb_template-modal-content">
    <p>Some content for the modal</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
      ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus
      duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
      vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl
      malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
      aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos
      himenaeos.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
      ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus
      duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
      vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl
      malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
      aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos
      himenaeos.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
      ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus
      duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
      vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl
      malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
      aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos
      himenaeos.
    </p>
  </div>
</ng-template>

<ng-template #notificationTemplate>
  <div class="bmb_template-notification-content">
    <p>This is a notification!</p>
    <p>This is a notification!</p>
    <p>This is a notification!</p>
    <button>text</button>
  </div>
</ng-template>
