<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <bmb-checkbox
    id="checkbox_id1"
    name="checkbox1"
    label="Checkbox 1"
    [checked]="true"
    [required]="true"
    [control]="getFormControl('checkbox1')"
  />
  <bmb-checkbox
    id="checkbox_id2"
    name="checkbox1"
    label="Checkbox 2"
    [required]="true"
    [control]="getFormControl('checkbox1')"
  />
  <bmb-checkbox
    id="checkbox_id3"
    name="checkbox2"
    label="Checkbox 3"
    [required]="true"
    [control]="getFormControl('checkbox2')"
  />
  <bmb-datepicker
    inputId="datepicker_id1"
    name="datepicker1"
    label="Date"
    [isRequired]="true"
    [control]="getFormControl('datepicker1')"
  />
  <bmb-input
    id="input_field_id"
    name="input_field1"
    label="Input Label"
    tooltip="Tooltip example"
    icon="apps"
    placeholder="Placeholder"
    helperMessage="Helper Message"
    [maxlength]="20"
    [minlength]="4"
    pattern="[A-Za-z]+"
    [isRequired]="true"
    [control]="getFormControl('input_field1')"
  />
  <bmb-radial
    id="radial_id1"
    name="radial1"
    label="Radial"
    value="A"
    [control]="getFormControl('radial1')"
    (change)="handleRadial($event)"
  />
  <bmb-radial
    id="radial_id2"
    name="radial1"
    label="Radial"
    value="B"
    [control]="getFormControl('radial1')"
    (change)="handleRadial($event)"
  />
  <button bmbButton appearance="primary" type="submit">Submit</button>
</form>
FormGroup state: {{ userForm.status }}
<br />
FormGroup value {{ userForm.value | json }}
